<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:include="fragments/header :: header" />

        <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
        <style type="text/css">
            input[type=file] {
                display: none;
            }

            .images_wrap {

                border: 2px solid #A8A8A8;
                margin-top: 30px;
                margin-bottom: 30px;
                padding-top: 10px;
                padding-bottom: 10px;

            }
            .images_wrap img {
                max-width: 150px;
                margin-left: 10px;
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
        <nav th:replace="fragments/navigation :: navigation" />
        <div class="container">
            <div class="py-1 mb-5 text-center">
                <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h2>물품 등록</h2>
            </div>

            <div class="col-md order-md-1">
                <h4 class="mb-3">물품 기본정보 입력</h4>
                <form class="needs-validation" enctype="multipart/form-data" novalidate>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="product_category_top">카테고리 1차</label>
                            <select class="form-control" id="product_category_top" th:name="product_category_top" required>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="product_category_bottom">카테고리 2차</label>
                            <select class="form-control" id="product_category_bottom" th:name="product_category_bottom" required>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="product_name">상품명</label>
                            <input type="text" class="form-control" id="product_name" th:name="product_name" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="price">가격 <span class="text-muted">(원)</span></label></label>
                            <input type="text" class="form-control" id="price" th:name="price" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="product_name">제조사</label>
                            <input type="text" class="form-control" id="brand_name" th:name="brand_name" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="product_name">원산지</label>
                            <input type="text" class="form-control" id="made_in" th:name="made_in" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <h4 class="mb-3">물품 상세정보 입력</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="product_name">등록 년월</label>
                            <input type="text" class="form-control" id="register_date" th:name="register_date" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="product_name">a/s 안내</label>
                            <input type="text" class="form-control" id="as_number" th:name="as_number" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="spec1">스펙1 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                            <input type="text" class="form-control" id="spec1" th:name="spec1" required>
                            <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="spec2">스펙2 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                            <input type="text" class="form-control" id="spec2" th:name="spec2" required>
                            <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="spec3">스펙3 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                            <input type="text" class="form-control" id="spec3" th:name="spec3" required>
                            <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="spec4">스펙4 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                            <input type="text" class="form-control" id="spec4" th:name="spec4" required>
                            <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="spec5">스펙5 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                            <input type="text" class="form-control" id="spec5" th:name="spec5" required>
                            <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="spec6">스펙6 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                            <input type="text" class="form-control" id="spec6" th:name="spec6" required>
                            <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <h4 class="mb-3">상품 이미지 첨부</h4>
                    <div>
                        <div class="input_wrap">
                            <a href="javascript:" onclick="imageUploadAction();" class="btn btn-light">파일 업로드</a>
                            <input type="file" id="input_images" multiple/>
                        </div>
                    </div>
                    <div>
                        <div class="images_wrap">
                            <img id="img" />
                        </div>
                    </div>

                    <hr class="mb-4">
                    <h4 class="mb-3">상품 옵션</h4>
                    <div class="mb-2">
                        <button type="button" class="btn btn-light btn-sm" onclick="addOptionListener();">+옵션 추가</button>
                        <button type="button" class="btn btn-danger btn-sm">옵션 저장</button>
                    </div>
                    <div class="container">
                        <table class="table table-bordered" th:id="option_table">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>옵션명</th>
                                    <th>판매가(원)</th>
                                    <th>재고량</th>
                                    <th>???</th>
                                    <th>???</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="optionRow">
                                    <td><input type="text" class="form-control" th:value="1" disabled></td>
                                    <td><input type="text" class="form-control" placeholder="옵션명"></td>
                                    <td><input type="text" class="form-control" placeholder="추가 가격(원)"></td>
                                    <td><input type="text" class="form-control" placeholder="재고량"></td>
                                    <td><input type="text" class="form-control" placeholder="???"></td>
                                    <td><button type="button" class="btn btn-danger btn-sm" onclick="deleteOptionListener(this);">x</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr class="mb-4">
                    <h4 class="mb-3">내용 입력</h4>
                    <textarea th:name="content" id="editor"></textarea>

                    <hr class="mb-4">
                    <h4 class="mb-3">판매자 정보</h4>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">상품 등록</button>
                </form>
            </div>
        </div>
        <footer th:include="fragments/footer :: footer" />
    </body>
    <script type="text/javascript">
        // 이미지 업로드 관련
        // https://greatps1215.tistory.com/5 참고
        var sel_images = [];

        $(document).ready( function() {
            $("#input_images").on("change", handleImgFileSelect);
        });

        function imageUploadAction() {
            console.log("imageUploadAction");
            $("#input_images").trigger('click');
        }

        function handleImgFileSelect(e) {

            sel_images = [];
            $(".images_wrap").empty();

            var images = e.target.files;
            var imagesArr = Array.prototype.slice.call(images);

            var index = 0;

            imagesArr.forEach(function (i) {
                if(!i.type.match("image.*")) {
                    alert("확장자는 이미지만 가능합니다.");
                    return;
                }

                sel_images.push(i);
                console.log(sel_images);

                var reader = new FileReader();
                reader.onload = function (e) {
                    var html = "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction("+index+")\" id=\"img_id_"+index+"\"><img src=\"" + e.target.result + "\" data-file='"+i.name+"' class='selProductFile' title='Click to remove'></a>";
                        
                    $(".images_wrap").append(html);
                    index++;
                }

                reader.readAsDataURL(i);
            });
        }


        function deleteImageAction(index) {
            console.log("index : ",index);
            sel_images.splice(index,1);

            var img_id = "#img_id_"+index;
            $(img_id).remove();

            console.log(sel_images);
        }
        
        function submitAction() {
            var data = new FormData();

            for(var i = 0, len=sel_images.length; i < len; i++) {
                var name = "images_"+i;
                data.append(name,sel_images[i]);
            }
            data.append("image_count",sel_images.length);

            var xhr = new XMLHttpRequest()
            xhr.open("POST")
        }


    </script>
    <script type="text/javascript">
        // 옵션 추가 스크립트
        function addOptionListener() {
            var count = $("#option_table tbody tr").length +1;
            console.log(count);
            var option =
                '<tr id="optionRow">\n' +
                '<td><input type="text" class="form-control" id="option_number" value="'+count+'" disabled></td>\n' +
                '<td><input type="text" class="form-control" id="option" placeholder="옵션명"></td>\n' +
                '<td><input type="text" class="form-control" placeholder="추가 가격(원)"></td>\n' +
                '<td><input type="text" class="form-control" placeholder="재고량"></td>\n' +
                '<td><input type="text" class="form-control" placeholder="???"></td>\n' +
                '<td><input type="text" class="form-control" placeholder="???"></td>\n' +
                '<td><button type="button" class="btn btn-danger btn-sm" onclick="deleteOptionListener(this);" ">x</button></td>\n' +
                '</tr>';

            $("#option_table tbody tr:last").after(option);
        }
        
        function deleteOptionListener(obj) {
            var tr = $(obj).parent().parent();
            console.log(tr);
            tr.remove();
        }
        
    </script>
    <script>

        // smart editor 관련 설정
        var editor_id = '#editor';

        ClassicEditor
            .create( document.querySelector(editor_id), {
                language:"ko",
                height: 500
            })
            .then(function (editor) {
                editoro = editor;
                editor.plugins.get("FileRepository").createUploadAdapter = function (loader) {
                    return new CustomUploadAdapter(loader, "/images/board/press", function (result) {
                        var fileSeq = isEmpty(result[0]) ? "noimage" : result[0];
                        var imageUrl = window.location.protocol + "//" + window.location.host + "/image/" + fileSeq;
                        return {"default" : imageUrl};
                    });
                };
            })
            .catch(function (error) {
                console.log( error );
            } );
    </script>
    <footer th:include="fragments/footer :: footer" />
</html>