<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: header" />

    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
    <style>
        .ck.ck-editor__editable {
            min-height: 300px;
        }
    </style>
</head>
<body>
    <nav th:replace="fragments/navigation :: navigation" />
    <div class="container">
        <div class="py-1 mb-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h2>물품 등록</h2>
        </div>

        <div class="col-md orders-md-1">
            <h4 class="mb-3">물품 기본정보 입력</h4>
            <form class="needs-validation" th:action="@{/products}" th:method="post" enctype="multipart/form-data" onsubmit="return checkAllValidation()">
                <input th:type="hidden" th:name="seller.userId" th:value="${session.user.userId}" >
                <div class="row" >
                    <div class="form-group col-md-6 mb-3">
                        <label for="category_top">카테고리 분류 1차</label>
                        <select class="form-control" id="category_top" required>
                            <option disabled selected value>카테고리를 선택해주세요 </option>
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="category_middle"> 카테고리 분류 2차</label>
                        <select class="form-control" id="category_middle" th:name="category.id" required>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="product_name">상품명</label>
                        <input type="text" class="form-control" id="product_name" th:name="name" required>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="price">가격 <span class="text-muted">(원)</span></label></label>
                        <input type="text" class="form-control" id="price" th:name="price" required>
                        <small class="text-muted">1원이상 10억미만의 금액을 입력하세요</small>
                    </div>
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">물품 상세정보 입력</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="product_name">제조사</label>
                        <input type="text" class="form-control" id="brand_name" th:name="detail.manufacturer" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="product_name">원산지</label>
                        <input type="text" class="form-control" id="made_in" th:name="detail.origin" required>
                        <small class="text-danger">원산지를 허위표시 할 경우 전자상거래법에 의거 처벌받을 수 있습니다.</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="product_name">제조년월</label>
                        <input type="date" class="form-control" id="register_date" th:name="detail.manuplatedDate" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="product_name">a/s 안내</label>
                        <input type="text" class="form-control" id="as_number" th:name="detail.asNumber" required>
                        <small class="text-muted">a/s문의 관련 전화번호를 입력하세요</small>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="category_top">택배사</label>
                        <select class="form-control" th:name="deliveryVendor" required>
                            <option disabled selected value>택배사를 선택해주세요</option>
                            <option th:each="vendor : ${vendors}" th:value="${vendor}" th:text="${vendor.title}"></option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="price">가격 <span class="text-muted">(원)</span></label></label>
                        <input type="text" class="form-control" th:name="deliveryPrice" required>
                        <small class="text-muted">1원이상 10억미만의 금액을 입력하세요</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="spec1">스펙1 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                        <input type="text" class="form-control" id="spec1" th:name="detail.spec1">
                        <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="spec2">스펙2 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                        <input type="text" class="form-control" id="spec2" th:name="detail.spec2">
                        <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="spec3">스펙3 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                        <input type="text" class="form-control" id="spec3" th:name="detail.spec3">
                        <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="spec4">스펙4 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                        <input type="text" class="form-control" id="spec4" th:name="detail.spec4">
                        <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="spec5">스펙5 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                        <input type="text" class="form-control" id="spec5" th:name="detail.spec5">
                        <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="spec6">스펙6 <span class="text-muted">(제품의 상세스펙)</span></label></label>
                        <input type="text" class="form-control" id="spec6" th:name="detail.spec6">
                        <small class="text-muted">제품의 상세 스펙을 적으세요</small>
                    </div>
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">썸네일 이미지 첨부(리스트 노출용)</h4>
                <div>
                    <img id="thumnail_preview" src="#" th:height="200px" th:width="300px"/>
                    <br />
                    <input type="file" th:name="thumnails" accept=".gif, .jpg, .png" onchange="readURL(this)" multiple />
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">상품 옵션</h4>
                <div class="mb-2">
                    <button type="button" class="btn btn-light btn-sm" id="addOptionButton">+옵션 추가</button>
                    <button type="button" class="btn btn-light btn-sm" id="checkOption">검증</button>
                    <table class="table table-bordered mt-3" th:id="option_table">
                        <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">옵션명</th>
                            <th scope="col">판매가(원)</th>
                            <th scope="col">재고량</th>
                            <th scope="col">관리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="optionRow">
                            <td><input type="text" class="form-control sm" name="options[0].optionId" th:value="1" readonly ></td>
                            <td><input type="text" class="form-control" name="options[0].optionName" placeholder="옵션명" ></td>
                            <td><input type="text" class="form-control" name="options[0].price" placeholder="추가 가격(원)" ></td>
                            <td><input type="text" class="form-control" name="options[0].quantity" placeholder="재고량" ></td>
                            <td><button type="button" class="btn btn-danger btn-sm" onclick="deleteOptionListener(this);">x</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">내용 입력</h4>
                <textarea th:name="contents" id="editor"></textarea>

                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit">상품 등록</button>
            </form>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer" />
</body>

<script type="text/javascript">
    // 옵션 추가 스크립트
    $(document).on('click',"#addOptionButton", () => {
        var count = $("#option_table tbody tr").length;
        if(count < 10) {
            var orders = count + 1;
            var option =
                '<tr id="optionRow">\n' +
                '<td><input type="text" class="form-control" name ="options['+count+'].optionId" value="'+orders+'" readonly ></td>\n' +
                '<td><input type="text" class="form-control" name="options['+count+'].optionName" placeholder="옵션명" ></td>\n' +
                '<td><input type="text" class="form-control" name="options['+count+'].price" placeholder="추가 가격(원)" ></td>\n' +
                '<td><input type="text" class="form-control" name="options['+count+'].quantity" placeholder="재고량" ></td>\n' +
                '<td><button type="button" class="btn btn-danger btn-sm" onclick="deleteOptionListener(this);" ">x</button></td>\n' +
                '</tr>';

            $("#option_table tbody tr:last").after(option);
        } else {
            alert("옵션은 10개이상 추가가 불가능합니다.");
        }
    });

    // 이상하게 정규표현식적용이 되지 않음
    // $(document).on('click',"#checkOption",() => {
    //     var count = $("#option_table tbody tr").length;
    //     optionCheck = true;
    //
    //     while(count > 0) {
    //         if(!check(emptyReg,$("#option_table tbody tr")[count-1].getElementsByTagName('input')[1])) {
    //             alert("옵션명 에러")
    //             optionCheck = false;
    //         } else if(check(positiveIntegerReg,$("#option_table tbody tr")[count-1].getElementsByTagName('input')[2]) ) {
    //             alert("판매가 에러")
    //             optionCheck = false;
    //         } else if(check(positiveIntegerReg,$("#option_table tbody tr")[count-1].getElementsByTagName('input')[3])) {
    //             alert("재고량 에러")
    //             optionCheck = false;
    //         }
    //         count--;
    //     }
    // });

    function deleteOptionListener(obj) {
        var tr = $(obj).parent().parent();
        tr.remove();
    }

</script>
<script th:inline="javascript" th:src="@{/js/product/editor.js}"></script>
<script th:inline="javascript" th:src="@{/js/category/getCategoryBySelectedOption.js}"></script>
<script type="text/javascript">
    //썸네일 업로드 할 이미지 미리보기
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#thumnail_preview').attr('src', e.target.result);
            }
                reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    //Validation check Point
    var emptyReg = /^\s+|\s+$/g;
    var nameCheck = false;

    var positiveIntegerReg =  /^([1-9])([0-9]{1,9})$/;
    var priceCheck = false;
    var optionCheck = true;


    $(document).on('change',"#product_name",(e) => {
        var name = e.target;
        if(!check(emptyReg,name)) {
            nameCheck = true;
        } else {
            alert("공백은 허용되지 않습니다.");
            name.value = "";
            nameCheck = false;
        }
    });



    $(document).on('change',"#price",(e) => {
        var price = e.target;
        if(check(positiveIntegerReg,price)) {
            priceCheck = true;
        } else {
            alert("0원이상, 10억미만의 금액만 입력가능 합니다.");
            price.value = "";
            priceCheck = false;
        }
    });

    var teleReg = /^\d{2,3}-\d{3,4}-\d{4}$/;
    var asCheck = false;


    $(document).on('change',"#as_number",(e) => {
        var number = e.target;
        if(check(teleReg,number)) {
            asCheck = true;
        } else {
            alert("정확한 번호를 입력하세요.");
            number.value = "";
            asCheck = false;
        }
    });


    function check(re, what) {
        if(re.test(what.value)) {
            return true;
        }
    }

    function checkAllValidation() {
        if(nameCheck && priceCheck && optionCheck && asCheck) {
            return true;
        } else {
            if(!nameCheck) {
                document.getElementById('product_name').focus()
            } else if(!priceCheck) {
                document.getElementById('price').focus();
            } else if(!asCheck) {
                document.getElementById('as_number').focus();
            } else if(!optionCheck) {
                document.getElementById('checkOption').focus();
            }
            console.log("name : " + nameCheck + " price : " + priceCheck + " as :" + asCheck + " option : " + optionCheck);
            return false;
        }
    }
</script>
<footer th:include="fragments/footer :: footer" />
</html>