<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />
<head>
    <link th:href="@{/css/blog.css}" rel="stylesheet">
    <link th:href="@{/css/category.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header th:replace="product/product-nav :: product-nav" />
        <nav th:replace="product/product-search :: product-search" />
    </div>
    <div th:replace="product/carousel-menu :: carousel-menu" />
    <div class="mt-5">
        <div class="mb-5">
            <div class="container" style="max-width: 75em">
                <div class="text-center">
                    <h3 class="text-monospace">오늘의 신상!</h3>
                    <p class="text-muted">오늘 등록된 새로운 상품들</p>
                </div>
                <div class="row mt-3">
                    <ul th:each="product : ${products}">
                        <li class="card mb-7" data-toggle="card-collapse" style="width: 20em; height: 26em">
                            <a th:href="@{'/products/'+${product.productId}}">
                                <img th:src="${product.thumbnail}" style="width: 315px; height: 320px">
                            </a>
                            <div class="card-collapse-parent">
                                <div class="text-center">
                                    <div class="mb-1">
                                        <a class="text-body" th:href="@{'/products/'+${product.productId}}">[[${product.name}]]</a>
                                    </div>
                                </div>
                                <div class="mb-1 font-weight-bold text-center" th:text="${#numbers.formatInteger(product.price,3,'COMMA')}+'원'"></div>
                                <div class="rating font-size-xxs text-dark justify-content-center">
                                    <div class="rating-item">
                                        <i class="fas fa-star">
                                        </i>
                                    </div>
                                </div>
                                <div class="card-collapse collapse">
                                    <div class="card-footer px-0 pt-0 bg-white text-center">

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="container" style="max-width: 75em">
                <div class="text-center">
                    <h3 class="text-monospace">유저들의 베스트 초이스</h3>
                    <p class="text-muted">유저들이 선택한 베스트 상품!!!</p>
                </div>
                <div class="row mt-3">
                    <ul th:each="product : ${products}">
                        <li class="card mb-7" data-toggle="card-collapse" style="width: 16em; height: 26em">
                            <a th:href="@{'/products/'+${product.productId}}">
                                <img th:src="${product.thumbnail}" style="width: 15.6em; height: 20em">
                            </a>
                            <div class="card-collapse-parent">
                                <div>
                                    <div class="mb-1">
                                        <a class="text-body" th:href="@{'/products/'+${product.productId}}" th:text="${product.name}"></a>
                                    </div>
                                </div>
                                <div class="mb-1 font-weight-bold text-center" th:text="${#numbers.formatInteger(product.price,3,'COMMA')}+'원'"></div>
                                <div class="rating font-size-xxs text-dark justify-content-center">
                                    <div class="rating-item">
                                        <i class="fas fa-star">
                                        </i>
                                    </div>
                                </div>
                                <div class="card-collapse collapse">
                                    <div class="card-footer px-0 pt-0 bg-white text-center">

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="py-5 mb-5 bg-light">
            <div class="container" style="max-width: 75em">
                <div class="text-center">
                    <h3 class="text-monospace">이벤트 특가</h3>
                </div>
                <div class="row mt-3">
                    <ul th:each="product : ${products}">
                        <li class="card mb-7" data-toggle="card-collapse" style="width: 16em; height: 26.2em">
                            <a th:href="@{'/products/'+${product.productId}}">
                                <img th:src="${product.thumbnail}" style="width: 15.6em; height: 20em">
                            </a>
                            <div class="card-collapse-parent">
                                <div>
                                    <div class="mb-1">
                                        <a class="text-body" th:href="@{'/products/'+${product.productId}}" th:text="${product.name}"></a>
                                    </div>
                                </div>
                                <div class="mb-1 font-weight-bold text-center" th:text="@{${#numbers.formatInteger(product.price,3,'COMMA')}+'원'}"></div>
                                <div class="rating font-size-xxs text-dark justify-content-center">
                                    <div class="rating-item">
                                        <i class="fas fa-star">
                                        </i>
                                    </div>
                                </div>
                                <div class="card-collapse collapse">
                                    <div class="card-footer px-0 pt-0 bg-white text-center">

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
<footer th:include="fragments/footer :: footer" />
<script>

    $(document).on('mouseenter',"#categoryBtn", function () {
        var x = document.getElementById("category");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    });
    //
    // $(document).on('mouseleave',"#categoryBtn", function () {
    //     var x = document.getElementById("category");
    //     if (x.style.display === "block") {
    //         x.style.display = "none";
    //     }
    // });

</script>
</html>