<div class="container new-arrivals bg-white p-5" th:fragment="new-product">
    <div class="heading heading-flex heading-border mb-3">
        <div class="heading-left">
            <h2 class="title">따끈따끈 신상</h2><!-- End .title -->
        </div><!-- End .heading-left -->

        <div class="heading-right">
            <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="computer-link" data-toggle="tab" href="#computer-tab" role="tab" aria-controls="computer-tab" aria-selected="true">컴퓨터/노트북</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-link" data-toggle="tab" href="#mobile-tab" role="tab" aria-controls="mobile-tab" aria-selected="false">모바일/태블릿</a>
                </li>
            </ul>
        </div><!-- End .heading-right -->
    </div><!-- End .heading -->

    <div class="tab-content tab-content-carousel just-action-icons-sm">
        <div class="tab-pane p-0 fade show active" id="computer-tab" role="tabpanel" aria-labelledby="computer-link">
            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                 data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                <div class="product product-2" th:each="computer : ${latestComputerList}">
                    <figure class="product-media">
                        <a th:href="@{'/products/'+${computer.productId}}">
                            <img th:src="${computer.thumbnail}" alt="Product image" class="product-image">
                        </a>
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#" th:text="${computer.category.name}"></a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a th:href="@{'/products/'+${computer.productId}}" th:text="${computer.name}"></a></h3><!-- End .product-title -->
                        <div class="product-price" th:text="@{${#numbers.formatInteger(computer.price,3,'COMMA')}+'원'}">
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .owl-carousel -->
        </div><!-- .End .tab-pane -->
        <div class="tab-pane p-0 fade" id="mobile-tab" role="tabpanel" aria-labelledby="mobile-link">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow owl-loaded owl-drag" data-toggle="owl"
                 data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                <div class="product product-2" th:each="mobile : ${latestMobileList}">
                    <figure class="product-media">
                        <a th:href="@{'/products/'+${mobile.productId}}">
                            <img th:src="${mobile.thumbnail}" alt="Product image" class="product-image">
                        </a>
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#" th:text="${mobile.category.name}"></a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a th:href="@{'/products/'+${mobile.productId}}" th:text="${mobile.name}"></a></h3><!-- End .product-title -->
                        <div class="product-price" th:text="@{${#numbers.formatInteger(mobile.price,3,'COMMA')}+'원'}">
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .owl-carousel -->
        </div><!-- .End .tab-pane -->
    </div><!-- End .tab-content -->
</div><!-- End .container -->