<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />
<head th:include="fragments/header :: header-product" />
<head>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/nouislider/nouislider.css}">
    <link rel="stylesheet" th:href="@{/assets/css/demos/demo-13.css}">
</head>
<body>
<header th:insert="product/product-nav :: product-nav-2" />
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-xl-4-5col">
                <div class="category-banners-slider owl-carousel owl-simple owl-nav-inside owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                                    &quot;nav&quot;: false,
                                    &quot;responsive&quot;: {
                                        &quot;768&quot;: {
                                            &quot;nav&quot;: true
                                        }
                                    }
                                }">
                    <!-- End .banner -->
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1860px, 0px, 0px); transition: all 0s ease 0s; width: 5583px;">
                            <div class="owl-item cloned" style="width: 930.391px;">
                                <div class="banner banner-poster">
                                    <a href="#">
                                        <img th:src="@{/assets/images/demos/demo-13/banners/banner-7.jpg}" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-right">
                                        <h3 class="banner-subtitle"><a href="#">Amazing Value</a></h3><!-- End .banner-subtitle -->
                                        <h2 class="banner-title"><a href="#">High Performance 4K TVs</a></h2><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 930.391px;">
                                <div class="banner banner-poster">
                                    <a href="#">
                                        <img th:src="@{/assets/images/demos/demo-13/banners/banner-8.jpg}" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h3 class="banner-subtitle"><a href="#">Weekend Deal</a></h3><!-- End .banner-subtitle -->
                                        <h2 class="banner-title"><a href="#">Apple &amp; Accessories</a></h2><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 930.391px;">
                                <div class="banner banner-poster">
                                    <a href="#">
                                        <img th:src="@{/assets/images/demos/demo-13/banners/banner-7.jpg}" alt="Banner">
                                    </a>
                                    <div class="banner-content banner-content-right">
                                        <h3 class="banner-subtitle"><a href="#">Amazing Value</a></h3><!-- End .banner-subtitle -->
                                        <h2 class="banner-title"><a href="#">High Performance 4K TVs</a></h2><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div>
                            </div>
                            <div class="owl-item" style="width: 930.391px;">
                                <div class="banner banner-poster">
                                    <a href="#">
                                        <img th:src="@{/assets/images/demos/demo-13/banners/banner-8.jpg}" alt="Banner">
                                    </a>
                                    <div class="banner-content">
                                        <h3 class="banner-subtitle"><a href="#">Weekend Deal</a></h3><!-- End .banner-subtitle -->
                                        <h2 class="banner-title"><a href="#">Apple &amp; Accessories</a></h2><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 930.391px;">
                                <div class="banner banner-poster">
                                    <a href="#">
                                        <img th:src="@{/assets/images/demos/demo-13/banners/banner-7.jpg}" alt="Banner">
                                    </a>
                                    <div class="banner-content banner-content-right">
                                        <h3 class="banner-subtitle"><a href="#">Amazing Value</a></h3><!-- End .banner-subtitle -->
                                        <h2 class="banner-title"><a href="#">High Performance 4K TVs</a></h2><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 930.391px;">
                                <div class="banner banner-poster">
                                    <a href="#">
                                        <img th:src="@{/assets/images/demos/demo-13/banners/banner-8.jpg}" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h3 class="banner-subtitle"><a href="#">Weekend Deal</a></h3><!-- End .banner-subtitle -->
                                        <h2 class="banner-title"><a href="#">Apple &amp; Accessories</a></h2><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev">
                            <i class="icon-angle-left"></i>
                        </button>
                        <button type="button" role="presentation" class="owl-next">
                            <i class="icon-angle-right"></i>
                        </button>
                    </div>
                    <div class="owl-dots">
                        <button role="button" class="owl-dot active"><span></span></button>
                        <button role="button" class="owl-dot"><span></span></button>
                    </div>
                </div><!-- End .owl-carousel -->

                <div class="mb-3"></div><!-- End .mb-3 -->

                <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->

                <div class="mb-2"></div><!-- End .mb-2 -->

                <h2 class="title title-border">특별히 눈 여겨 볼 상품</h2><!-- End .title -->

                <div class="owl-carousel owl-simple owl-nav-top carousel-equal-height carousel-with-shadow owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                                    &quot;nav&quot;: true,
                                    &quot;dots&quot;: false,
                                    &quot;margin&quot;: 20,
                                    &quot;loop&quot;: false,
                                    &quot;responsive&quot;: {
                                        &quot;0&quot;: {
                                            &quot;items&quot;:2
                                        },
                                        &quot;480&quot;: {
                                            &quot;items&quot;:2
                                        },
                                        &quot;768&quot;: {
                                            &quot;items&quot;:3
                                        },
                                        &quot;1200&quot;: {
                                            &quot;items&quot;:4
                                        }
                                    }
                                }">
                    <!-- End .product -->

                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1188px;">
                            <div class="owl-item" style="width: 217.598px; margin-right: 20px;" th:each="recommend,idx : ${recommends}" th:classappend="${idx.index} < 3 ? 'active' : ''">
                                <div class="product">
                                    <figure class="product-media">
                                        <a th:href="@{'/products/'+${recommend.productId}}">
                                            <img th:src="${recommend.thumbnail}" alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#" th:text="${recommend.category.name}"></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a th:href="@{'/products'+${recommend.productId}}" th:text="${recommend.name}"></a></h3><!-- End .product-title -->
                                        <div class="product-price" th:text="${recommend.price}"></div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" th:style="'width:'+${recommend.getRating() * 20}+'%;'"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text" th:text="${'( '+recommend.reviewList.size()+' 개 리뷰 )'}"></span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev disabled">
                            <i class="icon-angle-left"></i>
                        </button>
                        <button type="button" role="presentation" class="owl-next">
                            <i class="icon-angle-right"></i>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div><!-- End .owl-carousel -->

                <div class="toolbox">
                    <div class="toolbox-left">
                        <div class="toolbox-info" th:text="${count}+'개의 물품'">

                        </div><!-- End .toolbox-info -->
                    </div><!-- End .toolbox-left -->

                    <div class="toolbox-right">
                        <div class="toolbox-sort">
                            <label for="sortby">정렬</label>
                            <div class="select-custom">
                                <select name="sortby" id="sortby" class="form-control">
                                    <option value="popularity" selected="selected">판매순</option>
                                    <option value="rating">평점순</option>
                                    <option value="date">최신순</option>
                                </select>
                            </div>
                        </div><!-- End .toolbox-sort -->
                    </div><!-- End .toolbox-right -->
                </div><!-- End .toolbox -->

                <div class="products mb-3">
                    <div class="row product-list">
                        <div class="col-6 col-md-4 col-xl-3" th:each="product : ${productList}">
                            <div class="product">
                                <figure class="product-media">
                                    <a th:href="@{'/products/'+${product.productId}}">
                                        <img th:src="${product.thumbnail}" alt="Product image" class="product-image">
                                    </a>
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a th:href="@{'/products/category/'+${product.category.id}}" th:text="${product.category.name}"></a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a th:href="@{'/products/'+${product.productId}}" th:text="${product.name}"></a></h3><!-- End .product-title -->
                                    <div class="product-price" th:text="@{${#numbers.formatInteger(product.price,3,'COMMA')}+'원'}">
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" th:style="'width:'+${product.rating * 20}+'%;'"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text" th:text="${'( '+product.reviewList.size()+' 개 리뷰 )'}"></span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-xl-3 -->
                    </div><!-- End .row -->
                </div><!-- End .products -->

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" th:if="${productPageMaker.prev}">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true" >
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                        </li>
                        <li class="page-item" th:each="idx : ${#numbers.sequence(productPageMaker.startPage,productPageMaker.endPage)}" th:classappend="${productPageMaker.criteria.page} == ${idx} ? active" aria-current="page">
                            <a class="page-link" th:href="@{${idx}}" th:text="${idx}" th:if="${idx} > 0"></a>
                        </li>
                        <li class="page-item" th:if="${productPageMaker.next && productPageMaker.endPage > 0}">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><!-- End .col-lg-9 -->

            <aside class="col-lg-3 col-xl-5col order-lg-first">
                <div class="sidebar sidebar-shop">
                    <div class="widget">
                        <h3 class="widget-title">가격</h3><!-- End .widget-title -->
                        <div class="widget-body">
                            <div class="filter-items">
                                <div class="filter-item">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="price-1" name="filter-price">
                                        <label class="custom-control-label" for="price-1">5만원 이하</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="price-2" name="filter-price">
                                        <label class="custom-control-label" for="price-2">5만원 ~ 30만원</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="price-3" name="filter-price">
                                        <label class="custom-control-label" for="price-3">30만원 ~ 50만원</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="price-4" name="filter-price">
                                        <label class="custom-control-label" for="price-4">50만원 ~ 100만원</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="price-5" name="filter-price">
                                        <label class="custom-control-label" for="price-5">100만원 이상</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->
                            </div><!-- End .filter-items -->
                        </div><!-- End .widget-body -->
                    </div><!-- End .widget -->

                    <div class="widget">
                        <h3 class="widget-title">평점</h3><!-- End .widget-title -->
                        <div class="widget-body">
                            <div class="filter-items">
                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cus-rating-1" name="filter-rating">
                                        <label class="custom-control-label" for="cus-rating-1">
                                                            <span class="ratings-container">
                                                                <span class="ratings">
                                                                    <span class="ratings-val" style="width: 100%;"></span><!-- End .ratings-val -->
                                                                </span><!-- End .ratings -->
                                                                <span class="ratings-text">( 5점 이상)</span>
                                                            </span><!-- End .rating-container -->
                                        </label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cus-rating-2" name="filter-rating">
                                        <label class="custom-control-label" for="cus-rating-2">
                                                            <span class="ratings-container">
                                                                <span class="ratings">
                                                                    <span class="ratings-val" style="width: 80%;"></span><!-- End .ratings-val -->
                                                                </span><!-- End .ratings -->
                                                                <span class="ratings-text">( 4점 이상)</span>
                                                            </span><!-- End .rating-container -->
                                        </label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cus-rating-3" name="filter-rating">
                                        <label class="custom-control-label" for="cus-rating-3">
                                                            <span class="ratings-container">
                                                                <span class="ratings">
                                                                    <span class="ratings-val" style="width: 60%;"></span><!-- End .ratings-val -->
                                                                </span><!-- End .ratings -->
                                                                <span class="ratings-text">( 3점 이상)</span>
                                                            </span><!-- End .rating-container -->
                                        </label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cus-rating-4" name="filter-rating">
                                        <label class="custom-control-label" for="cus-rating-4">
                                                            <span class="ratings-container">
                                                                <span class="ratings">
                                                                    <span class="ratings-val" style="width: 40%;"></span><!-- End .ratings-val -->
                                                                </span><!-- End .ratings -->
                                                                <span class="ratings-text">( 2점 이상)</span>
                                                            </span><!-- End .rating-container -->
                                        </label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cus-rating-5" name="filter-rating">
                                        <label class="custom-control-label" for="cus-rating-5">
                                                            <span class="ratings-container">
                                                                <span class="ratings">
                                                                    <span class="ratings-val" style="width: 20%;"></span><!-- End .ratings-val -->
                                                                </span><!-- End .ratings -->
                                                                <span class="ratings-text">( 1점 이상)</span>
                                                            </span><!-- End .rating-container -->
                                        </label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->
                            </div><!-- End .filter-items -->
                        </div><!-- End .widget-body -->
                    </div><!-- End .widget -->

                    <div class="widget widget-banner-sidebar">
                        <div class="banner-sidebar-title">ad banner 218 x 430px</div><!-- End .ad-title -->

                        <div class="banner-sidebar banner-overlay">
                            <a href="#">
                                <img th:src="@{/assets/images/demos/demo-13/banners/banner-6.jpg}" alt="banner">
                            </a>
                        </div><!-- End .banner-ad -->
                    </div><!-- End .widget -->
                </div><!-- End .sidebar sidebar-shop -->
            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div>
<div class="mb-4"></div><!-- End .mb-4 -->

<div class="container">
    <hr class="mb-0">
</div><!-- End .container -->

<div class="icon-boxes-container bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rocket"></i>
                            </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">무료 배송</h3><!-- End .icon-box-title -->
                        <p>3만원 이상 구매시 무료배송</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rotate-left"></i>
                            </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                        <p>Within 30 days</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-info-circle"></i>
                            </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">20%쿠폰 증정</h3><!-- End .icon-box-title -->
                        <p>회원가입 시</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-life-ring"></i>
                            </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">고객센터</h3><!-- End .icon-box-title -->
                        <p>365일 상담가능</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .icon-boxes-container -->
</body>
<footer th:include="fragments/footer :: footer" />
<div class="footer-bottom">
    <div class="container">
        <p class="footer-copyright">Copyright © 2020 SuppingMall. All Rights Reserved.</p><!-- End .footer-copyright -->
        <figure class="footer-payments">
            <img th:src="@{/assets/images/payments.png}" alt="Payment methods" width="272" height="20">
        </figure><!-- End .footer-payments -->
    </div><!-- End .container -->
</div>
<script th:inline="javascript">

    var originMaxPrice = [[${search?.maxPrice}]];
    var originMinPrice = [[${search?.minPrice}]];
    var originPage = [[${productPageMaker.criteria?.page}]];
    var originPage = [[${productPageMaker.criteria?.page}]];
    var originRating = [[${search?.rating}]];
    var search = [[${search}]];
    var originSortedBy = '';

    var radioIndex = -1;
    var checkBoxIndex = -1;

    $(document).on('click','input:checkbox', function (e){
        var name = e.target.name;
        if(checkBoxIndex === e.target.id){
            checkBoxIndex = -1;
            document.getElementById()
        }else {

        }
        ratingEventHandler(e.target.id);
    });

    $(document).on('click','input:radio', function (e){
        var name = e.target.name;
        if(radioIndex === e.target.id) {
            radioIndex = -1;
            document.getElementById(e.target.id).checked = false;
            priceEventHandler('price-6');
        } else {
            radioIndex = e.target.id
            priceEventHandler(e.target.id);
        }
    });

    function priceEventHandler(id) {
        var num = id.charAt(id.length-1);
        switch (num){
            case '1':
                originMaxPrice = 50000;
                originMinPrice = '';
                break;
            case '2':
                originMaxPrice = 300000;
                originMinPrice = 50000;
                break;
            case '3':
                originMaxPrice = 500000;
                originMinPrice = 300000;
                break;
            case '4':
                originMaxPrice = 1000000;
                originMinPrice = 500000;
                break;
            case '5':
                originMaxPrice = '';
                originMinPrice = 1000000;
                break;
            default:
                originMaxPrice = '';
                originMinPrice = '';
        }

        requestSearch()
    }



    function ratingEventHandler(id) {
        var num = id.charAt(id.length-1);
        switch (num){
            case '1':
                originRating = 5;
                break;
            case '2':
                originRating = 4;
                break;
            case '3':
                originRating = 3;
                break;
            case '4':
                originRating = 2;
                break;
            case '5':
                originRating = 1;
                break;
            default:
                originRating = 0;
        }

        requestSearch();
    }


    function requestSearch(){
        var url = '/products?';
        var query= '';

        if(search.categoryName !== null) {
            query += 'categoryName=' + search.categoryName + '&&';
        }
        if(search.name !== null) {
            query += 'name=' + search.name + '&&';
        }
        if(originMinPrice > 0)
            query += 'minPrice='+ originMinPrice +'&&';
        if(originMaxPrice > 0)
            query += 'maxPrice=' + originMaxPrice +'&&';
        if(originPage > 0)
            query += 'page=' + originPage + '&&';
        if(originRating > 0)
            query += 'rating=' + originRating + '&&';

        console.log(query);

        // $.ajax({
        //     url: url+query,
        //     type: 'GET',
        //     contentType: 'application/json',
        //     success: (list) => {
        //         setProduct(list.productList);
        //         setPageList(list.productPageMaker);
        //     }
        // });
    }

    function setProduct(productList){
        console.log(productList);
        var list = []
        productList.forEach(product =>{
            var one =   '<div class="col-6 col-md-4 col-xl-3">\n' +
                        '       <div class="product">\n' +
                        '          <figure class="product-media">\n' +
                        '               <a href="/products/+${product.productId}"}>\n' +
                        '                   <img src="'+product.thumbnail+'" alt="Product image" class="product-image">\n' +
                        '               </a>\n' +
                        '           </figure><!-- End .product-media -->\n' +
                        '           <div class="product-body">\n' +
                        '                <div class="product-cat">\n' +
                        '                     <a href="/products/category/'+product.category.id+'">'+product.category.name+'</a>\n' +
                        '                </div><!-- End .product-cat -->\n' +
                        '                <h3 class="product-title">' +
                        '                    <a href="/products/'+product.productId+'">'+product.name+'</a></h3><!-- End .product-title -->\n' +
                        '            <div class="product-price">'+numberWithCommas(product.price)+'원</div><!-- End .product-price -->\n' +
                        '                 <div class="ratings-container">\n' +
                        '                      <div class="ratings">\n' +
                        '                           <div class="ratings-val" style="width:'+product.rating * 20+'%;"></div><!-- End .ratings-val -->\n' +
                        '                      </div><!-- End .ratings -->\n' +
                        '                      <span class="ratings-text">( '+product.reviewList.length+'개 리뷰 )</span>\n' +
                        '                  </div><!-- End .rating-container -->\n' +
                        '             </div><!-- End .product-body -->\n' +
                        '         </div><!-- End .product -->\n' +
                        '</div>';
            list.push(one);
        });

        $('.product-list').empty();
        $('.product-list').append(list);

    }

    function setPageList(pageMaker) {
        var str = "";

        if(pageMaker.prev){
            str += '<li class="page-item"><a class="page-link"  href="'+(pageMaker.startPage - 1)+'" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>'
        }

        for(var i = pageMaker.startPage; i <= pageMaker.endPage; i++) {
            var strClass = pageMaker.criteria.page === i? 'class=active' : '';
            str += '<li class="page-item '+strClass+'"><a class="page-link" href="'+i+'">'+i+'</a></li>'
        }


        if(pageMaker.next){
            str += '<li class="page-item"><a class="page-link"  href="'+(pageMaker.endPage - 1)+'" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>'
        }

        $('.pagination').html(str);
    }

    $(".pagination").on("click","li a", function (event){
        event.preventDefault();
        var page = event.target.getAttribute('href');
        originPage = page;
        requestSearch();
    });

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

</script>
</html>