<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="recommand-category" class="container">
        <h2 class="title text-center mb-4">추천 카테고리</h2><!-- End .title text-center -->
        <div class="cat-blocks-container">
            <div class="row">
                <div class="col-6 col-sm-4 col-lg-2">
                    <a href="/products/category/notebook" class="cat-block">
                        <figure>
                            <span>
                                <img th:src="@{/assets/images/demos/demo-4/cats/1.png}" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title">노트북</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-6 col-sm-4 col-lg-2">
                    <a href="/products/category/camera" class="cat-block">
                        <figure>
                            <span>
                                <img th:src="@{/assets/images/demos/demo-4/cats/2.png}" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title">디지털 카메라</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-6 col-sm-4 col-lg-2">
                    <a href="/products/category/mobile" class="cat-block">
                        <figure>
                            <span>
                                <img th:src="@{/assets/images/demos/demo-4/cats/3.png}" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title">스마트폰</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-6 col-sm-4 col-lg-2">
                    <a href="/products/category/tv" class="cat-block">
                        <figure>
                            <span>
                                <img th:src="@{/assets/images/demos/demo-4/cats/4.png}" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title">텔레비전</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-6 col-sm-4 col-lg-2">
                    <a href="/products/category/audio" class="cat-block">
                        <figure>
                            <span>
                                <img th:src="@{/assets/images/demos/demo-4/cats/5.png}" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title">오디오</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-6 col-sm-4 col-lg-2">
                    <a href="/products/category/smartDevice" class="cat-block">
                        <figure>
                            <span>
                                <img th:src="@{/assets/images/demos/demo-4/cats/6.png}" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title">스마트 기기</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->
            </div><!-- End .row -->
        </div><!-- End .cat-blocks-container -->
    </div><!-- End .container -->
</html>