<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />
<head th:include="fragments/header :: header-product" />
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<style>
    .qna {display: table; width: 100%; border-bottom: solid 1px #dee2e6; border-top: 2px solid #000000;}
        .tableRow {display: table; width: 100%; table-layout: fixed}
        .tableHeader {display: table; width: 100%; table-layout: fixed}
         li.body > div.cell.qnaTitle {display: table-cell; padding: 16px; text-align: left; vertical-align: middle}
        .tableHeader > .cell {border-bottom: solid 1px #dee2e6; display: table-cell; padding: 16px; text-align: center; vertical-align: middle; font-weight: bold}
        .body > .cell {display: table-cell; padding: 16px; text-align: center; vertical-align: middle}
        .replyYn { width: 10%;}
        .qnaTitle {width: 70%;}
        .creator {width: 10%;}
        .createdDate {width: 10%;}
</style>
</head>
<body>
<div class="page-wrapper">
    <header th:insert="product/product-nav :: product-nav-2" />
    <nav class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb mb-0 font-size-xs">
                        <li class="breadcrumb-item">
                            <a href="#" th:text="${product?.category.parent.parent.name}">
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#" th:text="${product?.category.parent.name}">
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="'/products/category/'+${product.category.enName}" th:text="${product?.category.name}">
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="container">
            <h1 class="mt-2 font-weight-bold" th:text="${product.name}"></h1>
            <hr style="border: solid 1px">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img th:src="${product.thumbnail}">
                        </div>
                        <div class="col-12 col-md-6 pl-lg-10">
                            <form role="form">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <input type="hidden" name="productId" id="productId" th:value="${product.productId}">
                                <input type="hidden" sec:authorize="isAuthenticated()" name="buyerId" id="userId" th:value="${#authentication.principal?.userId}">
                                <input type="hidden" name="sellerId" id="sellerId" th:value="${product.seller.userId}">
                                <input type="hidden" name="orderItems" id="orderItemJson">
                                <!-- manufacturer -->
                                <div class="font-weight-bold">
                                    <strong class="d-inline-block text-danger" th:text="${product.detail.manufacturer}"></strong>
                                </div>
                                <hr>
                                <!-- price -->
                                <div>
                                    <h4 class="mb-1 font-weight-bold text-muted" th:text="@{${#numbers.formatInteger(product.price,3,'COMMA')}+'원'}"></h4>
                                </div>
                                <hr>
                                <p th:text="@{'배송사 : '+${product.deliveryVendor.title}+'  배송비 :' + ${#numbers.formatInteger(product.deliveryPrice,3,'COMMA')}+'원'+' | 도서산간배송비 추가'}"></p>
                                <hr>
                                <!-- origin -->
                                <div class="font-weight-bold" th:text="@{'원산지 :'+${product.detail.origin}}"></div>

                                <hr>
                                <div>
                                    <label for="product_options">옵션</label>
                                    <select class="form-control" id="product_options" required>
                                        <option disabled selected value>선택하세요</option>
                                        <option th:each="option : ${product.options}" th:value="${option.price}" th:text="${option.optionName}"></option>
                                    </select>
                                </div>
                                <hr>
                                <form th:method="post" action="/orders/">

                                </form>
                                <div th:id="product_composition_last">
                                    <ul th:id="add_option_area"></ul>
                                </div>
                                <div th:id="total_pr" class="mb-4">
                                </div>
                                <div class="btn-group" role="group">
                                    <a type="button" id="cart" class="btn btn-outline-dark">장바구니 담기</a>
                                    <a type="button" id="purchase" class="btn btn-outline-dark">구매하기</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <div class="container">
        <nav class="nav nav-pills nav-justified sticky-top bg-white">
            <a class="nav-item nav-link text-dark" href="#contents"><h3>상품정보</h3></a>
            <a class="nav-item nav-link text-dark" href="#review"><h3>상품리뷰 <span class="badge badge-secondary" th:text="${reviewCount}"></span></h3></a>
            <a class="nav-item nav-link text-dark" href="#qna"><h3>Q&A <span class="badge badge-secondary" th:text="${qnaCount}"></span></h3></a>
            <a class="nav-item nav-link text-dark" href="#sellerInfo"><h3>판매자정보</h3></a>
        </nav>
        <div th:id="contents">
            <p th:utext="${product.contents}"></p>
        </div>
        <div class="container m-5 py-5" th:id="review">
            <h4 class="border-bottom border-gray pb-2 mb-0" th:text="'리뷰 ' +${reviewCount} + '건'"></h4>
            <div class="media text-muted pt-1 border-bottom  border-gray" th:each="review : ${reviews}">
                <svg class="bd-placeholder-img mr-2 bi bi-person-circle py-2" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                </svg>
                <div class="media-body pb-1 px-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="ratings-container mb-1">
                        <div class="ratings">
                            <div class="ratings-val" th:style="'width:'+${review.rating * 20}+'%;'"></div><!-- End .ratings-val -->
                        </div>
                        <span class="ratings-text" th:text="${review.rating}"></span>
                    </div>
                    <div class="px-3 row">
                        <strong class="d-block text-gray-dark mr-2" th:text="${review.creator.nickName}"></strong>
                        <div th:text="${#temporals.format(review.createdDate,'yyyy-MM-dd')}"></div>
                    </div>
                    <p th:text="${review.contents}"></p>
                </div>
            </div>
            <div class="container d-flex justify-content-center my-5 text-small">
                <nav aria-label="Page navigation example">
                    <ul class="reviewPagination pagination mx-auto">
                        <li class="page-item">
                            <a class="page-link" th:if="${reviewPageMaker.prev}" th:href="@{${reviewPageMaker.startPage - 1}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="idx : ${#numbers.sequence(reviewPageMaker.startPage,reviewPageMaker.endPage)}" th:classappend="${reviewPageMaker.criteria.page} == ${idx} ? active">
                            <a class="page-link" th:href="@{${idx}}" th:text="${idx}" th:if="${idx} > 0"></a>
                        </li>
                        <li class="page-item" th:if="${reviewPageMaker.next && reviewPageMaker.endPage > 0}">
                            <a class="page-link" th:href="@{${reviewPageMaker.endPage + 1}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container m-5" th:id="qna">
            <div>
                <h4>Q&A</h4>
            </div>
            <div class="py-2">
                <p>구매하시려는 상품에 궁금하신 점이 있으신 경우 문의해 주세요</p>
            </div>
            <a class="btn btn-dark" href="#" id="createQnaBtn">상품 Q&A 작성하기</a>
            <div class="qna">
                <div class="tableRow">
                    <div class="tableHeader">
                        <div class="cell replyYn">답변상태</div>
                        <div class="cell qnaTitle">제목</div>
                        <div class="cell creator">작성자</div>
                        <div class="cell createdDate">작성일</div>
                    </div>
                </div>
                <ul class="tableRow" th:each="qna : ${qnaList}">
                    <li class="body">
                        <div class="cell replyYn" th:text="${qna.isReplyExist()} ? '답변완료' : '미답변'"></div>
                        <div class="cell qnaTitle">
                            <a role="button" data-toggle="collapse" th:href="@{'#qna-'+${qna.qnaId}}" aria-expanded="false" th:text="${qna.title}"></a>
                        </div>
                        <div class="cell creator" th:text="${qna.creator.nickName}"></div>
                        <div class="cell createdDate" th:text="${#temporals.format(qna.createdDate,'yyyy-MM-dd')}"></div>
                    </li>
                    <li th:id="${'qna-'+qna.qnaId}" class="bg-light collapse border-top border-bottom p-3">
                        <div class="row p-3">
                            <div class="cell replyYn text-center">
                                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-patch-question" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
                                    <path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                                </svg>
                            </div>
                            <div class="cell qnaTitle" th:text="${qna.title}"></div>
                            <div class="cell creator"> </div>
                            <div class="cell createdDate"></div>
                        </div>
                        <div class="row border-top p-3" th:if="${qna.isReplyExist()}">
                            <div class="cell replyYn text-center">
                                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                    <circle cx="8" cy="4.5" r="1"/>
                                </svg>
                            </div>
                            <div class="cell qnaTitle" th:text="${qna.reply.title}"></div>
                            <div class="cell creator">판매자</div>
                            <div class="cell createdDate" th:text="${#temporals.format(qna.reply.createdDate,'yyyy-MM-dd')}"></div>
                        </div>
                        <div class="row border-top p-3" sec:authorize="isAuthenticated()" th:if="not ${qna.isReplyExist()} and ${#authentication.principal.userId} == ${product.seller.userId}" th:data-rno="${qna.qnaId}">
                            <div class="cell replyYn text-center">
                            </div>
                            <div class="cell qnaTitle">
                                <textarea class="form-control replyTitle"></textarea>
                            </div>
                            <div class="cell creator">
                                <button class="btn-primary btn-sm replyButton p-3">작성하기</button>
                            </div>
                            <div class="cell createdDate"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container d-flex justify-content-center my-5 text-small">
                <nav aria-label="Page navigation example">
                    <ul class="qnaPagination pagination mx-auto">
                        <li class="page-item">
                            <a class="page-link" th:if="${qnaPageMaker.prev}" th:href="@{${qnaPageMaker.startPage - 1}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="idx : ${#numbers.sequence(qnaPageMaker.startPage,qnaPageMaker.endPage)}" th:classappend="${qnaPageMaker.criteria.page} == ${idx} ? active">
                            <a class="page-link" th:href="@{${idx}}" th:text="${idx}" th:if="${idx} > 0"></a>
                        </li>
                        <li class="page-item" th:if="${qnaPageMaker.next && qnaPageMaker.endPage > 0}">
                            <a class="page-link" th:href="@{${qnaPageMaker.endPage + 1}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="container mt-5" th:id="sellerInfo">
            <h4>반품/교환 정보</h4>
            <table class="mt-3 table table">
                <tr>
                    <th>판매자명</th>
                    <td th:text="${product.seller.storeVO.storeName}"></td>
                </tr>
                <tr>
                    <th>고객문의 대표번호</th>
                    <td th:text="${product.seller.storeVO.storePhoneNumber}">
                </tr>
                <tr>
                    <th>반품/교환 배송비</th>
                    <td th:text="${product.deliveryPrice}">
                </tr>
                <tr>
                    <th>반품/교환지 주소</th>
                    <td th:text="@{${product.seller.storeVO.storeZipCode}+' '+${product.seller.storeVO.storeAddress}+' '+${product.seller.storeVO.storeAddressDetail}}">
                </tr>
                <tr>
                    <th> 반품/교환 안내</th>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th>
                        반품/교환지 기준
                    </th>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
</body>
<script th:inline="javascript">
    $(document).on('click',"#createQnaBtn",() => {
        if([[${#authentication.principal}]] === "anonymousUser") {
            var check = confirm("로그인 하시겠습니까?");
            if(check == true) {
                window.location.href='/users/loginform';
            }
            return;
        }
        const productId = document.getElementById('productId').value;
        getCreateQnaFom(productId);
    });

    // Scroll Top Button - Show
    var $scrollTop = $('#scroll-top');

    $(window).on('load scroll', function() {
        if ( $(window).scrollTop() >= 400 ) {
            $scrollTop.addClass('show');
        } else {
            $scrollTop.removeClass('show');
        }
    });

    // On click animate to top
    $scrollTop.on('click', function (e) {
        $('html, body').animate({
            'scrollTop': 0
        }, 800);
        e.preventDefault();
    });

</script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/product/createBuyingList2.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/product/setForm.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/common/date.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/qna/qna.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/product/review.js}"></script>
</html>