<div th:fragment="intro-slider" class="intro-slider-container mb-5">
    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
         data-owl-options='{
                    "dots": true,
                    "nav": false,
                    "responsive": {
                        "1200": {
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>
        <div class="intro-slide" style="background-image: url(/assets/images/demos/demo-4/slider/slide-2.png);">
            <div class="container intro-content">
                <div class="row justify-content-end">
                    <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                        <h3 class="intro-subtitle text-third">할인행사 중</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">Beats</h1>
                        <h1 class="intro-title">Dre Studio 3</h1><!-- End .intro-title -->

                        <div class="intro-price">
                            <sup class="intro-old-price">350,000원</sup>
                            <span class="text-third">
                                        269<sup>990원</sup>
                                    </span>
                        </div><!-- End .intro-price -->

                        <a href="/products/103" class="btn btn-primary btn-round">
                            <span>더 보기</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .col-lg-11 offset-lg-1 -->
                </div><!-- End .row -->
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->

        <div class="intro-slide" style="background-image: url(/assets/images/demos/demo-4/slider/slide-1.png);">
            <div class="container intro-content">
                <div class="row justify-content-end">
                    <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                        <h3 class="intro-subtitle text-primary">할인행사 중 </h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">애플 아이패드 프로 <br>12.9 인치, 64GB </h1><!-- End .intro-title -->

                        <div class="intro-price">
                            <sup>오늘만 :</sup>
                            <span class="text-primary">
                                        999<sup>990원</sup>
                                    </span>
                        </div><!-- End .intro-price -->

                        <a href="/products/106" class="btn btn-primary btn-round">
                            <span>더 보기</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .col-md-6 offset-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->
    </div><!-- End .intro-slider owl-carousel owl-simple -->

    <span class="slider-loader"></span><!-- End .slider-loader -->
</div><!-- End .intro-slider-container -->