 <footer class="footer mt-4" th:fragment="footer">
  <div class="bg-light border-top">
      <nav class="nav d-flex justify-content-center sticky-top mt-1">
          <a class="col-2 p-2 text-muted" href="#">사이트소개</a>
          <a class="col-2 p-2 text-muted" href="#">이용약관</a>
          <a class="col-2 p-2 text-muted" href="#">전자금융거래약관</a>
          <a class="col-2 p-2 text-muted" href="#">개인정보처리지침</a>
          <a class="col-2 p-2 text-muted" href="#">서비스맵</a>
      </nav>
  </div>
     <div class="row py-3 text-small" style="background-color: #ffffFF">
         <div class="col border-right">
             그림그림
         </div>
         <div class="col border-right">
             <dl>
                 <dt>
                    <strong>섭핑몰</strong>
                 </dt>
                 <dt>
                    서울특별시 성북구 종암동
                 </dt>
                 <dt>
                    통신판매업신고 : 2020-00-00
                 </dt>
                 <dt>
                    대표 : supniverse 사업자등록번호 : 00000-0000-000
                 </dt>
                 <dt>
                     Tel: 1500-0000 Fax: 02-0000-0000
                 </dt>
             </dl>
         </div>
         <div class="col border-right">
             <dl>
                 <dt>
                     <strong>고객센터</strong>
                 </dt>
                 <dt>
                     Tel: 1500-0000
                 </dt>
                 <dt>
                     Fax: 02-0000-0000
                 </dt>
                 <dt>
                     E-mail : suppingmall@gamil.com
                 </dt>
             </dl>
         </div>
         <div class="col border-right">
             <dt>
                <span>개발자</span>
             </dt>
             <dt>
                 Tel : 010-0000-0000
             </dt>
             <dt>
                 Fax : 02-0000-0000
             </dt>
             <dt>
                 E-mail :
             </dt>
         </div>
     </div>
 </footer>