<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />
<body>
<div class="container">
    <h3 th:text="@{${#authentication?.principal.nickName} +'님, 재인증이 필요합니다.'}"></h3>
    <br/>
    <p>발송된 토큰이 일치하지 않습니다. </p>
    <p>메일을 재발송하여 인증을 완료해 주세요</p>
    <div style="margin:0;padding:0 0 36px;border:none;font-size:14px;line-height:1.5;text-align:center;">
        <div style="width:100%;margin:0;padding:0;border:none;text-align:center;">
            <a type="button" th:id="resend-button" target="_blank" style="text-decoration:none;display:block;max-width:120px;word-break:keep-all;margin:0 auto;padding:8px 12px 8px;border:1px solid #4e61ff;border-radius:4px;background-color:#4e61ff;color:#fff;font-size:14px;line-height:1.5;" rel="noopener noreferrer">메일 발송하기</a>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">

    $(document).ready(function() {

        $("#resend-button").on('click',(e)=> {
            $.ajax({
                type:"POST",
                url:"/users/confirm/resend",
                contentType: 'application/json',
                success: () => {
                    alert("메일이 발송 되었습니다.");
                },
                error: () => {
                    alert("메일이 발송에 실패했습니다.");
                }
            });
        });

    });
</script>
</html>