<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.BoardMapper">
    <resultMap id="Board" type="com.supshop.suppingmall.board.Board" autoMapping="true">
        <id property="boardId" column="BoardId" />
        <result property="title" column="BoardTitle" />
        <result property="contents" column="BoardContents" />
        <result property="delYn" column="BoardDelYn" />
        <result property="createdDate" column="BoardCreatedDate" />
        <result property="updatedDate" column="BoardUpdatedDate" />
        <association property="creator" javaType="com.supshop.suppingmall.user.User">
            <id property="userId" column="UserId" />
            <result property="email" column="UserEmail" />
            <result property="nickName" column="UserNickName" />
            <result property="createdDate" column="UserCreatedDate" />
            <result property="role" column="UserRole" typeHandler="com.supshop.suppingmall.user.RoleTypeHandler" />
        </association>
        <association property="category" javaType="com.supshop.suppingmall.category.Category">
            <id property="id" column="CategoryId" />
            <result property="name" column="CategoryName" />
        </association>
    </resultMap>

    <select id="selectAllBoard" resultMap="Board">
        SELECT B.board_id AS "BoardId", B.title AS "BoardTitle", B.contents AS "BoardContents",
        B.created_date AS "BoardCreatedDate", B.updated_date AS "BoardUpdatedDate", U.user_id AS "UserId",
        U.email AS "UserEmail", U.nickname AS "UserNickName", U.created_date AS "UserCreatedDate", U.role AS "UserRole",
        C.category_id AS "CategoryId", C.name AS "CategoryName"
        FROM Board AS B
        LEFT OUTER JOIN category AS C on (B.category_id = C.category_id)
        LEFT OUTER JOIN User AS U on (B.user_id = U.user_id)
        ORDER BY B.board_id desc
    </select>

    <select id="selectBoard" resultMap="Board">
        SELECT B.board_id AS "BoardId", B.title AS "BoardTitle", B.contents AS "BoardContents",
        B.created_date AS "BoardCreatedDate", B.updated_date AS "BoardUpdatedDate", U.user_id AS "UserId",
        U.email AS "UserEmail", U.nickname AS "UserNickName", U.created_date AS "UserCreatedDate", U.role AS "UserRole",
        C.category_id AS "CategoryId", C.name AS "CategoryName"
        FROM Board AS B
        LEFT OUTER JOIN User AS U on (B.user_id = U.user_id)
        LEFT OUTER JOIN category AS C on (B.category_id = C.category_id)
        WHERE B.board_id = #{id}
    </select>

    <insert id="insertBoard" parameterType="com.supshop.suppingmall.board.Board" useGeneratedKeys="true" keyProperty="board_id">
        INSERT INTO Board (
        title,
        contents,
        user_id,
        category_id,
        created_date,
        updated_date
        )
        VALUES (
        #{title},
        #{contents},
        #{creator.userId},
        #{category.id},
        now(),
        now()
        )
    </insert>

    <update id="updateBoard" parameterType="com.supshop.suppingmall.board.Board">
        UPDATE Board
        SET
        title = #{board.title},
        contents = #{board.contents},
        updated_date = now()
        WHERE board_id = #{id};
    </update>

    <delete id="deleteBoard" parameterType="com.supshop.suppingmall.board.Board">
        DELETE FROM Board
        WHERE board_id = #{id};
    </delete>
</mapper>

