<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.BoardMapper">
    <resultMap id="Board" type="com.supshop.suppingmall.board.Board" autoMapping="true">
        <id property="boardId" column="BoardId" />
        <result property="title" column="BoardTitle" />
        <result property="contents" column="BoardContents" />
        <result property="category" column="BoardCategory"/>
        <result property="delYn" column="BoardDelYn" />
        <result property="createdDate" column="BoardCreatedDate" />
        <result property="updatedDate" column="BoardUpdatedDate" />
        <association property="creater" javaType="com.supshop.suppingmall.user.User">
            <id property="userId" column="UserId" />
            <result property="email" column="UserEmail" />
            <result property="nickName" column="UserNickName" />
            <result property="createdDate" column="UserCreatedDate" />
            <result property="role" column="UserRole" typeHandler="com.supshop.suppingmall.user.RoleTypeHandler" />
        </association>
    </resultMap>

    <select id="selectAllBoard" resultMap="Board">
        SELECT B.board_no AS "BoardId", B.title AS "BoardTitle", B.creater AS "Boardcreater",
        B.category AS "BoardCategory",B.created_date AS "BoardCreatedDate", B.updated_date AS "BoardUpdatedDate",
        U.user_no AS "UserId", U.email AS "UserEmail", U.nickname AS "UserNickName", U.created_date AS "UserCreatedDate",
        U.role AS "UserRole"
        FROM Board AS B
        LEFT OUTER JOIN User AS U on (B.creater = U.user_no)
        ORDER BY B.board_no, U.user_no ASC
    </select>

    <select id="selectBoard" resultMap="Board">
        SELECT B.board_no AS "BoardId", B.title AS "BoardTitle", B.contents AS "BoardContents",B.creater AS "Boardcreater",
        B.category AS "BoardCategory",B.created_date AS "BoardCreatedDate", B.updated_date AS "BoardUpdatedDate",
        U.user_no AS "UserId", U.email AS "UserEmail", U.nickname AS "UserNickName", U.created_date AS "UserCreatedDate",
        U.role AS "UserRole"
        FROM Board AS B
        LEFT OUTER JOIN User AS U on (B.creater = U.user_no)
        WHERE B.board_no = #{id}
    </select>

    <insert id="insertBoard" parameterType="com.supshop.suppingmall.board.Board" useGeneratedKeys="true" keyProperty="board_no">
        INSERT INTO Board (
        title,
        contents,
        creater,
        category,
        created_date,
        updated_date
        )
        VALUES (
        #{title},
        #{contents},
        #{creater.userId},
        #{category},
        now(),
        now()
        )
    </insert>

    <update id="updateBoard" parameterType="com.supshop.suppingmall.board.Board">
        UPDATE Board
        SET
        title = #{board.title},
        contents = #{board.contents},
        updated_date = now()
        WHERE board_no = #{id};
    </update>

    <delete id="deleteBoard" parameterType="com.supshop.suppingmall.board.Board">
        DELETE FROM Board
        WHERE board_no = #{id};
    </delete>
</mapper>

