<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.DeliveryMapper">
    <resultMap id="delivery" type="com.supshop.suppingmall.delivery.Delivery" autoMapping="true">
        <id property="deliveryId" column="DeliveryId" />
        <result property="name" column="DeliveryName" />
        <result property="address" column="DeliveryAddress" />
        <result property="addressDetail" column="DeliveryAddressDetail" />
        <result property="zipCode" column="DeliveryZipCode" />
        <result property="phone" column="DeliveryPhone" />
        <result property="status" column="DeliveryStatus" />
        <result property="vendor" column="DeliveryVendor" typeHandler="com.supshop.suppingmall.delivery.DeliveryVendorHandler"/>
        <result property="trackingNumber" column="DeliveryTrackingNumber" />
        <result property="memo" column="DeliveryMemo" />
        <result property="status" column="DeliveryStatus" typeHandler="com.supshop.suppingmall.delivery.DeliveryStatusHandler" />
    </resultMap>

    <select id="findOne" resultMap="delivery">
        SELECT
        D.delivery_id AS "DeliveryId",
        D.name AS "DeliveryName",D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode",
        D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo"
        FROM delivery AS D
        WHERE D.delivery_id = #{deliveryId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="deliveryId">
        INSERT INTO Delivery (
        name ,
        address,
        address_detail,
        zipcode,
        phone,
        memo,
        vendor,
        tracking_number,
        status,
        create_date
        )
        VALUES (
        #{name},
        #{address},
        #{addressDetail},
        #{zipCode},
        #{phone},
        #{memo},
        #{vendor, typeHandler=com.supshop.suppingmall.delivery.DeliveryVendorHandler},
        #{trackingNumber},
        #{status, typeHandler=com.supshop.suppingmall.delivery.DeliveryStatusHandler},
        now()
        );
    </insert>

    <update id="saveVendor">
        UPDATE Delivery SET
        vendor = #{delivery.vendor, typeHandler=com.supshop.suppingmall.delivery.DeliveryVendorHandler},
        tracking_number = #{delivery.trackingNumber},
        status = #{delivery.status, typeHandler=com.supshop.suppingmall.delivery.DeliveryStatusHandler},
        updated_date = now()
        WHERE delivery_id = #{deliveryId}
    </update>

    <delete id="delete">
        DELETE
        FROM delivery
        WHERE delivery_id = #{delivery.id}
    </delete>

</mapper>
