<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.DeliveryMapper">
    <resultMap id="delivery" type="com.supshop.suppingmall.delivery.Delivery" autoMapping="true">
        <id property="deliveryId" column="DeliveryId" />
        <result property="name" column="DeliveryName" />
        <result property="address" column="DeliveryAddress" />
        <result property="addressDetail" column="DeliveryAddressDetail" />
        <result property="zipCode" column="DeliveryZipCode" />
        <result property="phone" column="DeliveryPhone" />
        <result property="status" column="DeliveryStatus" />
        <result property="vendor" column="DeliveryVendor" typeHandler="com.supshop.suppingmall.delivery.DeliveryVendorHandler"/>
        <result property="trackingNumber" column="DeliveryTrackingNumber" />
        <result property="memo" column="DeliveryMemo" />
        <result property="status" column="DeliveryStatus" typeHandler="com.supshop.suppingmall.delivery.DeliveryStatusHandler" />
    </resultMap>

    <select id="findAll" resultMap="delivery">
        SELECT
        D.delivery_id AS "DeliveryId",
        D.name AS "DeliveryName",D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode",
        D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo"
        FROM delivery AS D
    </select>

    <select id="findOne" resultMap="delivery">
        SELECT
        D.delivery_id AS "DeliveryId",
        D.name AS "DeliveryName",D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode",
        D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo"
        FROM delivery AS D
        WHERE D.delivery_id = #{deliveryId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="deliveryId">
        INSERT INTO Delivery (
        orderitem_id,
        name,
        address,
        address_detail,
        zipcode,
        phone,
        memo,
        vendor,
        tracking_number,
        status,
        create_date
        )
        VALUES
        <foreach item="delivery" collection="list" separator=",">
            (
            #{delivery.orderItem.orderItemId},
            #{delivery.name},
            #{delivery.address},
            #{delivery.addressDetail},
            #{delivery.zipCode},
            #{delivery.phone},
            #{delivery.memo},
            #{delivery.vendor, typeHandler=com.supshop.suppingmall.delivery.DeliveryVendorHandler},
            #{delivery.trackingNumber},
            #{delivery.status, typeHandler=com.supshop.suppingmall.delivery.DeliveryStatusHandler},
            now()
            )
        </foreach>
    </insert>

    <update id="saveVendor">
        UPDATE Delivery SET
        vendor = #{delivery.vendor, typeHandler=com.supshop.suppingmall.delivery.DeliveryVendorHandler},
        tracking_number = #{delivery.trackingNumber},
        status = #{delivery.status, typeHandler=com.supshop.suppingmall.delivery.DeliveryStatusHandler},
        updated_date = now()
        WHERE delivery_id = #{deliveryId}
    </update>

    <update id="update" parameterType="com.supshop.suppingmall.delivery.Delivery">
        update Delivery
        set
        <if test="name != null">
            name = #{name},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="addressDetail != null">
            address_detail = #{addressDetail},
        </if>
        <if test="zipCode != null">
            zipcode = #{zipCode},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="memo != null">
            memo = #{memo},
        </if>
        <if test="vendor != null">
            vendor = #{vendor, typeHandler=com.supshop.suppingmall.delivery.DeliveryVendorHandler},
        </if>
        <if test="trackingNumber != null">
            tracking_number = #{trackingNumber},
        </if>
        <if test="status != null">
            status = #{status, typeHandler=com.supshop.suppingmall.delivery.DeliveryStatusHandler},
        </if>
        updated_date  = now()
        where delivery_id = #{deliveryId};
    </update>


    <delete id="delete">
        DELETE
        FROM delivery
        WHERE delivery_id = #{delivery.id}
    </delete>

</mapper>
