<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.OrderItemMapper">
    <resultMap id="OrderItem" type="com.supshop.suppingmall.order.OrderItem" autoMapping="true">
        <id property="orderItemId" column="OrderItemId" />
        <result property="count" column="OrderItemCount" />
        <result property="price" column="OrderItemPrice" />
        <association property="orders" javaType="com.supshop.suppingmall.order.Orders">
        </association>
        <association property="product" javaType="com.supshop.suppingmall.product.Product">
            <id property="productId" column="ProductId" />
            <result property="name" column="ProductName" />
            <result property="price" column="ProductPrice" />
            <result property="thumbnail" column="ProductThumbnail" />
            <association property="seller" javaType="com.supshop.suppingmall.user.User">
                <id property="userId" column="UserId" />
                <association property="storeVO" javaType="com.supshop.suppingmall.user.StoreVO">
                    <result property="storeName" column="StoreName" />
                    <result property="storePhoneNumber" column="StorePhoneNumber" />
                    <result property="storeAddress" column="StoreAddress" />
                    <result property="storeAddressDetail" column="StoreAddressDetail" />
                </association>
            </association>
        </association>
        <association property="productOption" javaType="com.supshop.suppingmall.product.ProductOption">
            <id property="optionId" column="ProductOptionId" />
            <result property="optionName" column="ProductOptionName" />
            <result property="price" column="ProductOptionPrice" />
            <result property="quantity" column="ProductOptionQuantity" />
        </association>
    </resultMap>


    <insert id="saveList" useGeneratedKeys="true" keyProperty="orderItemId">
        insert into orderitem (
        order_id,
        product_id,
        product_option_id,
        price,
        count
        )
        values
        <foreach item="orderItem" collection="list" separator=",">
            (
            #{orderItem.orders.orderId},
            #{orderItem.product.productId},
            #{orderItem.productOption.optionId},
            #{orderItem.price},
            #{orderItem.count}
            )
        </foreach>
    </insert>

</mapper>