<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.OrderItemMapper">
    <resultMap id="OrderItem" type="com.supshop.suppingmall.order.OrderItem" autoMapping="true">
        <id property="orderItemId" column="OrderItemId" />
        <result property="count" column="OrderItemCount" />
        <result property="price" column="OrderItemPrice" />
        <result property="status" column="OrderItemStatus" typeHandler="com.supshop.suppingmall.order.OrderStatusTypeHandler" />
        <association property="orders" javaType="com.supshop.suppingmall.order.Orders">
            <id property="orderId" column="OrderId" />
            <result property="orderDate" column="OrderDate"/>
        </association>
        <association property="product" javaType="com.supshop.suppingmall.product.Product">
            <id property="productId" column="ProductId" />
            <result property="name" column="ProductName" />
            <result property="price" column="ProductPrice" />
            <result property="thumbnail" column="ProductThumbnail" />
        </association>
        <association property="productOption" javaType="com.supshop.suppingmall.product.ProductOption">
            <id property="optionId" column="ProductOptionId" />
            <result property="optionName" column="ProductOptionName" />
            <result property="price" column="ProductOptionPrice" />
            <result property="quantity" column="ProductOptionQuantity" />
        </association>
        <association property="buyer" javaType="com.supshop.suppingmall.user.User" >
            <id property="userId" column="BuyerId" />
            <result property="nickName" column="BuyerNickName" />
            <result property="name" column="BuyerName" />
            <result property="phoneNumber" column="BuyerPhoneNumber" />
        </association>
        <association property="seller" javaType="com.supshop.suppingmall.user.User" >
            <id property="userId" column="SellerId" />
            <association property="storeVO" javaType="com.supshop.suppingmall.user.StoreVO">
                <result property="storeName" column="StoreName" />
                <result property="storePhoneNumber" column="StorePhoneNumber" />
                <result property="storeZipCode" column="StoreZipCode" />
                <result property="storeAddress" column="StoreAddress" />
                <result property="storeAddressDetail" column="StoreAddressDetail" />
            </association>
        </association>
        <association property="delivery" javaType="com.supshop.suppingmall.delivery.Delivery">
            <id property="deliveryId" column="DeliveryId" />
            <result property="name" column="DeliveryName" />
            <result property="address" column="DeliveryAddress" />
            <result property="addressDetail" column="DeliveryAddressDetail" />
            <result property="zipCode" column="DeliveryZipCode" />
            <result property="phone" column="DeliveryPhone" />
            <result property="vendor" column="DeliveryVendor" typeHandler="com.supshop.suppingmall.delivery.DeliveryVendorHandler"/>
            <result property="trackingNumber" column="DeliveryTrackingNumber" />
            <result property="memo" column="DeliveryMemo" />
            <result property="status" column="DeliveryStatus" typeHandler="com.supshop.suppingmall.delivery.DeliveryStatusHandler" />
        </association>
        <association property="payment" javaType="com.supshop.suppingmall.payment.Payment">
            <id property="paymentId" column="PaymentId" />
            <result property="price" column="PaymentPrice" />
            <result property="paymentType" column="PaymentType" typeHandler="com.supshop.suppingmall.payment.PaymentGroupTypeHandler" />
            <result property="status" column="PaymentStatus" typeHandler="com.supshop.suppingmall.payment.PaymentStatusTypeHandler" />
            <result property="payDate" column="PaymentPayedDate" />
            <result property="updatedDate" column="PaymentUpdatedDate" />
        </association>
    </resultMap>

    <sql id="paging">
        <if test="criteria != null">
            limit #{criteria.pageStart}, #{criteria.perPageNum}
        </if>
    </sql>

    <sql id="conditionalSearch">
        <if test="type != null and searchValue != null">
            <if test='type.equals("order")'>
                AND OI.status = #{searchValue}
            </if>
            <if test='type.equals("delivery")'>
                AND D.status = #{searchValue}
            </if>
        </if>
        <if test="type != null and searchValue == null">
            <if test='type.equals("order")'>
                AND (OI.status = "O004" OR OI.status = "O005" OR OI.status = "O006")
            </if>
        </if>
        <if test="fromDate != null and toDate != null">
            <![CDATA[
            AND OI.ordered_date >= #{fromDate} AND OI.ordered_date < #{toDate}
            ]]>
        </if>
        <if test="fromDate == null and toDate == null">
            <![CDATA[
            AND OI.ordered_date >= date_sub(now(), interval 360 day)
            ]]>
        </if>
    </sql>

    <sql id="adminConditionalSearch">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="searchValue == null">
                NOT OI.status = "O000"
            </if>
            <if test="searchValue != null">
                OI.status = #{searchValue}
            </if>

            <if test="fromDate != null and toDate != null">
                <![CDATA[
            AND OI.order_date >= #{fromDate} AND OI.order_date < #{toDate}
            ]]>
            </if>
            <if test="fromDate == null and toDate == null">
                <![CDATA[
            AND OI.order_date >= date_sub(now(), interval 180 day)
            ]]>
            </if>
        </trim>
    </sql>


    <sql id="countCondition">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test='type != null and type.equals("seller")'>
                OI.seller_id = #{id}
                AND NOT OI.status = 'O000'
            </if>
            <if test='type != null and type.equals("buyer")'>
                OI.buyer_id = #{id}
                AND NOT OI.status = 'O000'
            </if>
            <if test='type != null and type.equals("admin")'>
                OI.buyer_id = #{id}
            </if>
        </trim>
    </sql>

    <select id="findCount" resultType="int">
        SELECT count(*)
        FROM OrderItem AS OI
        <include refid="countCondition"></include>
    </select>

    <select id="findAll" resultMap="OrderItem">
        SELECT OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice", OI.status AS "OrderItemStatus", O.order_id AS "OrderId", O.order_date AS "OrderDate",
        B.user_id AS "BuyerId", B.name AS "BuyerName", B.phone_number AS "BuyerPhoneNumber",
        S.user_id AS "SellerId", S.store_name AS "StoreName", S.store_zipcode AS "StoreZipCode",
        S.store_address AS "StoreAddress", S.store_address_detail AS "StoreAddressDetail", S.store_phone_number AS "StorePhoneNumber",
        P.delivery_price AS "ProductDeliveryPrice", P.delivery_vendor AS "ProductDeliveryVendor",P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        D.delivery_id AS "DeliveryId", D.name AS "DeliveryName", D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode",
        D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus", PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate",
        FROM OrderItem AS OI
        LEFT OUTER JOIN Orders AS O on (OI.order_id = O.order_id)
        LEFT OUTER JOIN User AS B on (OI.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (OI.seller_id = S.user_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        LEFT OUTER JOIN Delivery AS D on (OI.orderItem_id = D.orderItem_id)
        LEFT OUTER JOIN Payment AS PM on (OI.orderItem_id = PA.orderItem_id)
        <include refid="adminConditionalSearch"></include>
        ORDER BY OI.ordered_date desc
    </select>


    <select id="findOne" resultMap="OrderItem">
        SELECT OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice", OI.status AS "OrderItemStatus", O.order_id AS "OrderId", O.order_date AS "OrderDate",
        B.user_id AS "BuyerId", B.name AS "BuyerName", B.phone_number AS "BuyerPhoneNumber",
        S.user_id AS "SellerId", S.store_name AS "StoreName", S.store_zipcode AS "StoreZipCode",
        S.store_address AS "StoreAddress", S.store_address_detail AS "StoreAddressDetail", S.store_phone_number AS "StorePhoneNumber",
        P.delivery_price AS "ProductDeliveryPrice", P.delivery_vendor AS "ProductDeliveryVendor",P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        D.delivery_id AS "DeliveryId", D.name AS "DeliveryName", D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode",
        D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus", PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate",
        FROM OrderItem AS OI
        LEFT OUTER JOIN Orders AS O on (OI.order_id = O.order_id)
        LEFT OUTER JOIN User AS B on (OI.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (OI.seller_id = S.user_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        LEFT OUTER JOIN Delivery AS D on (OI.orderItem_id = D.orderItem_id)
        LEFT OUTER JOIN Payment AS PM on (OI.orderItem_id = PA.orderItem_id)
        WHERE O.orderitem_id = #{orderItemId}
    </select>

    <select id="findByBuyerId" resultMap="OrderItem">
        SELECT OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice", OI.status AS "OrderItemStatus", O.order_id AS "OrderId", O.order_date AS "OrderDate",
        B.user_id AS "BuyerId", B.name AS "BuyerName", B.phone_number AS "BuyerPhoneNumber",
        S.user_id AS "SellerId", S.store_name AS "StoreName", S.store_zipcode AS "StoreZipCode",
        S.store_address AS "StoreAddress", S.store_address_detail AS "StoreAddressDetail", S.store_phone_number AS "StorePhoneNumber",
        P.delivery_price AS "ProductDeliveryPrice", P.delivery_vendor AS "ProductDeliveryVendor",P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        D.delivery_id AS "DeliveryId", D.name AS "DeliveryName", D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode",
        D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus", PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate",
        FROM OrderItem AS OI
        LEFT OUTER JOIN Orders AS O on (OI.order_id = O.order_id)
        LEFT OUTER JOIN User AS B on (OI.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (OI.seller_id = S.user_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        LEFT OUTER JOIN Delivery AS D on (OI.orderItem_id = D.orderItem_id)
        LEFT OUTER JOIN Payment AS PM on (OI.orderItem_id = PA.orderItem_id)
        WHERE OI.buyer_id = #{userId} AND NOT OI.status = 'O000'
        <include refid="conditionalSearch"></include>
        ORDER BY OI.ordered_date desc
    </select>

    <select id="findBySellerId" resultMap="OrderItem">
        SELECT OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice", OI.status AS "OrderItemStatus", O.order_id AS "OrderId", O.order_date AS "OrderDate",
        B.user_id AS "BuyerId", B.name AS "BuyerName", B.phone_number AS "BuyerPhoneNumber",
        S.user_id AS "SellerId", S.store_name AS "StoreName", S.store_zipcode AS "StoreZipCode",
        S.store_address AS "StoreAddress", S.store_address_detail AS "StoreAddressDetail", S.store_phone_number AS "StorePhoneNumber",
        P.delivery_price AS "ProductDeliveryPrice", P.delivery_vendor AS "ProductDeliveryVendor",P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        D.delivery_id AS "DeliveryId", D.name AS "DeliveryName", D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode",
        D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus", PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate",
        FROM OrderItem AS OI
        LEFT OUTER JOIN Orders AS O on (OI.order_id = O.order_id)
        LEFT OUTER JOIN User AS B on (OI.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (OI.seller_id = S.user_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        LEFT OUTER JOIN Delivery AS D on (OI.orderItem_id = D.orderItem_id)
        LEFT OUTER JOIN Payment AS PM on (OI.orderItem_id = PA.orderItem_id)
        WHERE OI.seller_id = #{userId} AND NOT OI.status = 'O000'
        <include refid="conditionalSearch"></include>
        ORDER BY OI.ordered_date desc
        <include refid="paging"></include>
    </select>

    <select id="findOneBySellerId" resultMap="OrderItem">
        SELECT OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice", OI.status AS "OrderItemStatus", O.order_id AS "OrderId", O.order_date AS "OrderDate",
        B.user_id AS "BuyerId", B.name AS "BuyerName", B.phone_number AS "BuyerPhoneNumber",
        S.user_id AS "SellerId", S.store_name AS "StoreName", S.store_zipcode AS "StoreZipCode",
        S.store_address AS "StoreAddress", S.store_address_detail AS "StoreAddressDetail", S.store_phone_number AS "StorePhoneNumber",
        P.delivery_price AS "ProductDeliveryPrice", P.delivery_vendor AS "ProductDeliveryVendor",P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        D.delivery_id AS "DeliveryId", D.name AS "DeliveryName", D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode",
        D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus", PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate",
        FROM OrderItem AS OI
        LEFT OUTER JOIN Orders AS O on (OI.order_id = O.order_id)
        LEFT OUTER JOIN User AS B on (OI.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (OI.seller_id = S.user_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        LEFT OUTER JOIN Delivery AS D on (OI.orderItem_id = D.orderItem_id)
        LEFT OUTER JOIN Payment AS PM on (OI.orderItem_id = PA.orderItem_id)
        WHERE OI.orderitem_id = #{orderItemId}
        ORDER BY O.order_date desc
        <include refid="paging"></include>
    </select>


    <insert id="saveList" useGeneratedKeys="true" keyProperty="orderItemId">
        INSERT INTO orderitem (
        order_id,
        product_id,
        product_option_id,
        price,
        count,
        buyer_id,
        seller_id
        )
        values
        <foreach item="orderItem" collection="list" separator=",">
            (
            #{orderItem.orders.orderId},
            #{orderItem.product.productId},
            #{orderItem.productOption.optionId},
            #{orderItem.price},
            #{orderItem.count},
            #{orderItem.buyer.userId},
            #{orderItem.seller.userId}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.supshop.suppingmall.order.OrderItem">
        UPDATE OrderItem
        SET
        <if test="status != null">
            status = #{status, typeHandler=com.supshop.suppingmall.order.OrderStatusTypeHandler},
        </if>
        <if test="deliveryId != null">
            delivery_id = #{deliveryId},
        </if>
        update_date = now()
        where orderitem_id = #{orderItemId};
    </update>

    <update id="updateList" parameterType="com.supshop.suppingmall.order.OrderItem">
        <foreach item="orderItem" collection="list" separator=",">
            UPDATE OrderItem
            SET
            (
            order_id = #{orderItem.orders.orderId},
            product_id = #{orderItem.product.productId},
            product_option_id = #{orderItem.productOption.optionId},
            product_option_id = #{orderItem.price},
            count = #{orderItem.count},
            buyer_id = #{orderItem.buyer.userId},
            seller_id = #{orderItem.seller.userId}
            )
            WHERE orderitem_id = #{orderItem.orderItemId}
        </foreach>
    </update>

</mapper>