<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.PaymentMapper">
    <resultMap id="Orders" type="com.supshop.suppingmall.order.Orders" autoMapping="true">
        <id property="orderId" column="OrderId" />
        <result property="orderedDate" column="ordered_date" />
        <result property="status" column="status" typeHandler="com.supshop.suppingmall.order.OrderStatusTypeHandler" />
        <association property="buyer" resultMap="User" />
        <association property="payment" resultMap="Payment" />
        <association property="delivery" resultMap="Delivery" />
        <collection property="orderItems" resultMap="OrderItem" />
    </resultMap>

    <insert id="insertOrder" parameterType="com.supshop.suppingmall.order.Orders" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO Orders (
        ordered_date,
        user_id,
        delivery_id,
        status,
        payment_id
        )
        VALUES (
        now(),
        #{user.userId},
        #{delivery.deliveryId},
        #{status, typeHandler=com.supshop.suppingmall.order.OrderStatusTypeHandler}
        #{payment.paymentId}
        )
    </insert>


</mapper>