<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.OrderMapper">
    <resultMap id="Orders" type="com.supshop.suppingmall.order.Orders" autoMapping="true">
        <id property="orderId" column="OrderId" />
        <result property="orderedDate" column="ordered_date" />
        <result property="status" column="status" typeHandler="com.supshop.suppingmall.order.OrderStatusTypeHandler" />
        <association property="buyer" javaType="com.supshop.suppingmall.user.UserVO" >
        </association>
        <association property="seller" javaType="com.supshop.suppingmall.user.UserVO">
        </association>
        <collection property="orderItems" ofType="com.supshop.suppingmall.order.OrderItem">
            <id property="orderItemId" column="OrderItemId" />
        </collection>
    </resultMap>

    <insert id="save" parameterType="com.supshop.suppingmall.order.Orders" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO Orders (
        buyer_id,
        seller_id,
        status,
        ordered_date
        )
        VALUES (
        #{buyer.userId},
        #{seller.userId},
        #{status, typeHandler=com.supshop.suppingmall.order.OrderStatusTypeHandler},
        now()
        )
    </insert>

</mapper>