<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.OrderMapper">
    <resultMap id="order" type="com.supshop.suppingmall.order.Orders" autoMapping="true">
        <id property="orderId" column="OrderId" />
        <result property="status" column="OrderStatus" typeHandler="com.supshop.suppingmall.order.OrderStatusTypeHandler" />
        <result property="orderDate" column="OrderDate"/>
        <result property="updateDate" column="OrderUpdateDate"/>
        <association property="buyer" javaType="com.supshop.suppingmall.user.SessionUser" >
            <id property="userId" column="BuyerId" />
            <result property="nickName" column="BuyerNickName" />
            <result property="name" column="BuyerName" />
            <result property="phoneNumber" column="BuyerPhoneNumber" />
        </association>
        <association property="seller" javaType="com.supshop.suppingmall.user.SessionUser" >
            <id property="userId" column="SellerId" />
            <association property="storeVO" javaType="com.supshop.suppingmall.user.StoreVO">
                <result property="storeName" column="StoreName" />
                <result property="storePhoneNumber" column="StorePhoneNumber" />
                <result property="storeZipCode" column="StoreZipCode" />
                <result property="storeAddress" column="StoreAddress" />
                <result property="storeAddressDetail" column="StoreAddressDetail" />
            </association>
        </association>
        <association property="delivery" javaType="com.supshop.suppingmall.delivery.Delivery">
            <id property="deliveryId" column="DeliveryId" />
            <result property="name" column="DeliveryName" />
            <result property="address" column="DeliveryAddress" />
            <result property="addressDetail" column="DeliveryAddressDetail" />
            <result property="zipCode" column="DeliveryZipCode" />
            <result property="phone" column="DeliveryPhone" />
            <result property="vendor" column="DeliveryVendor" typeHandler="com.supshop.suppingmall.delivery.DeliveryVendorHandler"/>
            <result property="trackingNumber" column="DeliveryTrackingNumber" />
            <result property="memo" column="DeliveryMemo" />
            <result property="status" column="DeliveryStatus" typeHandler="com.supshop.suppingmall.delivery.DeliveryStatusHandler" />
        </association>
        <association property="payment" javaType="com.supshop.suppingmall.payment.Payment">
            <id property="paymentId" column="PaymentId" />
            <result property="price" column="PaymentPrice" />
            <result property="paymentType" column="PaymentType" typeHandler="com.supshop.suppingmall.payment.PaymentGroupTypeHandler" />
            <result property="status" column="PaymentStatus" typeHandler="com.supshop.suppingmall.payment.PaymentStatusTypeHandler" />
            <result property="payDate" column="PaymentPayedDate" />
            <result property="updatedDate" column="PaymentUpdatedDate" />
        </association>
        <collection property="orderItems" column="OrderItemId" ofType="com.supshop.suppingmall.order.OrderItem">
            <id property="orderItemId" column="OrderItemId" />
            <result property="count" column="OrderItemCount" />
            <result property="price" column="OrderItemPrice" />
            <association property="product" javaType="com.supshop.suppingmall.product.Product">
                <id property="productId" column="ProductId" />
                <result property="name" column="ProductName" />
                <result property="price" column="ProductPrice" />
                <result property="thumbnail" column="ProductThumbnail" />
                <result property="deliveryPrice" column="ProductDeliveryPrice" />
                <result property="deliveryVendor" column="ProductDeliveryVendor" typeHandler="com.supshop.suppingmall.delivery.DeliveryVendorHandler"/>
            </association>
            <association property="productOption" javaType="com.supshop.suppingmall.product.ProductOption">
                <id property="productId" column="ProductId" />
                <id property="optionId" column="ProductOptionId" />
                <result property="optionName" column="ProductOptionName" />
                <result property="price" column="ProductOptionPrice" />
                <result property="quantity" column="ProductOptionQuantity" />
            </association>
        </collection>
    </resultMap>

    <select id="findOne" resultMap="order">
        SELECT O.order_id AS "OrderId", O.status AS "OrderStatus", O.order_date AS "OrderDate", O.update_date AS "OrderUpdateDate",
        B.user_id AS "BuyerId", B.nickName AS "BuyerNickName", S.user_id AS "SellerId", S.store_name AS "StoreName", S.store_zipcode AS "StoreZipCode",
        S.store_address AS "StoreAddress", S.store_address_detail AS "StoreAddressDetail", S.store_phone_number AS "StorePhoneNumber",
        D.delivery_id AS "DeliveryId", D.name AS "DeliveryName", D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode",
        D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus",
        PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate", P.delivery_price AS "ProductDeliveryPrice", P.delivery_vendor AS "ProductDeliveryVendor",
        OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice",
        P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        FROM Orders AS O
        LEFT OUTER JOIN User AS B on (O.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (O.seller_id = S.user_id)
        LEFT OUTER JOIN Delivery AS D on (O.delivery_id = D.delivery_id)
        LEFT OUTER JOIN Payment AS PA on (O.payment_id = PA.payment_id)
        LEFT OUTER JOIN OrderItem AS OI on (O.order_id = OI.order_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        WHERE O.order_id = #{orderId}
    </select>

    <select id="findByBuyerId" resultMap="order">
        SELECT O.order_id AS "OrderId", O.status AS "OrderStatus", O.order_date AS "OrderDate", O.update_date AS "OrderUpdateDate",
        B.user_id AS "BuyerId", B.nickName AS "BuyerNickName", S.user_id AS "SellerId", S.store_name AS "StoreName", S.store_zipcode AS "StoreZipCode",
        S.store_address AS "StoreAddress", S.store_address_detail AS "StoreAddressDetail", S.store_phone_number AS "StorePhoneNumber",
        D.delivery_id AS "DeliveryId", D.name AS "DeliveryName", D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail",
        D.zipcode AS "DeliveryZipCode", D.phone AS "DeliveryPhone", D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber",
        D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus",
        PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate",
        OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice",
        P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail", P.delivery_price AS "ProductDeliveryPrice", P.delivery_vendor AS "ProductDeliveryVendor",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        FROM Orders AS O
        LEFT OUTER JOIN User AS B on (O.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (O.seller_id = S.user_id)
        LEFT OUTER JOIN Delivery AS D on (O.delivery_id = D.delivery_id)
        LEFT OUTER JOIN Payment AS PA on (O.payment_id = PA.payment_id)
        LEFT OUTER JOIN OrderItem AS OI on (O.order_id = OI.order_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        WHERE O.buyer_id = ${userId} AND NOT O.status = 'O000'
        <include refid="conditionalSearch"></include>
        ORDER BY O.order_date desc
    </select>

    <select id="findBySellerId" resultMap="order">
        SELECT O.order_id AS "OrderId", O.status AS "OrderStatus", O.order_date AS "OrderDate", O.update_date AS "OrderUpdateDate",
        B.user_id AS "BuyerId", B.nickName AS "BuyerNickName", B.name AS "BuyerName", B.phone_number AS "BuyerPhoneNumber",
        D.delivery_id AS "DeliveryId", D.name AS "DeliveryName", D.address AS "DeliveryAddress",
        D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode", D.phone AS "DeliveryPhone",
        D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus",
        PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate",
        OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice",
        P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        FROM Orders AS O
        LEFT OUTER JOIN User AS B on (O.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (O.seller_id = S.user_id)
        LEFT OUTER JOIN Delivery AS D on (O.delivery_id = D.delivery_id)
        LEFT OUTER JOIN Payment AS PA on (O.payment_id = PA.payment_id)
        LEFT OUTER JOIN OrderItem AS OI on (O.order_id = OI.order_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        WHERE O.seller_id = ${userId} AND NOT O.status = 'O000'
        <include refid="conditionalSearch"></include>
        ORDER BY O.order_date desc
    </select>

    <select id="findOneBySellerId" resultMap="order">
        SELECT O.order_id AS "OrderId", O.status AS "OrderStatus", O.order_date AS "OrderDate", O.update_date AS "OrderUpdateDate",
        B.user_id AS "BuyerId", B.nickName AS "BuyerNickName", B.name AS "BuyerName", B.phone_number AS "BuyerPhoneNumber",
        D.delivery_id AS "DeliveryId", D.name AS "DeliveryName", D.address AS "DeliveryAddress",
        D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode", D.phone AS "DeliveryPhone",
        D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus",
        PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate",
        OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice",
        P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        FROM Orders AS O
        LEFT OUTER JOIN User AS B on (O.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (O.seller_id = S.user_id)
        LEFT OUTER JOIN Delivery AS D on (O.delivery_id = D.delivery_id)
        LEFT OUTER JOIN Payment AS PA on (O.payment_id = PA.payment_id)
        LEFT OUTER JOIN OrderItem AS OI on (O.order_id = OI.order_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        WHERE O.order_id = ${orderId}
        ORDER BY O.order_date desc
    </select>

    <select id="findAll" resultMap="order">
        SELECT O.order_id AS "OrderId", O.status AS "OrderStatus", O.order_date AS "OrderDate", O.update_date AS "OrderUpdateDate",
        B.user_id AS "BuyerId", B.nickName AS "BuyerNickName", S.user_id AS "SellerId", S.store_name AS "StoreName",
        S.store_phone_number AS "StorePhoneNumber", D.delivery_id AS "DeliveryId", D.name AS "DeliveryName",
        D.address AS "DeliveryAddress", D.address_detail AS "DeliveryAddressDetail", D.zipcode AS "DeliveryZipCode", D.phone AS "DeliveryPhone",
        D.vendor AS "DeliveryVendor", D.tracking_number AS "DeliveryTrackingNumber", D.memo AS "DeliveryMemo", D.status AS "DeliveryStatus",
        PA.payment_id AS "PaymentId", PA.price AS "PaymentPrice", PA.type AS "PaymentType", PA.status AS "PaymentStatus",
        PA.pay_date AS "PaymentPayedDate", PA.updated_date AS "PaymentUpdatedDate",
        OI.orderItem_id AS "OrderItemId", OI.count AS "OrderItemCount", OI.price AS "OrderItemPrice",
        P.product_id AS "ProductId", P.name AS "ProductName", P.price AS "ProductPrice", P.thumbnail AS "ProductThumbnail",
        PO.product_option_id AS "ProductOptionId", PO.name AS "ProductOptionName", PO.price AS "ProductOptionPrice", PO.quantity AS "ProductOptionQuantity"
        FROM Orders AS O
        LEFT OUTER JOIN User AS B on (O.buyer_id = B.user_id)
        LEFT OUTER JOIN User AS S on (O.seller_id = S.user_id)
        LEFT OUTER JOIN Delivery AS D on (O.delivery_id = D.delivery_id)
        LEFT OUTER JOIN Payment AS PA on (O.payment_id = PA.payment_id)
        LEFT OUTER JOIN OrderItem AS OI on (O.order_id = OI.order_id)
        LEFT OUTER JOIN Product AS P on (OI.product_id = P.product_id)
        LEFT OUTER JOIN Product_option AS PO on (OI.product_id = PO.product_id) and (OI.product_option_id = PO.product_option_id)
        <include refid="conditionalSearch"></include>
        ORDER BY O.order_date desc
    </select>

    <sql id="conditionalSearch">
        <if test="type != null and searchValue != null">
            <if test='type.equals("order")'>
                AND O.status LIKE #{searchValue}
            </if>
            <if test='type.equals("delivery")'>
                AND D.status LIKE #{searchValue}
            </if>
        </if>
        <if test="type != null and searchValue == null">
            <if test='type.equals("order")'>
                AND (O.status LIKE "O004" OR O.status LIKE "O005" OR O.status LIKE "O006")
            </if>
        </if>
        <if test="fromDate != null and toDate != null">
            <![CDATA[
            AND O.order_date >= #{fromDate} AND O.order_date < #{toDate}
            ]]>
        </if>
        <if test="fromDate == null and toDate == null">
            <![CDATA[
            AND O.order_date >= date_sub(now(), interval 7 day)
            ]]>
        </if>
    </sql>


    <insert id="save" parameterType="com.supshop.suppingmall.order.Orders" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO Orders (
        buyer_id,
        seller_id,
        status,
        order_date
        )
        VALUES (
        #{buyer.userId},
        #{seller.userId},
        #{status, typeHandler=com.supshop.suppingmall.order.OrderStatusTypeHandler},
        now()
        )
    </insert>

    <update id="updateOrder" parameterType="com.supshop.suppingmall.order.Orders">
        update orders
        set
        <if test="status != null">
            status = #{status, typeHandler=com.supshop.suppingmall.order.OrderStatusTypeHandler},
        </if>
        <if test="deliveryId != null">
            delivery_id = #{deliveryId},
        </if>
        <if test="paymentId != null">
            payment_id = #{paymentId},
        </if>
        update_date = now()
        where order_id = #{orderId};
    </update>
</mapper>