<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.ProductMapper">
    <resultMap id="Product" type="com.supshop.suppingmall.product.Product" autoMapping="true">
        <id property="productId" column="ProductNo" />
        <result property="name" column="ProductName" />
        <result property="price" column="ProductPrice" />
        <result property="registeredDate" column="ProductRegisteredDate" />
        <result property="brandName" column="ProductBrandName" />
        <result property="category" column="ProductCategory"/>
        <result property="delYn" column="ProductDelYn"/>
        <result property="thumbnail" column="ProductThumbnail" />
        <result property="picture" column="ProductPicture" />
        <result property="asNumber" column="ProductAsNumber"/>
        <association property="sellerId" javaType="com.supshop.suppingmall.user.User">
            <id property="userId" column="UserId" />
            <result property="email" column="UserEmail" />
            <result property="nickName" column="UserNickName" />
            <result property="createdDate" column="UserCreatedDate" />
            <result property="role" column="UserRole" typeHandler="com.supshop.suppingmall.user.RoleTypeHandler" />
            <result property="shop_name" column="UserShopName" />
            <result property="shop_number" column="UserShopNumber" />
            <result property="shop_city" column="UserShopCity" />
            <result property="shop_downtown" column="UserShopDowntown" />
            <result property="shop_address" column="UserShopAddress" />
            <result property="shop_address_detail" column="UserShopAddressDetail" />
            <result property="shop_post_no" column="UserShopAddressetail" />
        </association>
        <collection property="options" column="ProductId" ofType="com.supshop.suppingmall.product.ProductOptions" >
            <id property="id" column="ProductOptionId" />
            <result property="optionName" column="ProductOptionName" />
            <result property="price" column="ProductOptionPrice" />
            <result property="totalCount" column="ProductOptionTotalCount" />
            <result property="spec1" column="ProductOptionSpec1" />
            <result property="spec2" column="ProductOptionSpec2" />
            <result property="spec3" column="ProductOptionSpec3" />
            <result property="spec4" column="ProductOptionSpec4" />
            <result property="spec5" column="ProductOptionSpec5" />
            <result property="spec6" column="ProductOptionSpec6" />
            <result property="spec7" column="ProductOptionSpec7" />
            <result property="spec8" column="ProductOptionSpec8" />
            <result property="spec9" column="ProductOptionSpec9" />
            <result property="spec10" column="ProductOptionSpec10" />
        </collection>
        <collection property="orders" column="ProductId" ofType="com.supshop.suppingmall.order.Order" >
            <id property="id" column="OrderId" />
        </collection>
    </resultMap>

    <select id="selectAllProduct" resultMap="Product" >
        SELECT P.product_no AS "ProductNo", P.product_name AS "ProductName", P.price AS "ProductPrice",
        P.register_date AS "ProductRegisteredDate", P.seller_no AS "ProductSellerId",
        P.brand_name AS "ProductBrandName", P.category AS "ProductCategory",
        P.thumbnail AS "ProductThumbnail", P.picture AS "ProductPicture",
        P.as_number AS "ProductAsNumber",
        O.product_Option_No AS "ProductOptionId", O.name AS "ProductOptionName",
        O.total_Count AS "ProductOptionTotalCount", O.spec_1 AS "ProductOptionSpec1",
        O.spec_2 AS "ProductOptionSpec2", O.spec_3 AS "ProductOptionSpec3", O.spec_4 AS "ProductOptionSpec4",
        O.spec_5 AS "ProductOptionSpec5", O.spec_6 AS "ProductOptionSpec6", O.spec_7 AS "ProductOptionSpec7",
        O.spec_8 AS "ProductOptionSpec8", O.spec_9 AS "ProductOptionSpec9", O.spec_10 AS "ProductOptionSpec10",
        U.name AS "UserName", U.nickname AS "UserNickName", U.address AS "UserAddress",
        U.address_detail AS "UserAddressDetail", U.post_no AS "UserPostNo",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.role AS "UserRole", U.delYn AS "UserDelYn", U.shop_name AS "ShopName", U.shop_number AS "ShopNumber",
        U.shop_city AS "ShopCity", U.shop_downtown AS "ShopDowntown",
        U.shop_address AS "ShopAddress", U.shop_address_detail AS "ShopAddressDetail", U.shop_post_no AS "ShopPostNo"
        FROM Product_Info AS P
        LEFT OUTER JOIN Product_Option_Info AS O on (P.product_no = O.product_no)
        LEFT OUTER JOIN User AS U on (P.seller_no = U.user_no)
<!--        <include refid="conditionalSearch"></include>-->
        ORDER BY P.product_no, O.product_option_no, user_no ASC
    </select>

    <sql id="conditionalSearch">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND P.product_no = #{id}
            </if>
            <if test="category != null">
                AND P.category = #{category}
            </if>
            <if test="name != null">
                <bind name="name" value="'%'+name+'%'"/>
                AND P.name LIKE #{name}
            </if>
            WHERE P.product_no = #{id} AND P.delYn = 'Y'
        </trim>
    </sql>

    <select id="selectProduct" resultMap="Product" >
        SELECT P.product_no AS "ProductNo", P.product_name AS "ProductName", P.price AS "ProductPrice",
        P.register_date AS "ProductRegisteredDate", P.seller_no AS "ProductSellerId",
        P.brand_name AS "ProductBrandName", P.category AS "ProductCategory",
        P.thumbnail AS "ProductThumbnail", P.picture AS "ProductPicture",
        P.as_number AS "ProductAsNumber",
        O.product_Option_No AS "ProductOptionId", O.name AS "ProductOptionName",
        O.total_Count AS "ProductOptionTotalCount", O.spec_1 AS "ProductOptionSpec1",
        O.spec_2 AS "ProductOptionSpec2", O.spec_3 AS "ProductOptionSpec3", O.spec_4 AS "ProductOptionSpec4",
        O.spec_5 AS "ProductOptionSpec5", O.spec_6 AS "ProductOptionSpec6", O.spec_7 AS "ProductOptionSpec7",
        O.spec_8 AS "ProductOptionSpec8", O.spec_9 AS "ProductOptionSpec9", O.spec_10 AS "ProductOptionSpec10",
        U.name AS "UserName", U.nickname AS "UserNickName", U.address AS "UserAddress",
        U.address_detail AS "UserAddressDetail", U.post_no AS "UserPostNo",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.role AS "UserRole", U.delYn AS "UserDelYn", U.shop_name AS "ShopName", U.shop_number AS "ShopNumber",
        U.shop_city AS "ShopCity", U.shop_downtown AS "ShopDowntown",
        U.shop_address AS "ShopAddress", U.shop_address_detail AS "ShopAddressDetail", U.shop_post_no AS "ShopPostNo"
        LEFT OUTER JOIN Product_Option_Info AS O on (P.product_no = O.product_no)
        LEFT OUTER JOIN User AS U on (P.seller_no = U.user_no)
        WHERE P.product_no = #{id} AND P.delYn = 'N'
        ORDER BY P.product_no, O.product_option_no, user_no ASC
    </select>

    <sql id="addProductOptions">
        <if test="options != null and optionsList.size > 0">
            <foreach collection="options" item="option" index="index" separator=";">
                INSERT INTO Product_Option_Info(
                product_option_no,
                product_name,
                price,
                total_count,
                spec_1,
                spec_2,
                spec_3,
                spec_4,
                spec_5,
                spec_6,
                spec_7,
                spec_8,
                spec_9,
                spec_10)
                VALUES (
                #{index},
                #{option.name},
                #{option.price},
                #{option.totalCount},
                #{option.spec1},
                #{option.spec2},
                #{option.spec3},
                #{option.spec4},
                #{option.spec5},
                #{option.spec6},
                #{option.spec7},
                #{option.spec8},
                #{option.spec9},
                #{option.spec10})
            </foreach>
        </if>
    </sql>

    <insert id="insertProduct" parameterType="com.supshop.suppingmall.product.Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Product(
                product_no,
                product_name,
                price,
                registered_date,
                seller_no,
                brand_name,
                category,
                delYn,
                thumbnail,
                picture,
                as_number)
                VALUES (
                #{id},
                #{name},
                #{registeredDate},
                #{seller},
                #{brandName},
                #{category},
                'N',
                #{thumbnail},
                #{picture},
                #{asNumber})
        <include refid="addProductOptions" />
    </insert>

    <update id="deleteProduct" parameterType="com.supshop.suppingmall.product.Product">
        UPDATE Product
        SET
        delYn = 'Y',
        WHERE product_no = #{id}
    </update>

</mapper>
