<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.UserMapper">
    <resultMap id="User" type="com.supshop.suppingmall.user.User" autoMapping="true">
        <id property="userId" column="UserId" />
        <result property="email" column="UserEmail" />
        <result property="password" column="UserPassword" />
        <result property="name" column="Username" />
        <result property="nickName" column="UserNickName" />
        <result property="address" column="UserAddress" />
        <result property="addressDetail" column="UserAddressDetail" />
        <result property="zipCode" column="UserZipCode" />
        <result property="phoneNumber" column="UserPhoneNumber" />
        <result property="createdDate" column="UserCreatedDate" />
        <result property="updatedDate" column="UserUpdatedDate" />
        <result property="role" column="UserRole" typeHandler="com.supshop.suppingmall.user.RoleTypeHandler" />
        <result property="delYn" column="UserDelYn" />
        <result property="shopName" column="ShopName" />
        <result property="shopNumber" column="ShopNumber" />
        <result property="shopAddress" column="ShopAddress" />
        <result property="shopAddressDetail" column="ShopAddressDetail" />
        <result property="shopPostNo" column="ShopPostNo" />
        <result property="type" column="UserType" typeHandler="com.supshop.suppingmall.user.LoginTypeHandler" />
    </resultMap>

    <select id="selectAllUser" resultMap="User">
        SELECT U.user_id AS "UserId", U.email AS "UserEmail", U.password AS "UserPassword", U.type AS "UserType",
        U.name AS "UserName", U.nickname AS "UserNickName",U.address AS "UserAddress",U.address_detail AS "UserAddressDetail", U.zipcode AS "UserZipCode",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.role AS "UserRole", U.delete_yes_or_no AS "UserDelYn", U.shop_name AS "ShopName", U.shop_number AS "ShopNumber",
        U.shop_address AS "ShopAddress", U.shop_address_detail AS "ShopAddressDetail", U.shop_zipcode AS "ShopPostNo"
        FROM User AS U
        <include refid="conditionalSearch"></include>
        ORDER BY U.user_id asc
        limit #{criteria.pageStart}, #{criteria.perPageNum}
    </select>

    <sql id="conditionalSearch">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="type != null and searchValue != null">
                <if test='type.equals("id")'>
                    AND U.user_id LIKE #{searchValue}
                </if>
                <if test='type.equals("email")'>
                    <bind name="searchValue" value="'%'+searchValue+'%'"/>
                    AND U.email LIKE #{searchValue}
                </if>
                <if test='type.equals("name")'>
                    AND U.name = #{searchValue}
                </if>
                <if test='type.equals("nickName")'>
                    AND U.nickName = #{searchValue}
                </if>
            </if>
        </trim>
    </sql>

    <select id="selectUserCount" resultType="int">
        SELECT count(user_id)
        From USER
        WHERE user_id > 0
    </select>

    <select id="selectUser" resultMap="User">
        SELECT U.user_id AS "UserId", U.email AS "UserEmail", U.password AS "UserPassword", U.type AS "UserType",
        U.name AS "UserName", U.nickname AS "UserNickName",U.address AS "UserAddress",U.address_detail AS "UserAddressDetail", U.zipcode AS "UserZipCode",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.role AS "UserRole", U.delete_yes_or_no AS "UserDelYn", U.shop_name AS "ShopName", U.shop_number AS "ShopNumber",
        U.shop_address AS "ShopAddress", U.shop_address_detail AS "ShopAddressDetail", U.shop_zipcode AS "ShopPostNo"
        FROM User AS U
        WHERE U.user_id = #{id}
    </select>

    <select id="selectUserByEmail" resultMap="User">
        SELECT U.user_id AS "UserId", U.email AS "UserEmail", U.password AS "UserPassword", U.type AS "UserType",
        U.name AS "UserName", U.nickname AS "UserNickName",U.address AS "UserAddress",U.address_detail AS "UserAddressDetail", U.zipcode AS "UserZipCode",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.role AS "UserRole", U.delete_yes_or_no AS "UserDelYn", U.shop_name AS "ShopName", U.shop_number AS "ShopNumber",
        U.shop_address AS "ShopAddress", U.shop_address_detail AS "ShopAddressDetail", U.shop_zipcode AS "ShopPostNo"
        FROM User AS U
        WHERE U.email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.supshop.suppingmall.user.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO User(
        email,
        password,
        name,
        nickname,
        address,
        address_detail,
        zipcode,
        phone_number,
        created_date,
        updated_date,
        delete_yes_or_no,
        role,
        type
        )
        VALUES (
        #{email},
        #{password},
        #{name},
        #{nickName},
        #{address},
        #{addressDetail},
        #{zipCode},
        #{phoneNumber},
        now(),
        now(),
        'N',
        #{role, typeHandler=com.supshop.suppingmall.user.RoleTypeHandler},
        #{type, typeHandler=com.supshop.suppingmall.user.LoginTypeHandler}
        )
    </insert>
    
    <update id="updateUser" parameterType="com.supshop.suppingmall.user.User">
        UPDATE User
        SET
        password = #{user.password},
        name = #{user.name},
        nickname = #{user.nickName},
        address = #{user.address},
        address_detail = #{user.addressDetail},
        zipcode = #{user.zipCode},
        phone_number = #{user.phoneNumber},
        updated_date = now()
        WHERE user_id = #{id};
    </update>

    <update id="patchUser" parameterType="com.supshop.suppingmall.user.User">
        UPDATE User
        SET
        <if test="user.name != null">
            name = #{user.name},
        </if>
        <if test="user.nickName != null">
            nickname = #{user.nickName},
        </if>
        <if test="user.address != null">
            address = #{user.address},
        </if>
        <if test="user.addressDetail != null">
            address_detail = #{user.addressDetail},
        </if>
        <if test="user.zipCode != null">
            zipcode = #{user.zipCode},
        </if>
        <if test="user.phoneNumber != null">
            phone_number = #{user.phoneNumber},
        </if>
        <if test="user.role != null">
            role = #{user.role, typeHandler=com.supshop.suppingmall.user.RoleTypeHandler},
        </if>
        <if test="user.type != null">
            type = #{user.type, typeHandler=com.supshop.suppingmall.user.LoginTypeHandler},
        </if>
        <if test="user.delYn != null">
            delete_yes_or_no = #{user.delYn},
        </if>
        updated_date = now()
        WHERE user_id = #{id};
    </update>
    
</mapper>