<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supshop.suppingmall.mapper.UserMapper">
    <resultMap id="User" type="com.supshop.suppingmall.user.User" autoMapping="true">
        <id property="userId" column="UserId" />
        <result property="email" column="UserEmail" />
        <result property="password" column="UserPassword" />
        <result property="name" column="Username" />
        <result property="nickName" column="UserNickName" />
        <result property="address" column="UserAddress" />
        <result property="addressDetail" column="UserAddressDetail" />
        <result property="zipCode" column="UserZipCode" />
        <result property="phoneNumber" column="UserPhoneNumber" />
        <result property="createdDate" column="UserCreatedDate" />
        <result property="updatedDate" column="UserUpdatedDate" />
        <result property="role" column="UserRole" typeHandler="com.supshop.suppingmall.user.RoleTypeHandler" />
        <result property="delYn" column="UserDelYn" />
        <result property="emailConfirmYn" column="UserEmailConfirmationYn" />
        <result property="type" column="UserType" typeHandler="com.supshop.suppingmall.user.LoginTypeHandler" />
        <association property="storeVO" javaType="com.supshop.suppingmall.user.StoreVO">
            <result property="storePrivateNumber" column="StorePrivateNumber" />
            <result property="storeName" column="StoreName" />
            <result property="storePhoneNumber" column="StorePhoneNumber" />
            <result property="storeAddress" column="StoreAddress" />
            <result property="storeAddressDetail" column="StoreAddressDetail" />
            <result property="storeZipCode" column="StoreZipCode" />
            <result property="storeApplyYn" column="StoreApplyYn" />
            <result property="storeRegisteredDate" column="StoreRegisteredDate" />
        </association>
        <association property="userConfirmation" javaType="com.supshop.suppingmall.user.UserConfirmation">
            <result property="confirmToken" column="UserConfirmationToken" />
            <result property="sendDate" column="UserConfirmationSendDate" />
            <result property="confirmDate" column="UserConfirmationDate" />
        </association>
    </resultMap>

    <select id="selectAllUser" resultMap="User">
        SELECT U.user_id AS "UserId", U.email AS "UserEmail", U.password AS "UserPassword", U.type AS "UserType",
        U.name AS "UserName", U.nickname AS "UserNickName",U.address AS "UserAddress",U.address_detail AS "UserAddressDetail", U.zipcode AS "UserZipCode",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.role AS "UserRole", U.delete_yes_or_no AS "UserDelYn", U.store_private_number AS "StorePrivateNumber", U.store_name AS "StoreName",
        U.store_phone_number AS "StorePhoneNumber", U.store_address AS "StoreAddress", U.store_address_detail AS "StoreAddressDetail",
        U.store_zipcode AS "StoreZipCode", U.store_apply_yes_or_no AS "StoreApplyYn"
        FROM User AS U
        <include refid="conditionalSearch"></include>
        ORDER BY U.user_id asc
        limit #{boardCriteria.pageStart}, #{boardCriteria.perPageNum}
    </select>

    <sql id="conditionalSearch">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="type != null and searchValue != null">
                <if test='type.equals("id")'>
                    AND U.user_id LIKE #{searchValue}
                </if>
                <if test='type.equals("email")'>
                    <bind name="searchValue" value="'%'+searchValue+'%'"/>
                    AND U.email LIKE #{searchValue}
                </if>
                <if test='type.equals("name")'>
                    AND U.name = #{searchValue}
                </if>
                <if test='type.equals("nickName")'>
                    AND U.nickName = #{searchValue}
                </if>
            </if>
        </trim>
    </sql>


    <sql id="conditionalSearchStore">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="type != null and searchValue != null">
                <if test='type.equals("id")'>
                    AND U.user_id LIKE #{searchValue}
                </if>
                <if test='type.equals("number")'>
                    AND U.store_private_number = #{searchValue}
                </if>
                <if test='type.equals("name")'>
                    AND U.store_name LIKE #{searchValue}
                </if>
            </if>
        </trim>
    </sql>

    <select id="selectUserCount" resultType="int">
        SELECT count(*)
        From USER
        WHERE user_id > 0
        <include refid="conditionalSearch"></include>
    </select>

    <select id="selectUser" resultMap="User">
        SELECT U.user_id AS "UserId", U.email AS "UserEmail", U.password AS "UserPassword", U.type AS "UserType",
        U.name AS "UserName", U.nickname AS "UserNickName",U.address AS "UserAddress",U.address_detail AS "UserAddressDetail", U.zipcode AS "UserZipCode",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.role AS "UserRole", U.delete_yes_or_no AS "UserDelYn", U.store_private_number AS "StorePrivateNumber", U.store_name AS "StoreName",
        U.store_phone_number AS "StorePhoneNumber", U.store_address AS "StoreAddress", U.store_address_detail AS "StoreAddressDetail",
        U.store_zipcode AS "StoreZipCode", U.store_apply_yes_or_no AS "StoreApplyYn", U.store_registered_date AS "StoreRegisteredDate", U.store_updated_date AS "StoreUpdatedDate"
        FROM User AS U
        WHERE U.user_id = #{id}
    </select>

    <select id="findUserByEmail" resultMap="User">
        SELECT U.user_id AS "UserId", U.email AS "UserEmail", U.password AS "UserPassword", U.type AS "UserType",
        U.name AS "UserName", U.nickname AS "UserNickName",U.address AS "UserAddress",U.address_detail AS "UserAddressDetail", U.zipcode AS "UserZipCode",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.role AS "UserRole", U.delete_yes_or_no AS "UserDelYn", U.store_private_number AS "StorePrivateNumber", U.store_name AS "StoreName",
        U.store_phone_number AS "StorePhoneNumber", U.store_address AS "StoreAddress", U.store_address_detail AS "StoreAddressDetail",
        U.store_zipcode AS "StoreZipCode", U.store_apply_yes_or_no AS "StoreApplyYn", U.email_confirm_yes_or_no
        FROM User AS U
        WHERE U.email = #{email}
    </select>

    <select id="findApplySeller" resultMap="User">
        SELECT U.user_id AS "UserId", U.email AS "UserEmail", U.password AS "UserPassword", U.type AS "UserType",
        U.name AS "UserName", U.nickname AS "UserNickName",U.address AS "UserAddress",U.address_detail AS "UserAddressDetail", U.zipcode AS "UserZipCode",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.role AS "UserRole", U.delete_yes_or_no AS "UserDelYn", U.store_private_number AS "StorePrivateNumber", U.store_name AS "StoreName",
        U.store_phone_number AS "StorePhoneNumber", U.store_address AS "StoreAddress", U.store_address_detail AS "StoreAddressDetail",
        U.store_zipcode AS "StoreZipCode", U.store_apply_yes_or_no AS "StoreApplyYn"
        FROM User AS U
        WHERE U.store_apply_yes_or_no = 'Y'
        ORDER BY U.updated_date asc
        limit #{pageStart}, #{perPageNum}
    </select>

    <insert id="insertUser" parameterType="com.supshop.suppingmall.user.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO User(
        email,
        password,
        name,
        nickname,
        address,
        address_detail,
        zipcode,
        phone_number,
        created_date,
        updated_date,
        delete_yes_or_no,
        email_confirm_yes_or_no,
        role,
        type,
        store_apply_yes_or_no
        )
        VALUES (
        #{email},
        #{password},
        #{name},
        #{nickName},
        #{address},
        #{addressDetail},
        #{zipCode},
        #{phoneNumber},
        now(),
        now(),
        'N',
        'N',
        #{role, typeHandler=com.supshop.suppingmall.user.RoleTypeHandler},
        #{type, typeHandler=com.supshop.suppingmall.user.LoginTypeHandler},
        'N'
        )
    </insert>
    
    <update id="updateUser" parameterType="com.supshop.suppingmall.user.User">
        UPDATE User
        SET
        password = #{user.password},
        name = #{user.name},
        nickname = #{user.nickName},
        address = #{user.address},
        address_detail = #{user.addressDetail},
        zipcode = #{user.zipCode},
        phone_number = #{user.phoneNumber},
        updated_date = now()
        WHERE user_id = #{id};
    </update>

    <update id="patchUser" parameterType="com.supshop.suppingmall.user.User">
        UPDATE User
        SET
        <if test="user.name != null">
            name = #{user.name},
        </if>
        <if test="user.nickName != null">
            nickname = #{user.nickName},
        </if>
        <if test="user.address != null">
            address = #{user.address},
        </if>
        <if test="user.addressDetail != null">
            address_detail = #{user.addressDetail},
        </if>
        <if test="user.zipCode != null">
            zipcode = #{user.zipCode},
        </if>
        <if test="user.phoneNumber != null">
            phone_number = #{user.phoneNumber},
        </if>
        <if test="user.role != null">
            role = #{user.role, typeHandler=com.supshop.suppingmall.user.RoleTypeHandler},
        </if>
        <if test="user.type != null">
            type = #{user.type, typeHandler=com.supshop.suppingmall.user.LoginTypeHandler},
        </if>
        <if test="user.delYn != null">
            delete_yes_or_no = #{user.delYn},
        </if>
        <if test="user.emailConfirmYn != null">
            email_confirm_yes_or_no = #{user.emailConfirmYn},
        </if>
        <if test="user.storeVO != null">
            <if test="user.storeVO.storePrivateNumber != null">
                store_private_number = #{user.storeVO.storePrivateNumber},
            </if>
            <if test="user.storeVO.storeName != null">
                store_name = #{user.storeVO.storeName},
            </if>
            <if test="user.storeVO.storeZipCode != null">
                store_zipcode = #{user.storeVO.storeZipCode},
            </if>
            <if test="user.storeVO.storeAddress != null">
                store_address = #{user.storeVO.storeAddress},
            </if>
            <if test="user.storeVO.storeAddressDetail != null">
                store_address_detail = #{user.storeVO.storeAddressDetail},
            </if>
            <if test="user.storeVO.storeApplyYn != null">
                store_apply_yes_or_no = #{user.storeVO.storeApplyYn},
            </if>
            <if test="user.storeVO.storeRegisteredDate != null">
                store_registered_date = #{user.storeVO.storeRegisteredDate},
            </if>
            store_updated_date = now(),
        </if>
        updated_date = now()
        WHERE user_id = #{id};
    </update>

    <select id="selectAllStore" resultMap="User">
        SELECT U.user_id AS "UserId", U.email AS "UserEmail", U.name AS "UserName", U.nickname AS "UserNickName",
        U.role AS "UserRole", U.delete_yes_or_no AS "UserDelYn", U.store_private_number AS "StorePrivateNumber", U.store_name AS "StoreName",
        U.store_phone_number AS "StorePhoneNumber", U.store_address AS "StoreAddress", U.store_address_detail AS "StoreAddressDetail",
        U.store_zipcode AS "StoreZipCode", U.store_apply_yes_or_no AS "StoreApplyYn", U.store_registered_date AS "StoreRegisteredDate", U.store_updated_date AS "StoreUpdatedDate"
        FROM User AS U
        <include refid="conditionalSearchStore"></include>
        ORDER BY U.user_id asc
    </select>

    <insert id="saveConfirmation" parameterType="com.supshop.suppingmall.user.UserConfirmation" useGeneratedKeys="true" keyProperty="confirmId">
        INSERT INTO user_confirmation (
        user_id,
        send_date,
        confirm_token
        )
        VALUES (
        #{userId},
        now(),
        #{confirmToken}
        )
    </insert>

    <select id="findUserConfirmationById" resultMap="User">
        SELECT U.user_id AS "UserId", U.email AS "UserEmail", U.password AS "UserPassword", U.type AS "UserType",
        U.name AS "UserName", U.nickname AS "UserNickName",U.address AS "UserAddress",U.address_detail AS "UserAddressDetail", U.zipcode AS "UserZipCode",
        U.phone_number AS "UserPhoneNumber", U.created_date AS "UserCreatedDate", U.updated_date AS "UserUpdatedData",
        U.email_confirm_yes_or_no AS "UserEmailConfirmationYn", UC.confirm_token AS "UserConfirmationToken", UC.send_date AS "UserConfirmationSendDate"
        FROM user AS U
        LEFT OUTER JOIN user_confirmation AS UC on (U.user_id = UC.user_id)
        WHERE U.email = #{email}
    </select>
</mapper>