<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <div th:include="fragments/header :: header" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <style>
        ul{
            list-style:none;
            padding: unset;
        }
    </style>
</head>
<body>

<div th:replace="fragments/navigation-fix :: navigation-fix" />
<div class="container-fluid">
    <div class="row">
        <div th:if="${#strings.equals(session.user.getRole(),'SELLER')}">
            <nav th:replace="user/user-left-bar :: user-left-bar" />
        </div>
        <div th:if="${#strings.equals(session.user.getRole(),'ADMIN') || #strings.equals(session.user.getRole(),'MASTER')}">
            <nav th:replace="user/admin/admin-left-bar :: admin-left-bar" />
        </div>
        <div class="col-md-6 ml-sm-auto col-lg-10 p-5">
            <div>
                <div>
                    <h2>판매상품 관리</h2>
                    <a class="btn btn-outline-danger text-right" href="/products/form">물품등록</a>
                </div>
                <hr>
                <table class="table table-default">
                    <tr>
                        <td class="table-secondary">
                            검색분류
                        </td>
                        <td class="form-inline">
                            <select class="form-control form-control-sm">
                                <option th:text="상품명" selected></option>
                            </select>
                            <input class="form-control form-control-sm ml-3" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-secondary">
                            상품구분
                        </td>
                        <td class="form-inline">
                            <input class="form-control form-control-sm" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-secondary">
                            상품분류
                        </td>
                        <td class="form-inline">
                            <input class="form-control form-control-sm" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-secondary">
                            상품등록일
                        </td>
                        <td class="form-inline">
                            <input type="date" id="fromDate" class="form-control form-control-sm">
                            <span class="mx-sm-3">~</span>
                            <input type="date" id="toDate" class="form-control form-control-sm">
                        </td>
                    </tr>
                </table>
                <div class="text-center">
                    <button class="btn btn-primary">검색</button>
                </div>
            </div>
            <div class="mt-5">
                <h3>판매목록</h3>
                <span th:text="@{'등록된 상품 개수 : ' + ${products.size()}}"></span>
                <table class="table table-default mt-3 text-sm">
                    <thead class="table-secondary">
                        <tr>
                            <th>상품번호</th>
                            <th>상품카테고리</th>
                            <th>상품명</th>
                            <th>옵션명</th>
                            <th>재고</th>
                            <th>배송비</th>
                            <th>등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="product : ${products}">
                            <tr th:each="option : ${product?.options}">
                                <td th:text="${product?.productId}"></td>
                                <td th:text="${product?.category.name}"></td>
                                <td>
                                    <a th:href="@{'/products/'+${product.productId}}" style="color: #333333" th:text="${product?.name}"></a>
                                </td>
                                <td th:text="${option?.optionName}"></td>
                                <td th:text="${option?.quantity}"></td>
                                <td th:text="${product?.deliveryPrice}"></td>
                                <td th:text="${product?.registeredDate}"></td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    function search() {
        var fromDate = document.getElementById('fromDate').value;
        var toDate = document.getElementById('toDate').value;
        var status = document.getElementById('status').value;
        console.log("1 : " +fromDate +" 2 :" +toDate);
        $(location).attr('href','/orders/main?fromDate=' + fromDate + '&toDate=' + toDate + '&type=order&status=' + status);
    }
</script>
</body>
</html>