<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />
<body>
<nav th:replace="fragments/navigation :: navigation" />
    <div class="container">
        <form role="form" th:method="delete">
        </form>
        <div class="col-lg-8">
            <div class="container">
                <!-- Title -->
                <h1 class="mt-4" th:text="${board.title}"></h1>

                <!-- Author -->
                <p class="lead">
                    by [[${board.creator.nickName}]]
                </p>

                <hr>

                <!-- Date/Time -->
                <p th:text="${board.createdDate}"></p>

                <hr>

                <!-- Post Content -->

                <p class="lead" th:id="contents" th:utext="${board.contents}"></p>

                <hr>
                <div class="box-footer">
                    <button th:if="${not #strings.isEmpty(session.user?.userId) && board.creator.userId.equals(session.user?.userId)}" type="submit" class="btn btn-warning">수정</button>
                    <button th:if="${not #strings.isEmpty(session.user?.userId) && board.creator.userId.equals(session.user?.userId)}" type="submit" class="btn btn-danger">삭제</button>
                    <button type="submit" class="btn btn-primary">목록</button>
                </div>
                <hr>
            </div>
            <!-- Comments Form -->
            <div class="card my-4" th:id="comment-form">
                <h5 class="card-header">댓글</h5>
                <div class="card-body">
                    <div class="form-group">
                        <textarea class="form-control" th:id="comment-text" rows="3"></textarea>
                    </div>
                    <button class="btn btn-light" th:id="comment-button">댓글달기</button>
                </div>
            </div>

            <div th:each="comment : ${board.comments}" id="comments">
                <!-- Single Comment -->
                <div class="media mb-4" th:value="${comment.commentId}">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0" th:text="${comment.creator.nickName}" th:value="${comment.creator.userId}"></h5>
                        <div class="btn-group"  th:if="${not #strings.isEmpty(session.user?.userId) && comment.creator.userId.equals(session.user?.userId)}">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                수정 / 삭제 / 신고
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:id="comment-update-button">수정</a>
                                <a class="dropdown-item" th:id="comment-delete-button">삭제</a>
                            </div>
                        </div>
                        <p th:text="${comment.contents}"></p>
                    </div>
                </div>
            </div>
            <!-- Comment with nested comments -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>

<script th:inline="javascript">
    $(document).ready(function() {
        var formObj = $("form[role='form']");
        var boardId = [[${board.boardId}]];

        $(".btn-warning").on("click", function() {
            formObj.children().removeAttr("input");
            formObj.attr("action","/boards/"+boardId+"/form");
            formObj.attr("method","get");
            formObj.submit();
        });

        $(".btn-danger").on("click",function() {
            formObj.attr("action","/boards/"+boardId);
            formObj.submit();
        });

        $(".btn-primary").on("click",function() {
            formObj.attr("action","/boards");
            self.location ="/boards";
        });
    });
</script>

<script>

    $(document).ready(function (){
        $("#comment-button").on('click',() => {
            var boardId = [[${board.boardId}]];
            var contents = $('#comment-text').val();
            $.ajax({
                type:"POST",
                url:"/comments",
                dataType: 'text',
                data: JSON.stringify({
                    "boardId": boardId,
                    "contents": contents
                }),
                contentType: 'application/json',
                success: (data) => {
                    console.log(data);
                    var response = JSON.parse(data);
                    var comment_div = '<div id="comments"> </div>';
                    var comment_contents = response.contents;
                    var comment_user_name = response.creator.nickName;
                    var comment =
                        '<div class="media mb-4">\n' +
                        '<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">\n' +
                        '<div class="media-body">\n' +
                        '<h5 class="mt-0">'+comment_user_name+'</h5>\n' +
                        '<p>'+comment_contents+'</p>\n' +
                        '</div>\n' +
                        '</div>';


                    if($("#comments").length > 0) {
                        $("#comments").append(comment);
                    } else {
                        $("#comment-form").after(comment_div);
                        $("#comments").append(comment);
                    }
                }
            });
        });

        $(document).on('click',"#comment-update-button",(e)=> {
            var comment = e.target.parentElement.parentElement.parentElement.parentElement;
            var user_id = e.target.parentElement.parentElement.previousElementSibling.getAttribute('value');
            var comment_text = comment.getElementsByTagName("p").item(0);
            var text = comment_text.innerText;
            comment_text.innerHTML =
                '<div class="form-group">' +
                '<textarea class="form-control" id="update-comment-text" rows="3" >'+text+'</textarea>' +
                '</div>' +
                '<button class="btn btn-primary btn-sm mr-1" id="update-comment-button">수정하기</button>' +
                '<button class="btn btn-light btn-sm" id="cancel-comment-button">취소하기</button>';
        });

        $(document).on('click',"#comment-delete-button",(e)=> {
            var comment = e.target.parentElement.parentElement.parentElement.parentElement;
            var comment_id = comment.getAttribute('value');
            var user_id = e.target.parentElement.parentElement.previousElementSibling.getAttribute('value');

            console.log(user_id);
            $.ajax({
                type:"DELETE",
                url:"/comments/"+comment_id,
                dataType: 'text',
                contentType: 'application/json',
                success: (data) => {
                    console.log(data);
                    comment.remove();
                }
            });
        });

        $(document).on('click',"#update-comment-button",(e)=> {
            console.log("댓글 수정버튼 눌렸다!!");
            var comment = e.target.parentElement.parentElement.parentElement.parentElement;
            var comment_id = comment.getAttribute('value');
            var user_id = e.target.parentElement.parentElement.previousElementSibling.getAttribute('value');

            $.ajax({
                type:"PUT",
                url:"/comments/"+comment_id,
                dataType: 'text',
                contentType: 'application/json',
                success: (data) => {
                    console.log(data);
                    comment.remove();
                }
            });

        });

        $(document).on('click',"#cancel-comment-button",(e)=> {

            var comment = e.target.parentElement.parentElement.parentElement.parentElement;
            var comment_id = comment.getAttribute('value');
            var user_id = e.target.parentElement.parentElement.previousElementSibling.getAttribute('value');

        });

    });



    function isCreator(creator) {
        var sessionId;

        if([[${not #strings.isEmpty(session.user?.userId)}]]) {
            // sessionId = [[${session.user?.userId}]];
        }

        if( sessionId != null && sessionId == creator) {
            return true;
        }
        return false;
    }
</script>

<footer th:include="fragments/footer :: footer" />
</html>