<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />
<body>
<nav th:replace="fragments/navigation :: navigation" />
<div class="container-fluid">
    <div class="row">
        <div th:replace="board/left-sidebar :: left-sidebar" />
        <div class="col-md-6">
            <form role="form" th:method="post">
            </form>
            <div class="pt-5 pd-3 border-bottom">
                <!-- Category -->
                <h4 th:text="${board.category.name}"></h4>
            </div>
            <div>
                <!-- Title -->
                <h3 class="pt-3 pb-3" th:text="${board.title}"></h3>
            </div>
            <div class="bg-light border-top border-dark py-2" style="display: flex">
                <!-- Author -->
                <span class="col-6 lead" th:text="@{${board.creator.nickName} +'님'}"></span>
                <!-- Hit -->
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <img src="/logo/board/eyes.jpg" height="16">
                    <span th:text="@{' '+${board.hit}}"></span>
                </div>
            </div>
            <div class="border">
                <!-- Date/Time -->
                <div class="mb-3 ml-2">
                    <img src="/logo/board/clock.png" height="12">
                    <span class="text-muted" style="font-size: 0.8rem" th:text="${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
                <!-- Post Content -->
                <div class="pd-5 ml-2">
                    <p class="lead" th:id="contents" th:utext="${board.contents}"></p>
                </div>
                <div class="box-footer text-center mb-3">
                    <button sec:authorize="isAuthenticated()"  th:if="${board.creator.userId.equals(#authentication.principal.userId)}" type="submit" class="btn btn-warning">수정</button>
                    <button sec:authorize="isAuthenticated()"  th:if="${board.creator.userId.equals(#authentication.principal.userId)}" type="submit" class="btn btn-danger">삭제</button>
                    <button type="submit" class="btn btn-primary">목록</button>
                </div>
            </div>


            <!-- Comments List -->
            <div class="mt-5">
                <div class="border-bottom border-gray pb-2 mb-3" th:text="@{'댓글 ['+${board.comments.size()}+']'}"></div>
                <div id="comments">
                    <!-- Single Comment -->
                    <div class="media pb-3" th:each="comment : ${board.comments}" th:data-no="${comment.commentId}">
                        <div class="media-body">
                            <div class="bg-light mt-0 d-flex justify-content-between align-items-center w-100">
                                <strong class="ml-2 " th:text="${comment.creator.nickName}" th:value="${comment.creator.userId}"></strong>
                                <small th:text="${#temporals.format(comment.createdDate,'MM-dd HH:mm')}"></small>
                            </div>
                            <div class="btn-group float-right" sec:authorize="isAuthenticated()"  th:if="${comment.creator.userId.equals(#authentication.principal?.userId)}">
                                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    수정 / 삭제 / 신고
                                </button>
                                <div class="dropdown-menu">
                                    <button type="button" class="dropdown-item" th:id="comment-update-button">수정</button>
                                    <button type="button" class="dropdown-item" th:id="comment-delete-button">삭제</button>
                                </div>
                            </div>
                            <p class="ml-2" th:text="${comment.contents}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comments Form -->
            <div class="card my-4" th:id="comment-form">
                <h5 class="card-header">댓글입력</h5>
                <div class="card-body">
                    <div class="form-group">
                        <textarea class="form-control" th:id="comment-text" rows="3"></textarea>
                    </div>
                    <button class="btn btn-light" th:id="comment-button">댓글달기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer" />
</body>
<script th:inline="javascript">
    $(document).ready(function() {
        var formObj = $("form[role='form']");
        var boardId = [[${board.boardId}]];

        $(document).on("click",".btn-warning",function() {
            formObj.children().removeAttr("input");
            formObj.attr("action","/boards/"+boardId+"/form");
            formObj.attr("method","get");
            formObj.submit();
        });

        $(document).on("click",".btn-danger",function() {
            formObj.attr("action","/boards/"+boardId);
            formObj.submit();
        });

        $(document).on("click",".btn-primary",function() {
            formObj.attr("action","/boards");
            self.location ="/boards";
        });
    });
</script>

<script th:inline="javascript">

    $(document).ready(function (){

        $("#comment-button").on('click',() => {
            var boardId = [[${board.boardId}]];
            var contents = $('#comment-text').val();

            console.log(boardId);
            console.log(contents);
            $.ajax({
                type:"POST",
                url:"/comments",
                dataType: 'text',
                data: JSON.stringify({
                    "board" : {
                        "boardId": boardId
                    },
                    "contents": contents
                }),
                contentType: 'application/json',
                success: (data) => {
                    var response = JSON.parse(data);
                    var comment_div = '<div id="comments"> </div>';
                    var comment_contents = response.contents;
                    var comment_user_name = response.creator.nickName;
                    var comment =
                        '<div class="media pb-3" data-no="'+response.commentId+'">\n' +
                        '<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">\n' +
                        '<div class="media-body">\n' +
                        '<h5 class="mt-0">'+comment_user_name+'</h5>\n' +
                        '<div class="btn-group float-right">\n' +
                        '<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\n' +
                        '수정 / 삭제 / 신고\n' +
                        '</button>\n' +
                        '<div class="dropdown-menu">\n' +
                        '<button type="button" class="dropdown-item" id="comment-update-button">수정</button>\n' +
                        '<button type="button" class="dropdown-item" id="comment-delete-button">삭제</button>\n' +
                        '</div>\n' +
                        '</div>' +
                        '<p>'+comment_contents+'</p>\n' +
                        '</div>\n' +
                        '</div>';

                    $("#comments").append(comment);
                },
                error: () => {
                    alert('댓글 생성오류');
                }

            });
        });


        $(document).on('click',"#comment-text",() => {
            console.log([[${#authentication.principal}]] );
            if([[${#authentication.principal}]] === "anonymousUser") {
                var check = confirm("로그인 하시겠습니까?");
                if(check == true) {
                    window.location.href='/users/loginform';
                }
            }
        });


        var text = 0;

        $(document).on('click',"#comment-update-button",(e)=> {
            var comment = e.target.parentElement.parentElement.parentElement.parentElement;
            var user_id = e.target.parentElement.parentElement.previousElementSibling.getAttribute('value');
            var comment_text = comment.getElementsByTagName("p").item(0);
            text = comment_text.innerText;
            comment_text.innerHTML =
                '<div class="form-group">' +
                '<textarea class="form-control" id="update-comment-text" rows="3" >'+text+'</textarea>' +
                '<button type="button" class="btn btn-success btn-sm mr-1" id="update-comment-button">수정하기</button>' +
                '<button type="button" class="btn btn-light btn-sm" id="cancel-comment-button">취소하기</button>'
            '</div>';
        });


        $(document).on('click',"#comment-delete-button",(e)=> {
            var comment = e.target.parentElement.parentElement.parentElement.parentElement;
            var comment_id = comment.getAttribute('data-no');
            // var user_id = e.target.parentElement.parentElement.previousElementSibling.getAttribute('value');

            $.ajax({
                type:"DELETE",
                url:"/comments/"+comment_id,
                contentType: 'application/json',
                success: () => {
                    comment.remove();
                }
            });
        });

        $(document).on('click',"#update-comment-button",(e)=> {
            var comment = e.target.parentElement.parentElement.parentElement.parentElement;
            var comment_id = comment.getAttribute('data-no');
            var comment_text = comment.getElementsByTagName("p").item(0);
            var message = e.target.parentElement.getElementsByTagName("textarea").item(0).value;

            $.ajax({
                type:"PUT",
                url:"/comments/"+comment_id,
                dataType: 'text',
                data: JSON.stringify({
                    "contents": message
                }),
                contentType: 'application/json',
                success: () => {
                    comment_text.innerText = message;
                }
            });

        });

        $(document).on('click',"#cancel-comment-button",(e)=> {
            var comment = e.target.parentElement.parentElement.parentElement.parentElement;
            var comment_text = comment.getElementsByTagName("p").item(0);
            comment_text.innerText = text;
            text = "";
        });

    });
</script>
</html>