<div class="col-md-3 ml-md-5 sidebar bg-white" th:fragment="left-sidebar" style="max-width: 200px; max-height: 600px">
    <!-- NAVBAR -->
    <nav class="navbar flex-sm-column navbar-light">
        <div class="sidebar-sticky">
            <!-- Nav -->
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards'}">
                        전체농장
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards?categoryId=24'}">
                        <img src="/logo/board/apple.png" height="16">
                        사과농장
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards?categoryId=25'}">
                        <img src="/logo/board/samsung.png" height="16">
                        별세개농장
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards?categoryId=26'}">
                        <img src="/logo/board/lg.png" height="16">
                        가전은역시농장
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards?categoryId=27'}">
                        외노기농장
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards?categoryId=28'}">
                        대륙의실수농장
                    </a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards?categoryId=91'}">
                        최신IT뉴스
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards?categoryId=92'}">
                        자랑게시판
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards?categoryId=93'}">
                        나의노하우
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{'/boards?categoryId=24'}">
                        질문게시판
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>