<div class="col-12 col-lg-auto ml-md-5 mr-md-5 sidebar" th:fragment="left-sidebar">
    <!-- NAVBAR -->
    <nav class="navbar flex-sm-column navbar-light">
        <div class="sidebar-sticky">
            <!-- Nav -->
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-dark" data-toggle="collapse" href="#sidenavHome" aria-expanded="true">
                        사과농장
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" data-toggle="collapse" href="#sidenavCatalog" aria-expanded="false">
                        별세개농장
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" data-toggle="collapse" href="#sidenavShop" aria-expanded="false">
                        가전은역시농장
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" data-toggle="collapse" href="#sidenavPages">
                        외노기농장
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" data-toggle="collapse" href="#sidenavBlog">
                        대륙의실수농장
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>