<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" >
</head>
<body>
    <nav th:replace="fragments/navigation :: navigation" />
    <div class="container">

        <table class="table table-default">
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>생성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.boardId}"/>
                    <td><a th:text="${board.title}" th:href="@{'/boards/'+${board.boardId}}"></a>  [ [[${#lists.size(board.comments)}]] ]</td>
                    <td th:text="${board.creator.nickName}" />
                    <td th:text="${board.createdDate}" />
                </tr>
            </tbody>
        </table>
        <a href="/boards/form" class="btn btn-primary float-right">글쓰기</a>
    </div>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:if="${pageMaker.prev}" th:href="@{'/boards?page='+${pageMaker.startPage - 1}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="idx : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}" th:if="${pageMaker.criteria.page.equals(idx) ? 'class = active': ''}"><a class="page-link" th:href="@{'/boards?page='+${idx}}">[[${idx}]]</a></li>
                <li class="page-item" th:if="${not #strings.isEmpty(pageMaker.startPage) && pageMaker.endPage > 0}">
                    <a class="page-link" th:href="@{'/boards?page='+${pageMaker.endPage + 1}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


</body>
<footer th:include="fragments/footer :: footer" />
</html>