<div class="col-12 col-lg-auto ml-md-5 mr-md-5" th:fragment="right-navigation">

    <!-- NAVBAR -->
    <nav class="navbar flex-sm-column navbar-light">
        <div class="container-fluid">

            <!-- Nav -->
            <ul class="navbar-nav font-size-lg mb-6 my-lg-12" id="sidenavParent">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#sidenavHome" aria-expanded="true">
                        사과
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#sidenavCatalog" aria-expanded="false">
                        별세개
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#sidenavShop" aria-expanded="false">
                        lg
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#sidenavPages">
                        Pages
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#sidenavBlog">
                        Blog
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>