<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: header" />
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
    <style>
        .ck.ck-editor__editable {
            min-height: 300px;
        }

    </style>
</head>
<body>
<nav th:replace="fragments/navigation :: navigation" />
    <div class="container">
        <form role="form" th:method="post" th:action="@{/boards/{id}(id=${board.boardId})}" >
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input th:type="hidden" th:name="boardId" th:value="${board.boardId}" >
            <input th:type="hidden" th:name="creator.userId" th:value="${#authentication?.principal.userId}" >
            <input th:type="hidden" th:name="imagesUrl" id="imagesUrl">
            <input type="hidden" name="_method" value="put">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">게시글 수정</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input class="form-control" type="text" name="title" placeholder="제목" th:value="${board.title}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea th:name="contents" id="editor" th:text="${board.contents}"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><input type="file" name=""></td>
                </tr>
                </tbody>
            </table>
            <input class="btn btn-success" type="submit" value="수정하기">
        </form>
    </div>
<footer class="cusFooter" th:include="fragments/footer :: footer" />
</body>
<script th:inline="javascript">
    $(document).ready(function () {

        var header = [[${_csrf.headerName}]];
        var token = [[${_csrf.token}]];
        const userId = [[${#authentication?.principal.userId}]];
        let theEditor;
        ClassicEditor
            .create( document.querySelector('#editor'), {
                language: "ko"
            })
            .then( editor => {
                editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                    return new MyUploadAdapter(loader);
                };
                theEditor = editor;
            })
            .catch(function (error) {
                console.log(error);
            });


        class MyUploadAdapter {

            constructor(loader) {
                this.loader = loader;
            }
            upload() {
                return this.loader.file
                    .then(file => new Promise((resolve, reject) => {
                        this._initRequest();
                        this._initListeners(resolve, reject, file);
                        this._sendRequest(file);
                    }));
            }

            abort() {
                if (this.xhr) { this.xhr.abort(); }
            }

            _initRequest() {
                const xhr = this.xhr = new XMLHttpRequest();
                xhr.open('POST', '/images/board/'+userId, true);
                xhr.responseType = 'json';
            }

            _initListeners(resolve, reject, file) {
                const xhr = this.xhr;
                const loader = this.loader;
                const genericErrorText = `Couldn't upload file: ${ file.name }.`;
                xhr.addEventListener('error', () => reject(genericErrorText));
                xhr.addEventListener('abort', () => reject());
                xhr.addEventListener('load', () => {
                    const response = xhr.response;
                    if (!response || response.error) {
                        return reject(response && response.error ? response.error.message : genericErrorText);
                    }
                    resolve({
                        default: response.url
                    });
                });

                if (xhr.upload) {
                    xhr.upload.addEventListener('progress', evt => {
                        if (evt.lengthComputable) {
                            loader.uploadTotal = evt.total;
                            loader.uploaded = evt.loaded;
                        }
                    });
                }
            }

            _sendRequest(file) {
                const data = new FormData();
                data.append('file', file);
                this.xhr.setRequestHeader(header,token);
                this.xhr.send(data);
            }
        }

        $("form").submit(function () {
            let images = Array.from( new DOMParser().parseFromString( theEditor.getData(), 'text/html')
                .querySelectorAll( 'img' ) )
                .map( img => img.getAttribute( 'src' ));

            images.forEach(element => console.log(element));
            let urls = document.getElementById('imagesUrl');
            urls.value = images;

            return true;
        });

    });
</script>
</html>