<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" >
<body>
<nav th:replace="fragments/navigation :: navigation" />
    <div class="container">
        <form role="form" method="post" th:action="@{/boards/{id}(id=${board.boardId})}" >
            <input type="hidden" name="_method" value="put">
            <div class="table table-default">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="writer">writer</label>
                        <input id="writer" type="text" name="writer" class="form-control" th:value="${board.creator.nickName}" readonly="readonly">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="created">작성일</label>
                        <input id="created" type="text" name="writer" class="form-control" th:value="${board.createdDate}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" type="text" name="title" class="form-control" th:value="${board.title}">
                </div>
                <div class="form-group">
                    <label for="contents">Content</label>
                    <textarea id="contents" rows="3" class="form-control" name="content" th:field="${board.contents}"></textarea>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-warning">Complete</button>
                <button type="submit" class="btn btn-danger">Cancle</button>
            </div>
        </form>
    </div>
</body>
</html>