<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: header" />
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <style>
        input[type="text"]:read-only {
            background: #ffffff;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="row mb-3">
        <div class="col-md-8 order-md-1  mx-auto">

            <form class="needs-validation mt-5" name="user" th:id="user">
                <table class="table table-default">
                    <tbody>
                    <tr>
                        <th>이메일</th>
                        <td>
                            <input type="text" class="form-control is-valid" th:value="${user.email}" name="email" id="email">
                            <div class="invalid-feedback" id="validEmail">
                                유효한 이메일 주소를 입력해야합니다.
                            </div>
                            <div class="invalid-feedback" id="duplicateEmail">
                                중복 확인이 필요합니다.
                            </div>
                            <input type="button" class="btn btn-outline-secondary mt-4" id="emailCheck" value="중복확인">
                        </td>
                    </tr>
                    <tr>
                        <th>가입일</th>
                        <td th:text="${user.createdDate}" />
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>
                            <input type="text" class="form-control" id="name" placeholder="고객님의 이름을 입력해주세요" th:value="${user.name}" name="name">
                        </td>
                    </tr>
                    <tr>
                        <th>별명</th>
                        <td>
                            <input type="text" class="form-control" id="nickName" placeholder="사용하실 별명을 입력해주세요" th:value="${user.nickName}" name="nickName">
                        </td>
                    </tr>
                    <tr>
                        <th>핸드폰번호</th>
                        <td>
                            <select id="phoneFirst" class="custom-select">
                                <option th:selected="${#strings.substring(user.phoneNumber,0,3).equals('010')}" value="010">010</option>
                                <option th:selected="${#strings.substring(user.phoneNumber,0,3).equals('011')}" value="011">011</option>
                                <option th:selected="${#strings.substring(user.phoneNumber,0,3).equals('018')}" value="018">018</option>
                                <option th:selected="${#strings.substring(user.phoneNumber,0,3).equals('019')}" value="019">019</option>
                            </select>
                            <input type="text" class="form-control" th:value="${#strings.substring(user.phoneNumber,3,7)}" id="phoneMiddle">
                            <input type="text" class="form-control" th:value="${#strings.substring(user.phoneNumber,7,11)}" id="phoneLast">
                            <input type="hidden" id="phone" name="phoneNumber">
                            <input type="button" class="btn btn-outline-secondary mt-4" id="verifyPhone" value="핸드폰 인증">
                        </td>
                    </tr>
                    <tr>
                        <th>우편번호</th>
                        <td>
                            <input type="text" class="form-control" id="zip" th:value="${user.zipCode}" name="zipCode" readonly>
                            <input type="button" class="btn btn-outline-secondary mt-4" id="search_address" value="우편번호 찾기">
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>
                            <input type="text" class="form-control" id="address" th:value="${user.address}" name="address" readonly>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>상세주소</th>
                        <td>
                            <input type="text" class="form-control" id="addressDetail" placeholder="상세주소를 기입해주세요" th:value="${user.addressDetail}" name="addressDetail">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input class="btn btn-primary btn-block" th:id="updateButton" th:value="수정">
            </form>
        </div>
    </div>
</div>
</body>
<footer th:include="fragments/footer :: footer" />

<script>
    let checkEmailResult = true;
    let checkPhoneResult = true;
    let checkAddressResult = true;

    const email = getElement('email');
    const validation = getElement("validEmail");
    const duplication = getElement("duplicateEmail");
    let first = getElementValue("phoneFirst");
    let middle = getElementValue("phoneMiddle");
    let last = getElementValue("phoneLast");
    let phone = getElement("phone");
    var sum = first + middle + last;
    phone.setAttribute('value',sum);


    function check(re, what) {
        if(re.test(what.value)) {
            return true;
        }
    }

    function getElement(id) {
        return document.getElementById(id);
    }

    function getElementValue(id) {
        return document.getElementById(id).value;
    }

    $(document).on('change keyup paste','#email', function () {
        var reEmail = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;

        checkEmailResult = false;

        if(check(reEmail, email)) {
            validation.className = "valid-feedback";
        } else {
            validation.className = "invalid-feedback";
            duplication.className = "invalid-feedback";
            email.className = "form-control is-invalid";
        }

    });

    $(document).on('click','#emailCheck',function () {

        if(validation.className === "valid-feedback") {
            var emailval = email.value;
            $.ajax({
                type:"GET",
                url:"/users/emails/"+emailval,
                contentType: 'application/json',
                success: (data) => {
                    if(data) {
                        duplication.className = "valid-feedback";
                        email.className = "form-control is-valid";
                        checkEmailResult = true;
                    } else {
                        duplication.className = "invalid-feedback";
                        email.className = "form-control is-invalid";
                        alert("아이디가 중복됩니다.");
                    }
                }
            });
        } else {
            alert("유효성을 만족하지 않습니다.");
        }
    });

    $(document).on('change keyup paste','#password', function () {
        var rePassword = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,15}$/;


        if(check(rePassword, password)) {
            password.className = "form-control is-valid";
        } else {
            password.className = "form-control is-invalid";
        }
    });

    $(document).on('click',"#verifyPhone",function () {

        var rePhone = /^(?:(010-\d{4})|(01[1|6|7|8|9]\d{3,4}))(\d{4})$/;

        var sum = first + middle + last;

        if (rePhone.test(sum)) {
            alert("인증되었습니다.");
            phone.setAttribute('value',sum);
            checkPhoneResult = true;
        } else {
            alert("인증되지 않았습니다");
        }

    });

    $(document).on('change',"#phoneFirst",function () {
        checkPhoneResult = false;
    });

    $(document).on('change',"#phoneMiddle",function () {
        checkPhoneResult = false;
    });

    $(document).on('change',"#phoneLast",function () {
        checkPhoneResult = false;
    });

    $(document).on('click',"#search_address",function () {

        var zipcode;
        var address;

        new daum.Postcode({
            popupName: 'postcodePopup',
            theme: {
                searchBgColor: "#0B65C8", //검색창 배경색
                queryTextColor: "#FFFFFF" //검색창 글자색
            },
            autoClose: false,

            oncomplete: function(data) {
                zipcode = data.zonecode;
                if(data.userSelectedType === "R") {
                    address = data.roadAddress;
                } else if(data.userSelectedType === "J") {
                    address = data.jibunAddress;
                }

                document.getElementById("zip").setAttribute("value",zipcode);
                document.getElementById("address").setAttribute("value",address);

            },

            onclose: function(state) {
                //state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
                if(state === 'FORCE_CLOSE'){
                    //사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.
                    checkAddressResult = false;

                } else if(state === 'COMPLETE_CLOSE'){
                    //사용자가 검색결과를 선택하여 팝업창이 닫혔을 경우, 실행될 코드를 작성하는 부분입니다.
                    //oncomplete 콜백 함수가 실행 완료된 후에 실행됩니다.
                    checkAddressResult = true;
                }
            }
        }).open();
    });

    function checkAllValidation() {
        if(checkEmailResult && checkPhoneResult && checkAddressResult) {
            return true;
        } else {
            var point;
            if(!checkEmailResult) {
                point = "email";
                email.focus();
            } else if(!checkPhoneResult) {
                point = "phone";
                document.getElementById("phoneFirst").focus();
            } else if(!checkAddressResult) {
                point = "address";
                document.getElementById("zipcode").focus();
            }
            return false;
        }
    }
</script>
<script>
    $(document).on('click','#updateButton',function () {

        checkAllValidation();
        var userData = $('#user').serializeObject();
        var userId = [[${user.userId}]];

        $.ajax({
            type: 'PATCH',
            url: "/users/"+userId,
            data: JSON.stringify(userData),
            dataType: 'text',
            contentType: 'application/json',
            success: () => {
                window.opener.location.reload();
                window.close();
            },
            error: (response, error) => {
                alert("서버에 문제가 있습니다.")
            }
        })
    });
</script>
<script>
    jQuery.fn.serializeObject = function() {
        var obj = null;
        try {
            if(this[0].tagName && this[0].tagName.toUpperCase() == "FORM" ) {
                var arr = this.serializeArray();
                if(arr){ obj = {};
                jQuery.each(arr, function() { obj[this.name] = this.value; });
                }
            }
        } catch(e) {
            alert(e.message);
        } finally {}
        return obj;
    }
</script>
</html>