<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: header" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
</head>
<body>
<div th:replace="fragments/navigation-fix :: navigation-fix" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar" th:if="${#strings.equals(#authentication.principal.role,'SELLER')|| #strings.equals(#authentication.principal.role,'USER')}">
            <nav th:replace="user/user-left-bar :: user-left-bar" />
        </div>
        <div class="col-md-2 d-none d-md-block bg-light sidebar" th:if="${#strings.equals(#authentication.principal.role,'ADMIN') || #strings.equals(#authentication.principal.role,'MASTER')}">
            <nav th:replace="user/admin/admin-left-bar :: admin-left-bar" />
        </div>
        <div class="col-md-6 ml-sm-auto col-lg-8 p-5">
            <div class="container pr-5">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mt-5">
                    <h1 class="h2">회원정보 수정</h1>
                </div>
                <table class="table table-default">
                    <tbody>
                        <tr>
                            <th>이메일</th>
                            <td class="form-inline" th:text="${user.email}"></td>
                        </tr>
                        <tr>
                            <th>등급</th>
                            <td class="form-inline" th:text="${user.role.title}"></td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td class="form-inline" th:text="${user.name}"></td>
                        </tr>
                        <tr>
                            <th>별명</th>
                            <td class="form-inline" th:text="${user.nickName}"></td>
                        </tr>
                        <tr>
                            <th>핸드폰번호</th>
                            <td class="form-inline" th:text="${user.phoneNumber}"></td>
                        </tr>
                        <tr>
                            <th>우편번호</th>
                            <td class="form-inline" th:text="${user.zipCode}"></td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td class="form-inline" th:text="${user.address}"></td>
                        </tr>
                        <tr>
                            <th>상세주소</th>
                            <td class="form-inline" th:text="${user.addressDetail}"></td>
                        </tr>
                        <tr>
                            <th>가입일</th>
                            <td th:text="${#temporals.format(user.createdDate,'yyyy-MM-dd')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <button class="btn btn-primary" id="update">회원정보변경</button>
                <button class="btn btn-primary" id="passwordUpdate">비밀번호변경</button>
                <button class="btn btn-primary" id="signOut">회원탈퇴</button>
            </div>
        </div>
        <div class="col-md-2">
            여기도 광고?
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer" />
<script th:inline="javascript">
    $(document).ready(function (){

        var userId = [[${user.userId}]]

        $(document).on('click','#update',() => {
            window.location.replace('/users/'+userId+'/updateForm');
        })

        $(document).on('click','#passwordUpdate',() => {
            window.location.replace('/users/'+userId+'/passwordForm');
        })

        $(document).on('click','#signOut',() => {
            window.location.replace('/users/'+userId+'/signout');
        })

    });
</script>
</body>
</html>