<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: header" />
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
</head>
<body>
<div th:replace="fragments/navigation-fix :: navigation-fix" />
<div class="container-fluid">
    <div class="row">
        <div th:replace="user/left-bar"></div>
        <div class="col-md-6 ml-sm-auto col-lg-8 p-5">
            <div class="container pr-5">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mt-5">
                    <h1 class="h2">비밀번호 수정</h1>
                </div>
                <form class="needs-validation"  novalidate="" name="passwordForm">
                    <table class="table table-default">
                        <tbody>
                            <tr>
                                <th>비밀번호</th>
                                <td class="form-row">
                                    <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요" name="password">
                                </td>
                            </tr>
                            <tr>
                                <th>새 비밀번호</th>
                                <td class="form-row">
                                    <input type="password" class="form-control is-invalid" id="newPassword" placeholder="새 비밀번호를 입력하세요" name="newPassword">
                                    <div class="invalid-feedback">
                                        영문,숫자,특수문자를 조합한 8자리 이상을 입력하세요
                                    </div>
                                    <div class="valid-feedback">
                                        적합한 비밀번호입니다.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>새 비밀번호확인</th>
                                <td class="form-row">
                                    <input type="password" class="form-control is-invalid" placeholder="새 비밀번호를 한번 더 입력하세요" id="newPasswordCheck" name="newPasswordCheck">
                                    <div class="invalid-feedback">
                                        입력한 비밀번호와 일치하지 않습니다.
                                    </div>
                                    <div class="valid-feedback">
                                        입력한 비밀번호와 일치합니다.
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input class="btn btn-primary btn-block" id="update" type="button" value="수정"/>
                </form>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer" />
</body>
<script th:inline="javascript">

    $(document).ready(function () {

        const newPassword = document.getElementById('newPassword');
        const newPasswordCheck = document.getElementById('newPasswordCheck');

        let checkPasswordResult = false;

        function check(re, what) {
            if (re.test(what.value)) {
                return true;
            }
        }

        $(document).on('change keyup paste', '#newPassword', function () {
            var rePassword = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,15}$/;


            if (check(rePassword, newPassword)) {
                newPassword.className = "form-control is-valid";
            } else {
                newPassword.className = "form-control is-invalid";
            }
        });

        $(document).on('change keyup paste', '#newPasswordCheck', function () {


            if (newPassword.value === newPasswordCheck.value) {
                newPasswordCheck.className = "form-control is-valid";
                checkPasswordResult = true;
            } else {
                newPasswordCheck.className = "form-control is-invalid";
                checkPasswordResult = false;
            }
        });

        function checkAllValidation() {
            if (checkPasswordResult) {
                return true;
            } else {
                var point;
                if (!checkPasswordResult) {
                    point = "password";
                    password.focus();
                }
                return false;
            }
        }


        $(document).on('click', '#update', () => {
            var header = [[${_csrf.headerName}]];
            var token = [[${_csrf.token}]];
            var userId = [[${user.userId}]];

            if(checkAllValidation()) {
                if (confirm("수정하시겠습니까?")) {
                    var inputData = $("form[name=passwordForm]").serializeObject();
                    console.log(inputData);
                    $.ajax({
                        type: 'PUT',
                        url: '/users/'+userId+'/password',
                        data: JSON.stringify(inputData),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Content-type","application/json");
                            xhr.setRequestHeader(header,token);
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.responseText);
                        },
                        success: function (json) {
                            window.location.href = '/users/'+userId;
                        }
                    });
                }
            }
        });

        jQuery.fn.serializeObject = function() {
            var obj = null;
            try {
                if(this[0].tagName && this[0].tagName.toUpperCase() == "FORM" ) {
                    var arr = this.serializeArray();
                    if(arr){ obj = {};
                        jQuery.each(arr, function() {
                            obj[this.name] = this.value; });
                    }
                }
            }catch(e) {
                alert(e.message);
            }finally {}
            return obj;
        }

    });


</script>
</html>