<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: header" />
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <style>
        input[type="text"]:read-only {
            background: #ffffff;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navigation :: navigation" />
    <div class="container mb-5">
        <div class="position-relative overflow-hidden p-1 mb-5 text-center bg-light">
            <div class="p-lg-5 mx-auto my-2">
                <h1 class="display-4 font-weight-normal">회원가입</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-9 orders-md-1  mx-auto">
                    <div>
                        <p class="lead">이미 아이디를 가지고 계시다구요?</p>
                    </div>
                    <div>
                        <p class="lead">그렇다면 <a href="/users/findAccountForm" class="lead">이 곳에서 찾으세요</a></p>
                    </div>
                <form class="needs-validation mt-5"  novalidate="" th:action="@{/users}" method="post" name="user" onsubmit="return checkAllValidation()">
                    <input type="hidden" name="role" value="USER">
                    <input type="hidden" name="type" value="LOCAL">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <label for="email">Email <span class="text-muted">(이 것이 아이디가 될겁니다.)</span></label>
                            <input type="email" class="form-control is-invalid" id="email" name="email" placeholder="you@example.com">
                            <div class="invalid-feedback" id="validEmail">
                                유효한 이메일 주소를 입력해야합니다.
                            </div>
                            <div class="invalid-feedback" id="duplicateEmail">
                                중복 확인이 필요합니다.
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <input type="button" class="btn btn-outline-secondary mt-4" id="emailCheck" value="중복확인">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control is-invalid" id="password" placeholder="비밀번호를 입력하세요" name="password">
                            <div class="invalid-feedback">
                                영문,숫자,특수문자를 조합한 8자리 이상을 입력하세요
                            </div>
                            <div class="valid-feedback">
                                적합한 비밀번호입니다.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="passwordcheck">비밀번호확인</label>
                            <input type="password" class="form-control is-invalid" placeholder="비밀번호를 한번 더 입력하세요" id="passwordcheck">
                            <div class="invalid-feedback">
                                입력한 비밀번호와 일치하지 않습니다.
                            </div>
                            <div class="valid-feedback">
                                입력한 비밀번호와 일치합니다.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name">이 름</label>
                            <input type="text" class="form-control" id="name" placeholder="회원님의 이름을 입력해주세요" name="name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="nickName">별 명</label>
                            <input type="text" class="form-control" id="nickName" placeholder="사용하실 별명을 입력해주세요" name="nickName">
                        </div>
                    </div>

                    <hr class="mb-4">


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="phoneFirst">핸드폰 번호</label>
                            <div class="input-group mb-3">
                                <select id="phoneFirst" class="custom-select">
                                    <option selected value="010">010</option>
                                    <option value="011">011</option>
                                    <option value="018">018</option>
                                    <option value="019">019</option>
                                </select>
                                <input type="text" class="form-control" id="phoneMiddle">
                                <input type="text" class="form-control" id="phoneLast">
                                <input type="hidden" id="phone" name="phoneNumber">
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <input type="button" class="btn btn-outline-secondary mt-4" id="verifyPhone" value="핸드폰 인증">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" name="zipCode" readonly>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <input type="button" class="btn btn-outline-secondary mt-4" id="search_address" value="우편번호 찾기">
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="address">주소</label>
                        <input type="text" class="form-control" id="address" name="address" readonly>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address2">상세주소 </label>
                        <input type="text" class="form-control" id="address2" placeholder="상세주소를 기입해주세요" name="addressDetail">
                    </div>


                    <hr class="mb-4">
                    <input class="btn btn-primary btn-block" type="submit" value="회원가입"/>
                </form>
            </div>
        </div>
    </div>
<footer th:include="fragments/footer :: footer" />
</body>
<script>

    $(document).ready(function() {

        let checkEmailResult = false;
        let checkPasswordResult = false;
        let checkPhoneResult = false;
        let checkAddressResult = false;

        const email = document.getElementById('email');
        const validation = document.getElementById("validEmail");
        const duplication = document.getElementById("duplicateEmail");
        const password = document.getElementById('password');
        const passwordcheck = document.getElementById('passwordcheck');

        function check(re, what) {
            if(re.test(what.value)) {
                return true;
            }
        }


        $(document).on('change keyup paste','#email', function () {
            var reEmail = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;

            checkEmailResult = false;

            if(check(reEmail, email)) {
                validation.className = "valid-feedback";
            } else {
                validation.className = "invalid-feedback";
                duplication.className = "invalid-feedback";
                email.className = "form-control is-invalid";
            }

        });

        $(document).on('click','#emailCheck',function () {

            if(validation.className === "valid-feedback") {
                var emailval = email.value;
                $.ajax({
                    type:"GET",
                    url:"/users/emails/"+emailval,
                    contentType: 'application/json',
                    success: (data) => {
                        if(data) {
                            duplication.className = "valid-feedback";
                            email.className = "form-control is-valid";
                            checkEmailResult = true;
                        } else {
                            duplication.className = "invalid-feedback";
                            email.className = "form-control is-invalid";
                            alert("아이디가 중복됩니다.");
                        }
                    }
                });
            } else {
                alert("유효성을 만족하지 않습니다.");
            }
        });

        $(document).on('change keyup paste','#password', function () {
            var rePassword = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,15}$/;


            if(check(rePassword, password)) {
                password.className = "form-control is-valid";
            } else {
                password.className = "form-control is-invalid";
            }
        });

        $(document).on('change keyup paste','#passwordcheck', function () {


            if(password.value === passwordcheck.value) {
                passwordcheck.className = "form-control is-valid";
                checkPasswordResult = true;
            } else {
                passwordcheck.className = "form-control is-invalid";
                checkPasswordResult  = false;
            }
        });


        $(document).on('click',"#verifyPhone",function () {

            var rePhone = /^(?:(010\d{4})|(01[1|6|7|8|9]\d{3,4}))(\d{4})$/;


            var first = document.getElementById("phoneFirst").value;
            var middle = document.getElementById("phoneMiddle").value;
            var last = document.getElementById("phoneLast").value;
            var phone = document.getElementById("phone")

            var sum = first + middle + last;

            if (rePhone.test(sum)) {
                alert("인증되었습니다.");
                phone.setAttribute('value',sum);
                checkPhoneResult = true;
            } else {
                alert("인증되지 않았습니다");
            }

        });

        $(document).on('change',"#phoneFirst",function () {
            checkPhoneResult = false;
        });

        $(document).on('change',"#phoneMiddle",function () {
            checkPhoneResult = false;
        });

        $(document).on('change',"#phoneLast",function () {
            checkPhoneResult = false;
        });

        $(document).on('click',"#search_address",function () {

            var zipcode;
            var address;

            new daum.Postcode({
                popupName: 'postcodePopup',
                theme: {
                    searchBgColor: "#0B65C8", //검색창 배경색
                    queryTextColor: "#FFFFFF" //검색창 글자색
                },
                autoClose: false,

                oncomplete: function(data) {
                    zipcode = data.zonecode;
                    if(data.userSelectedType === "R") {
                        address = data.roadAddress;
                    } else if(data.userSelectedType === "J") {
                        address = data.jibunAddress;
                    }

                    $('#zip').val(zipcode);
                    $('#address').val(address);
                },

                onclose: function(state) {
                    //state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
                    if(state === 'FORCE_CLOSE'){
                        //사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.
                        checkAddressResult = false;

                    } else if(state === 'COMPLETE_CLOSE'){
                        //사용자가 검색결과를 선택하여 팝업창이 닫혔을 경우, 실행될 코드를 작성하는 부분입니다.
                        //oncomplete 콜백 함수가 실행 완료된 후에 실행됩니다.
                        checkAddressResult = true;
                    }
                }
            }).open();
        });

        function checkAllValidation() {
            if(checkEmailResult && checkPasswordResult && checkPhoneResult && checkAddressResult) {
                return true;
            } else {

                if(!checkEmailResult) {
                    email.focus();
                } else if(!checkPasswordResult) {
                    password.focus();
                } else if(!checkPhoneResult) {
                    document.getElementById("phoneFirst").focus();
                } else if(!checkAddressResult) {
                    document.getElementById("zipcode").focus();
                }
                return false;
            }
        }
    });

</script>
</html>