<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: header" />
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
</head>
<body>
<div th:replace="fragments/navigation-fix :: navigation-fix" />
<div class="container-fluid">
    <div class="row">
        <nav th:replace="user/user-left-bar :: user-left-bar" />
        <div class="col-md-6 ml-sm-auto col-lg-8 p-5">
            <div class="container px-5">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mt-5">
                    <h1 class="h2">회원정보 수정</h1>
                </div>
                <form class="needs-validation"  novalidate="" th:action="@{/users/{id}(id=${user.userId})}" method="post" name="user" onsubmit="return checkAllValidation()">
                    <input type="hidden" th:name="_method" th:value="PUT">
                    <table class="table table-default">
                        <tbody>
                        <tr>
                            <th>이메일</th>
                            <td class="form-inline">
                                <input type="text" class="form-control is-valid" th:value="${user.email}" name="email" id="email">
                                <div class="invalid-feedback" id="validEmail">
                                    유효한 이메일 주소를 입력해야합니다.
                                </div>
                                <div class="invalid-feedback" id="duplicateEmail">
                                    중복 확인이 필요합니다.
                                </div>
                                <input type="button" class="btn btn-outline-secondary ml-3" id="emailCheck" value="중복확인">
                            </td>
                        </tr>
                        <tr>
                            <th>가입일</th>
                            <td th:text="${user.createdDate}" />
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td class="form-row">
                                <input type="password" class="form-control is-invalid" id="password" placeholder="비밀번호를 입력하세요" name="password">
                                <div class="invalid-feedback">
                                    영문,숫자,특수문자를 조합한 8자리 이상을 입력하세요
                                </div>
                                <div class="valid-feedback">
                                    적합한 비밀번호입니다.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호확인</th>
                            <td class="form-row">
                                <input type="password" class="form-control is-invalid" placeholder="비밀번호를 한번 더 입력하세요" id="passwordcheck">
                                <div class="invalid-feedback">
                                    입력한 비밀번호와 일치하지 않습니다.
                                </div>
                                <div class="valid-feedback">
                                    입력한 비밀번호와 일치합니다.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td class="form-row">
                                <input type="text" class="form-control" id="name" placeholder="고객님의 이름을 입력해주세요" th:value="${user.name}" name="name">
                            </td>
                        </tr>
                        <tr>
                            <th>별명</th>
                            <td class="form-row">
                                <input type="text" class="form-control" id="nickName" placeholder="사용하실 별명을 입력해주세요" th:value="${user.nickName}" name="nickName">
                            </td>
                        </tr>
                        <tr>
                            <th>핸드폰번호</th>
                            <td class="form-row">
                                <div class="col">
                                    <select id="phoneFirst" class="custom-select">
                                        <option th:selected="${#strings.substring(user.phoneNumber,0,3).equals('010')}" value="010">010</option>
                                        <option th:selected="${#strings.substring(user.phoneNumber,0,3).equals('011')}" value="011">011</option>
                                        <option th:selected="${#strings.substring(user.phoneNumber,0,3).equals('018')}" value="018">018</option>
                                        <option th:selected="${#strings.substring(user.phoneNumber,0,3).equals('019')}" value="019">019</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" th:value="${#strings.substring(user.phoneNumber,3,7)}" id="phoneMiddle">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" th:value="${#strings.substring(user.phoneNumber,7,11)}" id="phoneLast">
                                </div>
                                <div class="col">
                                    <input type="button" class="btn btn-outline-secondary" id="verifyPhone" value="핸드폰 인증">
                                </div>
                                <input type="hidden" id="phone" name="phoneNumber">
                            </td>
                        </tr>
                        <tr>
                            <th>우편번호</th>
                            <td class="form-inline">
                                <input type="text" class="form-control" id="zip" th:value="${user.zipCode}" name="zipCode" readonly>
                                <input type="button" class="btn btn-outline-secondary ml-3" id="search_address" value="우편번호 찾기">
                            </td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <input type="text" class="form-control" id="address" th:value="${user.address}" name="address" readonly>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>상세주소</th>
                            <td>
                                <input type="text" class="form-control" id="addressDetail" placeholder="상세주소를 기입해주세요" th:value="${user.addressDetail}" name="addressDetail">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input class="btn btn-primary btn-block" type="submit" value="수정"/>
                </form>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

</body>
<footer th:include="fragments/footer :: footer" />

<script>
    let checkEmailResult = true;
    let checkPasswordResult = false;
    let checkPhoneResult = true;
    let checkAddressResult = true;

    const email = getElement('email');
    const validation = getElement("validEmail");
    const duplication = getElement("duplicateEmail");
    const password = getElement('password');
    const passwordcheck = getElement('passwordcheck');

    function check(re, what) {
        if(re.test(what.value)) {
            return true;
        }
    }

    function getElement(id) {
        return document.getElementById(id);
    }

    function getElementValue(id) {
        return document.getElementById(id).value;
    }

    $(document).on('change keyup paste','#email', function () {
        var reEmail = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;

        checkEmailResult = false;

        if(check(reEmail, email)) {
            validation.className = "valid-feedback";
        } else {
            validation.className = "invalid-feedback";
            duplication.className = "invalid-feedback";
            email.className = "form-control is-invalid";
        }

    });

    $(document).on('click','#emailCheck',function () {

        if(validation.className === "valid-feedback") {
            var emailval = email.value;
            $.ajax({
                type:"GET",
                url:"/users/emails/"+emailval,
                contentType: 'application/json',
                success: (data) => {
                    if(data) {
                        duplication.className = "valid-feedback";
                        email.className = "form-control is-valid";
                        checkEmailResult = true;
                    } else {
                        duplication.className = "invalid-feedback";
                        email.className = "form-control is-invalid";
                        alert("아이디가 중복됩니다.");
                    }
                }
            });
        } else {
            alert("유효성을 만족하지 않습니다.");
        }
    });

    $(document).on('change keyup paste','#password', function () {
        var rePassword = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,15}$/;


        if(check(rePassword, password)) {
            password.className = "form-control is-valid";
        } else {
            password.className = "form-control is-invalid";
        }
    });

    $(document).on('change keyup paste','#passwordcheck', function () {


        if(password.value === passwordcheck.value) {
            passwordcheck.className = "form-control is-valid";
            checkPasswordResult = true;
        } else {
            passwordcheck.className = "form-control is-invalid";
            checkPasswordResult  = false;
        }
    });


    $(document).on('click',"#verifyPhone",function () {

        var rePhone = /^(?:(010\d{4})|(01[1|6|7|8|9]\d{3,4}))(\d{4})$/;


        var first = getElementValue("phoneFirst");
        var middle = getElementValue("phoneMiddle");
        var last = getElementValue("phoneLast");
        var phone = getElement("phone");

        var sum = first + middle + last;

        if (rePhone.test(sum)) {
            alert("인증되었습니다.");
            phone.setAttribute('value',sum);
            checkPhoneResult = true;
        } else {
            alert("인증되지 않았습니다");
        }

    });

    $(document).on('change',"#phoneFirst",function () {
        checkPhoneResult = false;
    });

    $(document).on('change',"#phoneMiddle",function () {
        checkPhoneResult = false;
    });

    $(document).on('change',"#phoneLast",function () {
        checkPhoneResult = false;
    });

    $(document).on('click',"#search_address",function () {

        var zipcode;
        var address;

        new daum.Postcode({
            popupName: 'postcodePopup',
            theme: {
                searchBgColor: "#0B65C8", //검색창 배경색
                queryTextColor: "#FFFFFF" //검색창 글자색
            },
            autoClose: false,

            oncomplete: function(data) {
                zipcode = data.zonecode;
                if(data.userSelectedType === "R") {
                    address = data.roadAddress;
                } else if(data.userSelectedType === "J") {
                    address = data.jibunAddress;
                }

                document.getElementById("zip").setAttribute("value",zipcode);
                document.getElementById("address").setAttribute("value",address);

            },

            onclose: function(state) {
                //state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
                if(state === 'FORCE_CLOSE'){
                    //사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.
                    checkAddressResult = false;

                } else if(state === 'COMPLETE_CLOSE'){
                    //사용자가 검색결과를 선택하여 팝업창이 닫혔을 경우, 실행될 코드를 작성하는 부분입니다.
                    //oncomplete 콜백 함수가 실행 완료된 후에 실행됩니다.
                    checkAddressResult = true;
                }
            }
        }).open();
    });

    function checkAllValidation() {
        if(checkEmailResult && checkPasswordResult && checkPhoneResult && checkAddressResult) {
            return true;
        } else {
            var point;
            if(!checkEmailResult) {
                point = "email";
                email.focus();
            } else if(!checkPasswordResult) {
                point = "password";
                password.focus();
            } else if(!checkPhoneResult) {
                point = "phone";
                document.getElementById("phoneFirst").focus();
            } else if(!checkAddressResult) {
                point = "address";
                document.getElementById("zipcode").focus();
            }
            return false;
        }
    }
</script>
</html>