<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <div th:include="fragments/header :: header" />
    <style>
        ul{
            list-style:none;
            padding: unset;
            border-top: 1px solid #ededed;
            margin-top: 1rem;
        }
        li{
            list-style:none;
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<header th:replace="product/product-nav-dark :: product-nav-dark" />
<div class="container-fluid p-5">
    <div>
        <h3>배송/주문상세정보</h3>
    </div>
    <div>
        <table class="table table-default border-bottom">
            <thead>
            <tr class="text-center">
                <th>상품주문번호</th>
                <th>상품정보</th>
                <th>상품금액(수량)</th>
                <th class="bg-light border">배송비/판매자정보</th>
                <th class="bg-light border" colspan="2">진행상황</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,iter : ${orderItemList}">
                <td class="text-center align-middle" th:text="${item.orderItemId}"></td>
                <td>
                    <div class="row">
                        <a href="#">
                            <img th:src="${item.product.thumbnail}" style="width: 90px; height: 90px">
                        </a>
                        <div class="ml-3">
                            <a href="#" th:text="${item.product.name}" class="text-dark" style="font-size: 16px">
                            </a>
                            <br>
                            <span class="text-muted" th:text="@{'옵션명 : '+${item.productOption.optionName}}" style="font-size: 13px"></span>
                        </div>
                    </div>
                </td>
                <td class="text-center align-middle">
                    <span th:text="@{${#numbers.formatInteger(item.price,3,'COMMA')}+'원'}" class="text-dark" style="font-size: 13px;"></span>
                    <br>
                    <span th:text="@{'('+${item.count}+'개)'}" style="font-size: 13px;"></span>
                </td>
                <td class="bg-light border align-middle text-center">
                    <span class="text-muted" th:text="${item.seller.storeVO?.storeName}"></span>
                    <br>
                    <span class="text-muted" th:text="@{'('+${item.seller.storeVO?.storePhoneNumber}+')'}" style="font-size: 13px;"></span>
                </td>
                <td class="bg-light border align-middle text-center">
                    <span th:unless="${#strings.equals(item.status,'DELIVERY')}" th:text="${item.status.title}"></span>
                    <div th:if="${#strings.equals(item.status,'DELIVERY')}">
                        <span th:text="${item.delivery.status.title}"></span>
                        <br>
                        <button th:if="${not #strings.equals(item.delivery.status,'WAIT')}" class="btn btn-success btn-sm" href="#">배송조회</button>
                        <a class="form-control" href="#" th:href="'javascript:getDeliveryForm('+${item.delivery.deliveryId}+')'" th:if="${#strings.equals(item.delivery.status,'WAIT')}">송장등록</a>
                    </div>
                </td>
                <td class="bg-light border align-middle text-center">
                    <div th:if="${#strings.equals(item.status,'DELIVERY')}">
                        <a class="btn btn-danger btn-sm" href="#">반품신청</a>
                        <br>
                        <a class="btn btn-warning btn-sm mt-1" href="#">교환신청</a>
                    </div>
                    <div th:if="${#strings.equals(item.status,'ORDER')}">
                        <a class="btn btn-danger btn-sm" href="#">결제취소</a>
                    </div>
                    <div th:if="${#strings.equals(item.status,'REFUND')}">
                        <a class="btn btn-danger btn-sm" href="#">반품확인</a>
                    </div>
                    <div th:if="${#strings.equals(item.status,'CHANGE')}">
                        <a class="btn btn-danger btn-sm" href="#">교환완료</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row mt-5">
            <div class="col-12 col-lg-6">
                <h4>주문자 정보</h4>
                <table class="table table-default">
                    <tr>
                        <th>주문자</th>
                        <td th:text="${orderItemList.get(0).buyer.name}"></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td th:text="${orderItemList.get(0).buyer.phoneNumber}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-lg-6">
                <h4>배송지 정보</h4>
                <table class="table table-default">
                    <tr>
                        <th>수령인</th>
                        <td th:text="${orderItemList.get(0).delivery.name}"></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td th:text="${orderItemList.get(0).delivery.phone}"></td>
                    </tr>
                    <tr>
                        <th>배송지</th>
                        <td>
                            <span th:text="${orderItemList.get(0).delivery.zipCode}"></span>
                            <span th:text="${orderItemList.get(0).delivery.address}"></span>
                            <span th:text="${orderItemList.get(0).delivery?.addressDetail}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>배송메모</th>
                        <td th:text="${orderItemList.get(0).delivery?.memo}"></td>
                    </tr>
                    <tr th:if="${#strings.equals(orderItemList.get(0).delivery.status,'DELIVERY')}">
                        <th>택배사</th>
                        <td th:text="${orderItemList.get(0).delivery.vendor}"></td>
                    </tr>
                    <tr th:if="${#strings.equals(orderItemList.get(0).delivery.status,'DELIVERY')}">
                        <th>송장번호</th>
                        <td th:text="${orderItemList.get(0).delivery.trackingNumber}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-info" href="/orders/seller/main">목록</a>
    </div>
</div>
</body>
<script>
    function getDeliveryForm(deliveryId) {
        window.open("/delivery/"+deliveryId+"/form","_blank","width=500,height=600,left=500,top=100,menubar=no,toolbar=no,location=no");
    }
</script>
</html>