<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <div th:include="fragments/header :: header" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
    <style>
        ul{
            list-style:none;
            padding: unset;
        }
    </style>
</head>
<body>

<div th:replace="fragments/navigation-fix :: navigation-fix" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar" th:if="${#strings.equals(#authentication.principal.role,'SELLER')}">
             <nav th:replace="user/user-left-bar :: user-left-bar" />
        </div>
        <div class="col-md-2 d-none d-md-block bg-light sidebar" th:if="${#strings.equals(#authentication.principal.role,'ADMIN') || #strings.equals(#authentication.principal.role,'MASTER')}">
            <nav th:replace="user/admin/admin-left-bar :: admin-left-bar" />
        </div>
        <div class="col-md-6 ml-sm-auto col-lg-8 p-5">
            <div class="product">
                <div class="d-flex flex-column flex-md-row align-items-center mb-3 bg-white border-bottom">
                    <div class="row align-items-center">
                        <div class="col-sm mb-2 mb-sm-0">
                            <h3 class="page-header-title">주문 현황</h3>
                        </div>
                    </div>
                </div>
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">주문확인</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                                    </svg>
                                    <h1>[[${info.get('check')}]] <small class="text-muted">건</small></h1>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">배송준비중</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-box-seam" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                                    </svg>
                                    <h1>[[${info.get('wait')}]] <small class="text-muted">건</small></h1>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">배송중</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                    </svg>
                                    <h1>[[${info.get('delivery')}]] <small class="text-muted">건</small></h1>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">배송완료</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                        <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                    </svg>
                                    <h1>[[${info.get('complete')}]] <small class="text-muted">건</small></h1>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">교환/환불</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                                    </svg>
                                    <h1>[[${info.get('change')}]] <small class="text-muted">건</small></h1>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table class="d-flex p-3 my-3 bg-light rounded shadow-sm mt-5 border">
                    <tr>
                        <td>
                            <div class="row row-cols-3 ml-3">
                                <input type="date" id="fromDate" class="form-control col">
                                <span class="col">~</span>
                                <input type="date" id="toDate" class="form-control col">
                            </div>
                        </td>
                        <td>
                            <select class="form-control ml-4" id="orderStatus">
                                <option th:text="전체상태" value="" selected></option>
                                <option th:each="orderStatus : ${orderStatusList}" th:text="${orderStatus.title}" th:value="${orderStatus}"></option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control ml-4" id="deliveryStatus">
                                <option th:text="전체상태" value="" selected></option>
                            </select>
                        </td>
                        <td>
                            <a class="btn btn-success ml-5" href="javascript:search()">조회</a>
                        </td>
                    </tr>
                </table>
                <ul class="mt-5">
                    <li th:each="orderItem : ${orderItemList}" class="row border-bottom m-4 pb-4">
                        <div class="col row">
                            <a th:href="@{'/orders/'+${orderItem.orders.orderId}+'/seller'}">
                                <img th:src="${orderItem.product.thumbnail}" style="width: 90px; height: 90px">
                            </a>
                            <div class="ml-3">
                                <a th:href="@{'/orders/'+${orderItem.orders.orderId}+'/seller'}" style="text-decoration: none;">
                                    <span th:text="${orderItem.product.name}" class="text-dark" style="font-size: 16px"></span>
                                    <ul class="container row">
                                        <li>
                                            <span th:text="@{${#numbers.formatInteger(orderItem.price,3,'COMMA')}+'원'}" class="text-dark" style="font-size: 13px;"></span>
                                        </li>
                                        <li>
                                            <span th:text="${#temporals.format(orderItem.orderedDate,'yyyy-MM-dd HH:mm')}" class="text-muted" style="font-size: 13px; display: inline-block; padding-left: 11px"></span>
                                        </li>
                                    </ul>
                                    <div>
                                        <span th:if="${not #strings.equals(orderItem.status,'DELIVERY')}" th:text="${orderItem.status.title}" class="text-dark" style="font-size: 16px"></span>
                                        <span th:if="${#strings.equals(orderItem.status,'DELIVERY')}" th:text="${orderItem.delivery.status.title}" class="text-dark" style="font-size: 16px"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-auto text-center align-items-center">
                            <span th:text="${orderItem.buyer.name}"></span>
                            <br>
                            <span class="text-muted" th:text="@{'('+${orderItem.buyer.phoneNumber}+')'}" style="font-size: 14px"></span>
                        </div>
                        <div class="col col-lg-2 align-items-center text-center">
                            <div th:if="${#strings.equals(orderItem.status,'DELIVERY') and #strings.equals(orderItem.delivery?.status,'DELIVERY')}">
                                <span th:text="${orderItem.delivery.vendor.title}"></span>
                                <span th:text="@{'('+${orderItem.delivery.trackingNumber}+')'}"></span>
                            </div>
                            <div th:if="${#strings.equals(orderItem.status,'ORDER')}">
                                <a class="form-control" href="#" th:onclick="'checkTheOrder('+${orderItem.orderItemId}+'); return false;'" th:id="${orderItem.orderItemId}">주문확인</a>
                            </div>
                            <div th:if="${#strings.equals(orderItem.status,'DELIVERY') and #strings.equals(orderItem.delivery.status,'WAIT')}">
                                <a class="form-control" href="#" th:onclick="'getDeliveryForm('+${orderItem.delivery.deliveryId}+'); return false;'">송장등록</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="container d-flex justify-content-center mb-3 text-small">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mx-auto">
                            <li class="page-item">
                                <a class="page-link" th:if="${pageMaker.prev}" th:href="@{'/orders/seller/main?page='+${pageMaker.startPage - 1}+'&fromData='+${fromDate != null ? fromDate :''}+'&toDate='+${toDate != null ? toDate:''}+'&type='+${type != null ? type:''}+'&status='+${status != null ? status:''}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="idx : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}" th:classappend="${pageMaker.criteria.page} == ${idx} ? active">
                                <a class="page-link" th:href="@{'/orders/seller/main?page='+${idx}+'&fromData='+${fromDate != null ? fromDate :''}+'&toDate='+${toDate != null ? toDate:''}+'&type='+${type != null ? type:''}+'&status='+${status != null ? status:''}} " th:text="${idx}"></a>
                            </li>
                            <li class="page-item" th:if="${pageMaker.next && pageMaker.endPage > 0}">
                                <a class="page-link" th:href="@{'/orders/seller/main?page='+${pageMaker.endPage + 1}+'&fromData='+${fromDate != null ? fromDate :''}+'&toDate='+${toDate != null ? toDate:''}+'&type='+${type != null ? type:''}+'&status='+${status != null ? status:''}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
</body>
<footer th:replace="fragments/footer :: footer" />
<script th:inline="javascript">

    $(document).ready(function (){
        var deliveryStatusList = [[${deliveryStatusList}]];
        $(document).on('change','#orderStatus',function (){
            let value = document.getElementById('orderStatus').value;
            if(value === 'DELIVERY') {
                setDeliveryOption(deliveryStatusList);
            } else {
                let deliverySelect = document.getElementById('deliveryStatus');
                while (deliverySelect.childNodes.length > 2) {
                    deliverySelect.removeChild(deliverySelect.lastChild);
                }
            }
        });

    });

    function setDeliveryOption(status) {
        for(var key in status){
            var option = document.createElement('option');
            option.text = status[key];
            option.value = key;
            document.getElementById('deliveryStatus').appendChild(option);
        }
    }

    function search() {
        var fromDate = document.getElementById('fromDate').value;
        var toDate = document.getElementById('toDate').value;
        var status;
        var type;
        var orderStatus = document.getElementById('orderStatus').value;

        if(orderStatus === 'DELIVERY') {
            type = "delivery"
            status = document.getElementById('deliveryStatus').value;
        } else if(orderStatus !== ''){
            type = "order"
            status = orderStatus;
        } else {
            type = '';
            status = '';
        }

        $(location).attr('href','/orders/seller/main?fromDate=' + fromDate + '&toDate=' + toDate +'&type='+type+'&status='+status);
    }

    function checkTheOrder(orderItemId){

        var header = [[${_csrf.headerName}]];
        var token = [[${_csrf.token}]];


        $.ajax({
            type: 'POST',
            url: '/orders/'+orderItemId+'/seller/status/check',
            dataType: 'text',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Content-type","application/json");
                xhr.setRequestHeader(header,token);
            },
            success: () => {
                alert("주문확인 완료, 배송을 준비해 주세요");
                window.location.reload();
            },
            error: (response, error) => {
                alert("주문확인에 실패 했습니다. 다시 시도해주세요")
            }
        });

        return;
    }

    function getDeliveryForm(deliveryId) {
        window.open("/delivery/"+deliveryId+"/form","_blank","width=500,height=600,left=500,top=100,menubar=no,toolbar=no,location=no");
    }

</script>
</html>