<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <div th:include="fragments/header :: header" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
    <style>
        ul{
            list-style:none;
            padding: unset;
        }
    </style>
</head>
<body>

<div th:replace="fragments/navigation-fix :: navigation-fix" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
            <nav th:replace="user/user-left-bar :: user-left-bar" th:if="${#strings.equals(#authentication.principal.role,'USER')}"/>
        </div>
        <div class="col-md-6 ml-sm-auto col-lg-8 p-5">
            <table class="d-flex p-3 my-3 bg-light rounded shadow-sm mt-5 border">
                <tr>
                    <td>
                        <div class="row row-cols-3 ml-3">
                            <input type="date" id="fromDate" class="form-control col">
                            <span class="col">~</span>
                            <input type="date" id="toDate" class="form-control col">
                        </div>
                    </td>
                    <td>
                        <select class="form-control ml-4" id="status">
                            <option th:text="전체상태" value="" selected></option>
                            <option th:each="status : ${statusList}" th:text="${status.title}" th:value="${status}"></option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-success ml-5" href="javascript:search()">조회</a>
                    </td>
                </tr>
            </table>
            <ul class="mt-5">
                <li th:each="orderItem : ${orderItemList}" class="row border-bottom mt-4 pb-4">
                    <div class="col row">
                        <a th:href="@{'/orders/'+${orderItem.orders.orderId}}">
                            <img th:src="${orderItem.product.thumbnail}" style="width: 90px; height: 90px">
                        </a>
                        <div class="ml-3">
                            <a th:href="@{'/orders/'+${orderItem.orders.orderId}}" style="text-decoration: none;">
                                <span th:text="${orderItem.product.name}" class="text-dark" style="font-size: 16px"></span>
                                <ul class="container row">
                                    <li>
                                        <span th:text="@{${#numbers.formatInteger(orderItem.price,3,'COMMA')}+'원'}" class="text-dark" style="font-size: 13px;"></span>
                                    </li>
                                    <li>
                                        <span th:text="${#temporals.format(orderItem.orderedDate,'yyyy-MM-dd HH:mm')}" class="text-muted" style="font-size: 13px; display: inline-block; padding-left: 11px"></span>
                                    </li>
                                </ul>
                                <div>
                                    <span th:if="${not #strings.equals(orderItem.status,'DELIVERY')}" th:text="${orderItem.status.title}" class="text-dark" style="font-size: 16px"></span>
                                    <span th:if="${#strings.equals(orderItem.status,'DELIVERY')}" th:text="${orderItem.delivery.status.title}" class="text-dark" style="font-size: 16px"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-auto text-center align-items-center">
                        <span th:text="${orderItem.seller.storeVO?.storeName}"></span>
                        <br>
                        <span class="text-muted" th:text="${orderItem.seller.storeVO?.storePhoneNumber}"></span>
                    </div>
                    <div class="col col-lg-2  align-items-center" th:if="${#strings.equals(orderItem.status,'ORDER')}">
                        <a class="form-control text-center" th:href="'javascript:cancel('+${orderItem.orderItemId}+')'" th:id="${orderItem.orderItemId}" th:text="구매취소"></a>
                    </div>
                    <div class="col col-lg-2  align-items-center" th:if="${#strings.equals(orderItem.status,'DELIVERY')}">
                        <a class="form-control text-center" th:href="@{'/products/'+${orderItem.orderItemId}+'/'}" th:text="교환요청"></a>
                        <a class="form-control text-center" th:href="@{'/orders/'+${orderItem.orderItemId}+'/refundForm'}" th:text="환불요청"></a>
                        <a class="form-control text-center" th:href="@{'/products/'+${orderItem.orderItemId}+'/complete'}" th:text="구매확정"></a>
                    </div>
                    <div class="col col-lg-2  align-items-center" th:if="${#strings.equals(orderItem.status,'COMPLTE')}">
                        <a class="form-control text-center" th:href="@{'/orders/'+${orderItem.orderItemId}+'/review'}" th:text="리뷰작성"></a>
                        <a class="form-control text-center" th:href="@{'/products/'+${orderItem.product.productId}+'/reorder'}" th:text="재구매"></a>
                    </div>
                    <div class="col col-lg-2  align-items-center" th:if="${#strings.equals(orderItem.status,'REFUND') or #strings.equals(orderItem.status,'CHANGE')}">

                    </div>
                    <div class="col col-lg-2  align-items-center" th:if="${#strings.equals(orderItem.status,'CANCEL')}">

                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<script th:inline="javascript">

   function search() {
        var fromDate = document.getElementById('fromDate').value;
        var toDate = document.getElementById('toDate').value;
       var status = document.getElementById('status').value;
        $(location).attr('href','/orders/main?fromDate=' + fromDate + '&toDate=' + toDate + '&type=order&status=' + status);
    }

    function cancel(orderItemId) {

       var header = [[${_csrf.headerName}]];
       var token = [[${_csrf.token}]];

        if (confirm("취소하시겠습니까?")) {

            $.ajax({
                type: 'POST',
                url: '/orders/'+orderItemId+'/cancel',
                dataType: 'text',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-type","application/json");
                    xhr.setRequestHeader(header,token);
                },
                success: () => {
                    alert("주문취소 되었습니다.");
                    document.getElementById(orderItemId).remove();
                },
                error: (response, error) => {
                    alert("주문취소에 실패했습니다.")
                }
            });

        }


    }

</script>
</body>
</html>