<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <div th:include="fragments/header :: header" />
</head>
<body>
    <header th:replace="product/product-nav-dark :: product-nav-dark" />
    <div class="p-5">
        <h1 class="p-3">반품접수가 완료 되었습니다.</h1>
        <table class="table table-default border-bottom">
            <thead>
            <tr class="text-center">
                <th>상품주문번호</th>
                <th>상품정보</th>
                <th>상품금액(수량)</th>
                <th class="bg-light border">배송비/판매자정보</th>
                <th>총 금액</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center align-middle" th:text="${orderItem.orderItemId}"></td>
                <td>
                    <div class="row">
                        <a th:href="@{'/products/'+${orderItem.product.productId}}">
                            <img th:src="${orderItem.product.thumbnail}" style="width: 90px; height: 90px">
                        </a>
                        <div class="ml-3">
                            <a th:href="@{'/products/'+${orderItem.product.productId}}" th:text="${orderItem.product.name}" class="text-dark" style="font-size: 16px">
                            </a>
                            <br>
                            <span class="text-muted" th:text="@{'옵션명 : '+${orderItem.productOption.optionName}}" style="font-size: 13px"></span>
                        </div>
                    </div>
                </td>
                <td class="text-center align-middle">
                    <span th:text="@{${#numbers.formatInteger(orderItem.price,3,'COMMA')}+'원'}" class="text-dark" style="font-size: 13px;"></span>
                </td>
                <td class="bg-light border align-middle text-center">
                    <span th:text="@{${#numbers.formatInteger(orderItem.product?.deliveryPrice,3,'COMMA')}+'원'}"></span>
                    <br>
                    <span class="text-muted" th:text="${orderItem.seller.storeVO?.storeName}"></span>
                    <br>
                    <span class="text-muted" th:text="@{'('+${orderItem.seller.storeVO?.storePhoneNumber}+')'}" style="font-size: 13px;"></span>
                </td>
                <td class="align-middle text-center">
                    <strong th:text="@{${#numbers.formatInteger(orderItem.price,3,'COMMA')}+'원'}"></strong>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="container mt-5 text-center">
            <a class="btn btn-primary" href="/products/">상품리스트로</a>
            <a class="btn btn-primary" href="/orders/main">주문내역으로</a>
        </div>
    </div>
</body>
</html>