<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <div th:include="fragments/header :: header" />
    <style>
        ul{
            list-style:none;
            padding: unset;
        }
    </style>
</head>
<body>

<header th:replace="product/product-nav-dark :: product-nav-dark" />
<div class="container mt-5">
    <h3>주문내역</h3>
    <div class="border">

    </div>
    <ul>
        <li th:each="order : ${orders}" class="row border-bottom mt-4 pb-4">
            <div class="col row">
                <a th:href="@{'/orders/'+${order.orderId}}">
                    <img th:src="${order.orderItems[0].product.thumbnail}" style="width: 90px; height: 90px">
                </a>
                <div class="ml-3">
                    <a th:href="@{'/orders/'+${order.orderId}}" style="text-decoration: none;">
                        <span th:text="${order.orderItems[0].product.name}" class="text-dark" style="font-size: 16px"></span>
                        <ul class="container row">
                            <li>
                                <span th:text="@{${#numbers.formatInteger(order.getAmountPrice(),3,'COMMA')}+'원'}" class="text-dark" style="font-size: 13px;"></span>
                            </li>
                            <li>
                                <span th:text="${order.orderDate}" class="text-muted" style="font-size: 13px; display: inline-block; padding-left: 11px"></span>
                            </li>
                        </ul>
                        <div>
                            <span th:text="${order.status.title}" class="text-dark" style="font-size: 16px"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-auto">
                <span th:text="${order.seller.storeVO?.storeName}"></span>
                <span th:text="${order.seller.storeVO?.storePhoneNumber}"></span>
            </div>
            <div class="col col-lg-2  d-flex align-items-center">
                <button class="btn btn-light">재구매</button>
            </div>
        </li>
    </ul>
</div>
</body>
</html>